<template>
  <div class="agencyBrand">
    <div class="container">
      <div class="top">
        <div class="title">代理品牌 <span>为您精选品牌供应商</span></div>
        <!-- <router-link to="" class="more">更多</router-link> -->
      </div>
      <div class="list">
        <swiper :options="swiperOption" ref="mySwiper">
          <swiper-slide>
            <div class="box">
              <div class="item" v-for="(item, index) of picList" :key="index">
                <img :src="item.litpic" alt="" />
              </div>
            </div>
          </swiper-slide>
          <!-- <div class="swiper-pagination" slot="pagination"></div> -->
        </swiper>
      </div>
    </div>
  </div>
</template>
<script>
import { swiper, swiperSlide } from "vue-awesome-swiper";
import "swiper/dist/css/swiper.css";
export default {
  name: "agencyBrand",
  data() {
    return {
      swiperOption: {
        // loop: true,
        autoplay: {
          delay: 3000,
          stopOnLastSlide: false,
          disableOnInteraction: false,
        },
        // 显示分页
        pagination: {
          el: ".swiper-pagination",
          clickable: true, //允许分页点击跳转
        },
      },
      picList: [],
    };
  },
  components: {
    swiper, //定义组件
    swiperSlide,
  },
  mounted() {
    this.$axios.post("/api/index.php?m=home&c=Lists&a=brand").then((res) => {
      console.log(res);
      this.picList = res.data.res;
    });
  },
  methods: {},
  computed: {
    swiper() {
      return this.$refs.mySwiper.swiper;
    },
  },
};
</script>
<style lang="scss" scoped>
.agencyBrand {
  width: 100%;
  background: #fff;
  padding: 57px 0 60px;
  .container {
    .top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-size: 36px;
        color: #333;
        line-height: 42px;
        span {
          font-size: 18px;
          color: #999;
          margin-left: 10px;
        }
      }
      .more {
        line-height: 18px;
        color: #999;
      }
    }
    .list {
      width: 100%;
      margin-top: 26px;
      padding-top: 30px;
      border-top: 1px solid #e5e5e5;
      .box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .item {
          width: 14.285%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fff;
          margin-bottom: 10px;
          // &:nth-child(2n) {
          //   background: #f5f5f5;
          // }
        }
      }
    }
  }
}

.list ::v-deep .swiper-container {
  padding-bottom: 57px;
}
.list ::v-deep .swiper-pagination {
  font-size: 0;
  bottom: 20px;
}
.list ::v-deep .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  background: none;
  opacity: 1;
}
.list ::v-deep .swiper-pagination-bullet-active {
  background: #208fb9;
  border: 2px solid #208fb9;
}
</style>
