<template>
  <div>
    <!-- 头部 -->
    <webHeader></webHeader>
    <!-- 面包屑导航 -->
    <div id="c-navigation" class="bg-color2">
      <div class="container">
        <ul class="c-list">
          <li><router-link to="/">首页</router-link><span></span></li>
          <li>
            <router-link to="/PrivacyPolicy">{{ data.title }}</router-link
            ><span></span>
          </li>
        </ul>
      </div>
    </div>
    <!-- 隐私政策 -->
    <div id="c-policy" class="bg-color2">
      <div class="container">
        <div class="c-main bg-color1">
          <h1 class="c-title">{{ data.title }}</h1>
          <div class="c-text-box" v-html="data.content"></div>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <webFooter></webFooter>
  </div>
</template>
<script>
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
export default {
  name: "PrivacyPolicy",
  data() {
    return {
      data: {},
    };
  },
  components: {
    webHeader,
    webFooter,
  },
  created() {
    this.getInfo();
  },
  methods: {
    // 询交详情
    getInfo() {
      this.$axios
        .get("/api/index.php?m=home&c=Lists&a=contracts")
        .then((res) => {
          this.data = res.data.res.Privacy;
          console.log(res);
        });
    },
  },
};
</script>
<style scoped lang="scss">
// 隐私政策
#c-policy {
  padding-bottom: 70px;
  .c-main {
    padding: 50px;
    .c-title {
      font-size: 22px;
      margin-bottom: 20px;
      text-align: center;
    }
    .c-text-box {
      font-size: 14px;
      line-height: 2;
      color: #999;
    }
  }
}
</style>
