<template>
  <div>
    <!-- 评论列表 -->
    <div class="commentBox" v-if="AnswerSubData.length != 0">
      <div class="num">
        <span>{{ AnswerSubData.length }} </span> 条评论
      </div>
      <div class="commentList">
        <ul>
          <li v-for="(item, index) of AnswerSubData" :key="index">
            <div class="info">
              <router-link
                class="avatar"
                :to="{
                  path: '/AuthorDetails',
                  query: {
                    users_id: item.users_id,
                    type_id: item.type_id,
                  },
                }"
              >
                <img :src="item.head_pic" alt="" />
              </router-link>
              <div class="txtBox">
                <div class="name">{{ item.nickname }}</div>
                <div class="time">{{ item.add_time }}</div>
              </div>
            </div>
            <div class="txt">{{ item.content }}</div>
            <div class="checkBox">
              <div class="icon" @click="like(item)">
                <span v-if="item.zan == '0'"
                  ><img src="~images/like.png" alt=""
                /></span>
                <span v-else><img src="~images/like2.png" alt="" /> </span>
                <span v-if="item.LikeNum > 0">{{ item.LikeNum }}</span>
              </div>
              <div class="icon" @click="comment(item)">
                <img src="~images/comment.png" alt="" /> 评论
              </div>
            </div>
            <!-- 评论该评论 -->
            <div class="ReplyTwo" v-show="item.ask_reply == 1">
              <div class="ReplyTwoBOX">
                <div class="ReplyTwoTitle">
                  回复
                  <span v-if="item.anonymous == 0">{{ item.nickname }}</span>
                  <span v-else>匿名用户</span> :
                </div>
                <input
                  type="text"
                  class="ReplyTwoTxt"
                  placeholder="输入回复"
                  v-model="item.ask_count"
                />
              </div>
              <input
                type="button"
                value="发布"
                class="ReplyTwoSub"
                @click="ReplyTwoSub2(item)"
              />
            </div>

            <!-- <TreeList
              v-if="item.AnswerSubData"
              :AnswerSubData="item.AnswerSubData"
            ></TreeList> -->
            <div>
              <div
                class="ReplyComments"
                v-for="(items, index) of item.AnswerSubData.AnswerSubData"
                :key="index"
              >
                <div class="info">
                  <router-link
                    class="avatar"
                    :to="{
                      path: '/AuthorDetails',
                      query: {
                        users_id: item.users_id,
                        type_id: item.type_id,
                      },
                    }"
                  >
                    <img :src="items.head_pic" alt="" />
                  </router-link>
                  <div class="txtBox">
                    <div class="name">{{ items.nickname }}</div>
                    <div class="time">
                      {{
                        moment(items.add_time * 1000).format(
                          "YYYY年MM月DD日 h:mm:ss"
                        )
                      }}
                    </div>
                  </div>
                </div>
                <div class="txt">{{ items.content }}</div>
                <div class="checkBox">
                  <div class="icon" @click="like2(items)">
                    <span v-if="items.zan == '0'"
                      ><img src="~images/like.png" alt=""
                    /></span>
                    <span v-else><img src="~images/like2.png" alt="" /> </span>
                    <span v-if="items.LikeNum > 0">{{ items.LikeNum }}</span>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import moment from "moment";
export default {
  name: "TreeList",
  props: ["AnswerSubData"],
  data() {
    return {};
  },
  methods: {
    moment,

    // 展开评论
    comment(item) {
      item.ask_reply = 1;
    },
    //评论评论
    ReplyTwoSub2(item) {
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=ajax_add_answer", {
          ask_id: item.ask_id,
          answer_id: item.answer_id,
          type_id: item.type_id,
          at_users_id: item.at_users_id,
          at_answer_id: item.at_answer_id,
          content: item.ask_count,
          anonymous: 0,
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.$parent.getArticInfo();
        });
    },

    // 点赞评论
    like(item) {
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=ajax_click_like&_ajax=1", {
          ask_id: item.ask_id,
          answer_id: item.answer_id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.$emit("handl");
          this.$parent.getArticInfo();
          // this.$parent.$refs.getCommentList.getCommentList();
        });
    },

    // 点赞评论
    like2(items) {
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=ajax_click_like&_ajax=1", {
          ask_id: items.ask_id,
          answer_id: items.answer_id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.$emit("handl");
          this.$parent.getArticInfo();
          // this.$parent.$refs.getCommentList.getCommentList();
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.commentItem {
  width: 100%;
  padding: 25px 30px 30px;
  background: #fff;
  margin-top: 20px;
  .info {
    width: 100%;
    display: flex;
    align-items: center;
    .avatar {
      width: 60px;
      height: 60px;
    }
    .txtBox {
      padding-left: 20px;
      .name {
        color: #333;
        line-height: 26px;
      }
      .time {
        font-size: 14px;
        color: #999;
        line-height: 20px;
      }
    }
  }
  .txt {
    width: 100%;
    font-size: 14px;
    line-height: 28px;
    color: #666;
    margin-top: 22px;
  }
  .checkBox {
    width: 100%;
    display: flex;
    font-size: 15px;
    color: #999;
    margin-top: 20px;
    flex-wrap: wrap;
    .icon {
      display: flex;
      align-items: center;
      margin-right: 20px;
      cursor: pointer;
      img {
        margin-right: 6px;
      }
    }
  }

  .commentBox {
    width: 100%;
    background: #f5f5f5;
    margin-top: 20px;
    .num {
      width: 100%;
      height: 47px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      color: #333;
      span {
        color: #208fb9;
        margin-right: 5px;
      }
    }
    .commentList {
      width: 100%;
      padding: 20px;
      border-top: 1px solid #e5e5e5;
      ul {
        li {
          width: 100%;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
          .info {
            .avatar {
              width: 40px;
              height: 40px;
              img {
                width: 100%;
              }
            }
            .txtBox {
              font-size: 14px;
              .name {
                line-height: 20px;
              }
            }
          }
          .txt {
            margin-top: 8px;
          }
          .checkBox {
            margin-top: 8px;
          }
          .ReplyComments {
            width: calc(100% - 60px);
            margin-left: 40px;
            border-top: 1px solid #e5e5e5;
            margin-top: 10px;
            padding: 20px 0 0;
          }
        }
      }
    }
  }

  .ReplyTwo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
    background: #fff;
    .ReplyTwoBOX {
      width: calc(100% - 110px);
      display: flex;
      .ReplyTwoTitle {
        padding: 0 20px;
        height: 36px;
        display: flex;
        align-items: center;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        font-size: 14px;
        color: #999;
        flex-shrink: 0;
      }
      .ReplyTwoTxt {
        width: 100%;
        height: 36px;
        display: flex;
        align-items: center;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        font-size: 14px;
        color: #333;
        &::placeholder {
          color: #999;
        }
      }
    }

    .ReplyTwoSub {
      width: 110px;
      height: 36px;
      border-radius: 3px;
      background: #208fb9;
      color: #fff;
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}
</style>
