<template>
  <div>
    <!-- 头部 -->
    <webHeader></webHeader>
    <!-- 下拉导航 -->
    <ShopHeader></ShopHeader>
    <!-- 上传支付凭证 -->
    <div id="c-certificate" class="bg-color2">
      <div class="container">
        <div class="c-main">
          <h1 class="c-title">
            <img src="~images/c-ylzf-ico.png" alt="" />上传支付凭证
          </h1>
          <ul class="c-list">
            <li>
              <p class="c-text">金额</p>
              <el-input
                placeholder="请输入支付金额"
                
                onkeyup="this.value=this.value.replace(/[^0-9.]/g,'')"
                onafterpaste="this.value=this.value.replace(/[^0-9.]/g,'')"
                v-model="data.amount"
              ></el-input>
            </li>
            <li>
              <p class="c-text">公司名称</p>
              <el-input
                placeholder="请输入公司名称"
                v-model="data.company"
              ></el-input>
            </li>
            <li>
              <p class="c-text">币种</p>
              <el-select v-model="data.currency" placeholder="请选择币种">
                <el-option
                  v-for="item in currency"
                  :key="item"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>
            </li>
            <li>
              <p class="c-text">备注</p>
              <textarea
                class="c-msg"
                placeholder="请输入备注"
                v-model="data.msg"
              ></textarea>
            </li>
            <li>
              <p class="c-text">备注</p>
              <div class="c-gt">
                <el-upload
                  action="/api/index.php?m=user&c=Uploadify&a=imageUp"
                  list-type="picture-card"
                  :on-preview="handlePictureCardPreview"
                  :on-remove="handleRemove"
                  :before-upload="beforeAvatarUpload"
                  :on-success="handleSuccess"
                  :limit="1"
                  :on-exceed="maxImglimit"
                  accept="image/jpeg,image/jpg,image/png,image/svg"
                >
                  <div class="c-wrap">
                    <img src="~images/c-pz-ico.png" alt="" />
                    <p class="c-text3">点击上传证件图</p>
                  </div>
                </el-upload>
                <el-dialog :visible.sync="dialogVisible">
                  <img width="100%" :src="dialogImageUrl" alt="" />
                </el-dialog>
                <div class="c-text2">
                  <p>1、为保证顺利审核请上传清晰的银行支付回单</p>
                  <p>2、支持jpg、jpeg、png、pdf等格式，最大不超过2M</p>
                </div>
                <div class="c-btn-box">
                  <p class="c-btn" @click="goHome">取消</p>
                  <p class="c-btn" @click="handleSubmit">提交</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <webFooter></webFooter>
  </div>
</template>
<script>
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
import ShopHeader from "@/components/Shop/ShopHeader.vue";
export default {
  name: "UploadCertificate",
  data() {
    return {
      data: {
        amount: "",
        company: "",
        currency: "",
        msg: "",
        imgUrl: "",
      },
      isImg: false,
      dialogImageUrl: "",
      dialogVisible: false,
      currency: ["人民币", "欧元", "美元"],
    };
  },
  components: {
    webHeader,
    webFooter,
    ShopHeader,
  },
  created() {
    this.id = this.$route.query.id;
  },
  methods: {
    // 删除图片
    handleRemove(file, fileList) {
      if (fileList.length == 0) {
        this.isImg = false;
        this.data.imgUrl = "";
      }
    },
    // 设置预览图片
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },
    // 上传验证
    beforeAvatarUpload(file) {
      const isJPG =
        file.type === "image/jpeg" ||
        file.type === "image/png" ||
        file.type === "image/jpg" ||
        file.type === "application/pdf";
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (!isJPG) {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请上传正确的图片格式!",
          type: "error",
        });
      }
      if (!isLt2M) {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "上传图片大小不能超过 2MB!",
          type: "error",
        });
      }
      return isJPG && isLt2M;
    },
    // 上传成功
    handleSuccess(file) {
      this.isImg = true;
      this.data.imgUrl = file.url;
    },
    // 最大上传验证
    maxImglimit() {
      this.$message.closeAll();
      this.$message({
        showClose: true,
        message: "最大上传一张图!",
        type: "error",
      });
    },
    // 提交验证
    handleSubmit() {
      if (this.data.amount == "") {
        // console.log(this.data.amount);
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请输入支付金额!",
          type: "error",
        });
        return false;
      }
      if (this.data.company == "") {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请输入公司名称!",
          type: "error",
        });
        return false;
      }
      if (this.data.currency == "") {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请选择币种!",
          type: "error",
        });
        return false;
      }
      if (!this.isImg) {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请上传清晰的银行支付回单!",
          type: "error",
        });
        return false;
      }

      console.log({
        order_id: this.$route.query.id,
        order_code: this.$route.query.unified_number,
        money: this.data.amount,
        company: this.data.company,
        currency: this.data.currency,
        remarks: this.data.msg,
        voucher: this.data.imgUrl,
      });

      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=voucher", {
          order_id: this.$route.query.id,
          order_code: this.$route.query.unified_number,
          money: this.data.amount,
          company: this.data.company,
          currency: this.data.currency,
          remarks: this.data.msg,
          voucher: this.data.imgUrl,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          setTimeout(() => {
            this.$router.push({
              name: "OrderDetails",
              query: { id: this.$route.query.id, code: this.$route.query.unified_number },
            });
          }, 2000);
        });
    },
    // 回到首页
    goHome() {
      this.$router.push({
        path: "/",
      });
    },
  },
};
</script>
<style scoped lang="scss">
// 上传支付凭证
#c-certificate {
  padding: 70px 0;
  .c-main {
    margin: 0 auto;
    max-width: 690px;
    .c-title {
      margin-bottom: 35px;
      display: flex;
      align-items: center;
      font-size: 22px;
      font-weight: normal;
      img {
        margin-right: 15px;
        height: 32px;
      }
    }
    .c-list {
      padding: 50px;
      background: #fff;
      li {
        display: flex;
        align-items: flex-start;
        font-size: 14px;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
        .c-text {
          flex-shrink: 0;
          width: 80px;
          line-height: 40px;
        }
        textarea {
          width: 100%;
          height: 100px;
          border: 1px solid #e5e5e5;
          font-size: 14px;
          padding: 10px 15px;
          resize: none;
          overflow: auto;
          &:hover {
            border-color: #c0c4cc;
          }
          &:focus {
            border-color: #208fb9;
          }
        }
        .c-text2 {
          margin: 20px 0 40px;
          color: #bbb;
          line-height: 24px;
        }
        .c-wrap {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          line-height: 1;
          img {
            margin-bottom: 15px;
            height: 30px;
          }
          .c-text3 {
            color: #bbbbbb;
          }
        }
        .c-btn-box {
          display: flex;
          align-items: flex-start;
          .c-btn {
            width: 120px;
            line-height: 38px;
            border: 1px solid #333;
            font-size: 16px;
            text-align: center;
            border-radius: 3px;
            cursor: pointer;
            &:last-child {
              margin-left: 20px;
              border-color: #208fb9;
              background: #208fb9;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
#c-certificate ::v-deep .el-input__inner {
  width: 100%;
  border: 1px solid #e5e5e5;
  &:hover {
    border-color: #c0c4cc;
  }
  &:focus {
    border-color: #208fb9;
  }
}
#c-certificate ::v-deep .el-select {
  width: 100%;
}
#c-certificate ::v-deep .el-upload {
  position: relative;
  border-radius: 0;
}
</style>
