<template>
  <div>
    <CommunityHeader></CommunityHeader>

    <div class="personalCenter">
      <div class="container">
        <div class="top">
          <div class="backgroundImg">
            <el-upload
              class="avatar-uploader"
              action="/api/index.php?m=user&c=Uploadify&a=imageUp"
              :show-file-list="false"
              :on-success="backgroundAvatarSuccess"
              :before-upload="beforeAvatarUpload"
              accept="image/gif,image/jpeg,image/jpg,image/png,image/svg"
            >
              <img :src="users.background_map" class="avatar" />
              <div class="changeImg">上传封面</div>
            </el-upload>
          </div>
          <div class="topContent">
            <div class="topInfo">
              <!-- <div class="Avatar">
                <img :src="users.head_pic" alt="" />
              </div> -->
              <div class="Avatar">
                <el-upload
                  class="avatar-uploader"
                  action="/api/index.php?m=user&c=Uploadify&a=imageUp"
                  :show-file-list="false"
                  :on-success="handleAvatarSuccess"
                  :before-upload="beforeAvatarUpload"
                  accept="image/gif,image/jpeg,image/jpg,image/png,image/svg"
                >
                  <img :src="users.head_pic" alt="" />
                </el-upload>
              </div>
              <div class="txtBox">
                <div class="name">{{ users.nickname }}</div>
                <div class="tips">{{ users.quotations }}</div>
              </div>
            </div>
            <div class="checkBox">
              <span @click="info">编辑个人资料</span>
              <span @click="share">分享邀请码</span>
            </div>
          </div>
        </div>

        <div class="center">
          <div class="main">
            <div class="mainMenu">
              <ul>
                <li :class="{ active: isactive == 1 }" @click="changeTab(1)">
                  动态
                </li>
                <li :class="{ active: isactive == 2 }" @click="changeTab(2)">
                  文章
                </li>
                <li :class="{ active: isactive == 3 }" @click="changeTab(3)">
                  评论
                </li>
                <li :class="{ active: isactive == 4 }" @click="changeTab(4)">
                  关注
                </li>
                <li :class="{ active: isactive == 5 }" @click="changeTab(5)">
                  收藏
                </li>
                <li :class="{ active: isactive == 6 }" @click="changeTab(6)">
                  点赞
                </li>
              </ul>
            </div>
            <div class="mainList">
              <div class="CommentsList" v-show="isactive != 4 && isactive != 5">
                <ul v-if="AuthorList.length >= 1">
                  <li v-for="(item, index) of AuthorList" :key="index">
                    <router-link
                      :to="{
                        path: '/ArticleDetails',
                        query: { ask_id: item.ask_id },
                      }"
                      class="title"
                    >
                      {{ item.ask_title }}
                    </router-link>
                    <div class="txtBox">
                      <div
                        class="img"
                        v-show="item.head_pic != '' && item.head_pic != null"
                      >
                        <img :src="/api/ + item.head_pic" alt="" />
                      </div>
                      <div class="txt" v-html="item.content"></div>
                    </div>
                    <div class="labelBox" v-if="item.label != ''">
                      <div
                        class="label"
                        v-for="(label, labindex) of labelArr(item.label)"
                        :key="labindex"
                      >
                        {{ label }}
                      </div>
                    </div>
                    <div class="checkBox">
                      <div class="like" @click="recommendlike(item)">
                        <span v-if="item.zan == '0'"
                          ><img src="~images/like.png" alt=""
                        /></span>
                        <span v-else
                          ><img src="~images/like2.png" alt="" />
                        </span>
                        <span v-if="item.zan_conten == 0">{{
                          item.zan_content
                        }}</span>
                      </div>
                      <div class="unlike" @click="unlike(item)">
                        <img src="~images/unlike.png" alt="" />
                        {{ item.unlike }}
                      </div>
                      <router-link
                        class="comment"
                        :to="{
                          path: '/ArticleDetails',
                          query: { ask_id: item.ask_id },
                        }"
                      >
                        <img src="~images/comment.png" alt="" />
                        <span
                          v-if="
                            item.UsersConut != '' && item.UsersConut != null
                          "
                        >
                          ({{ item.UsersConut }})</span
                        >
                      </router-link>
                      <div class="share">
                        <img src="~images/share.png" alt="" /> 分享
                        <vshare></vshare>
                      </div>
                      <div
                        class="collect"
                        v-if="isactive != 3"
                        @click="recommendCollect(item)"
                      >
                        <span v-if="item.collection == '0'"
                          ><img src="~images/collect.png" alt="" /> 收藏</span
                        >
                        <span v-else
                          ><img src="~images/collect2.png" alt="" /> 已收藏
                        </span>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="noFocus" v-else>
                  <div class="icon">
                    <img src="~images/noFocus.png" alt="" />
                  </div>
                  <div class="txt" v-show="isactive == 1">
                    您还没有发布动态，去发布
                    <router-link to="/ask">帖子</router-link>
                  </div>
                  <div class="txt" v-show="isactive == 2">
                    您还没有发布文章，去发布
                    <router-link to="/write">文章</router-link>
                  </div>
                  <div class="txt" v-show="isactive == 3">
                    您还没有评论文章/帖子，去评论
                    <router-link to="/Community">文章</router-link> /
                    <router-link to="/QuestionAnswer">帖子</router-link>
                  </div>
                  <div class="txt" v-show="isactive == 6">
                    您还没有点赞文章/帖子，去点赞
                    <router-link to="/Community">文章</router-link> /
                    <router-link to="/QuestionAnswer">帖子</router-link>
                  </div>
                </div>
              </div>

              <div v-show="isactive == 4">
                <div class="FocusList">
                  <ul v-if="AuthorList.length >= 1">
                    <li v-for="(item, index) of AuthorList" :key="index">
                      <router-link
                        :to="{
                          path: '/AuthorDetails',
                          query: { users_id: item.follow_id },
                        }"
                      >
                        <div class="Avatar">
                          <img :src="item.head_pic" alt="" />
                        </div>
                        <div class="FocusContent">
                          <div class="txtBox">
                            <div class="name">{{ item.nickname }}</div>
                            <div class="tips">{{ item.quotations }}</div>
                          </div>
                          <input
                            type="button"
                            value="已关注"
                            class="focusBotton"
                            @click.prevent="nofocus(item)"
                          />
                        </div>
                      </router-link>
                    </li>
                  </ul>
                  <div class="noFocus" v-else>
                    <div class="icon">
                      <img src="~images/noFocus.png" alt="" />
                    </div>
                    <div class="txt">
                      您还没有关注的用户，去关注
                      <router-link to="/Community">文章</router-link> /
                      <router-link to="/QuestionAnswer">帖子</router-link> 作者
                    </div>
                  </div>
                </div>
              </div>

              <div class="CommentsList" v-show="isactive == 5">
                <ul v-if="AuthorList.length >= 1">
                  <li v-for="(item, index) of AuthorList" :key="index">
                    <router-link
                      :to="{
                        path: '/ArticleDetails',
                        query: { ask_id: item.ask_id },
                      }"
                      class="title"
                    >
                      {{ item.title }}
                    </router-link>
                    <div class="checkBox">
                      <div class="like" @click="recommendlike(item)">
                        <span v-if="item.zan == '0'"
                          ><img src="~images/like.png" alt=""
                        /></span>
                        <span v-else
                          ><img src="~images/like2.png" alt="" />
                        </span>
                        <span v-if="item.zan_conten == 0">{{
                          item.zan_content
                        }}</span>
                      </div>
                      <div class="unlike" @click="unlike(item)">
                        <img src="~images/unlike.png" alt="" />
                        {{ item.unlike }}
                      </div>
                      <router-link
                        class="comment"
                        :to="{
                          path: '/ArticleDetails',
                          query: { ask_id: item.ask_id },
                        }"
                      >
                        <img src="~images/comment.png" alt="" />
                        <span
                          v-if="
                            item.UsersConut != '' && item.UsersConut != null
                          "
                        >
                          ({{ item.UsersConut }})</span
                        >
                      </router-link>
                      <div class="share">
                        <img src="~images/share.png" alt="" /> 分享
                        <vshare></vshare>
                      </div>
                      <div
                        class="collect"
                        v-if="isactive != 3"
                        @click="recommendCollect(item)"
                      >
                        <span v-if="item.collection == '0'"
                          ><img src="~images/collect.png" alt="" /> 收藏</span
                        >
                        <span v-else
                          ><img src="~images/collect2.png" alt="" /> 已收藏
                        </span>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="noFocus" v-else>
                  <div class="icon">
                    <img src="~images/noFocus.png" alt="" />
                  </div>
                  <div class="txt">
                    您还没有点赞文章/帖子，去收藏
                    <router-link to="/Community">文章</router-link> /
                    <router-link to="/QuestionAnswer">帖子</router-link>
                  </div>
                </div>
              </div>
            </div>
            <el-pagination
              id="c-page"
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              background
              :current-page="currentPage"
              :page-sizes="pageSizes"
              :page-size="loadCount"
              layout="total, sizes, prev, pager, next, jumper"
              :total="totalCount"
              :pager-count="5"
              :hide-on-single-page="totalPage < 2"
            >
            </el-pagination>
          </div>
          <div class="Aside">
            <div class="numberBox">
              <router-link to="">
                <div class="icon">
                  <img src="~images/personalCenter-icon1-1.png" alt="" />
                </div>
                <div class="name">粉丝数</div>
                <div class="num">{{ Author.author }}</div>
              </router-link>
              <router-link to="">
                <div class="icon">
                  <img src="~images/personalCenter-icon2-1.png" alt="" />
                </div>
                <div class="name">关注</div>
                <div class="num">{{ Author.follow }}</div>
              </router-link>
            </div>
            <div class="Certification">
              <div class="title">我的认证</div>
              <div class="list">
                <span>实名认证</span>
                <span>认证头衔</span>
              </div>
            </div>

            <rightSwiper></rightSwiper>
          </div>
        </div>
      </div>
    </div>

    <webFooter></webFooter>
  </div>
</template>
<script>
import CommunityHeader from "@/components/Community/CommunityHeader/index.vue";
import webFooter from "@/components/Footer/index.vue";
import rightSwiper from "@/components/Community/Aside/rightSwiper.vue";
export default {
  name: "personalCenter",
  data() {
    return {
      users: [],
      Author: [],
      AuthorList: [], //列表
      isactive: 1,
      currentPage: 1, //当前页
      pageSizes: [12, 60, 120], //每页显示条数
      loadCount: 12, //每页条数
      totalCount: 0, //总条数
      totalPage: 0, //总页数
      imageUrl: "",
      imgUrl: "",
    };
  },
  components: {
    //定义组件
    CommunityHeader,
    webFooter,
    rightSwiper,
  },
  beforeCreate(){
    window._bd_share_main = ""; 
  },
  created: function () {
    // 设置总页数
    this.totalPage = parseInt(
      (this.totalCount + this.loadCount - 1) / this.loadCount
    );
  },
  mounted() {
    this.getUserInfo();
    this.getList();
  },
  methods: {
    // 设置每页多少条
    handleSizeChange(val) {
      this.loadCount = val;
      if (this.isactive == 1) {
        //动态
        this.getDynamicList();
        return false;
      }
      if (this.isactive == 2) {
        //文章
        this.getArticList();
        return false;
      }
      if (this.isactive == 3) {
        //评论
        this.getCommentList();
        return false;
      }
      if (this.isactive == 4) {
        //关注
        this.getAttentionList();
        return false;
      }
      if (this.isactive == 5) {
        //收藏
        this.getCollectList();
        return false;
      }
      if (this.isactive == 6) {
        //点赞
        this.getLikeList();
        return false;
      }
    },
    // 设置当前页
    handleCurrentChange(val) {
      this.currentPage = val;
      if (this.isactive == 1) {
        //动态
        this.getDynamicList();
        return false;
      }
      if (this.isactive == 2) {
        //文章
        this.getArticList();
        return false;
      }
      if (this.isactive == 3) {
        //评论
        this.getCommentList();
        return false;
      }
      if (this.isactive == 4) {
        //关注
        this.getAttentionList();
        return false;
      }
      if (this.isactive == 5) {
        //收藏
        this.getCollectList();
        return false;
      }
      if (this.isactive == 6) {
        //点赞
        this.getLikeList();
        return false;
      }
    },

    getUserInfo() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_center", {
          type_id: 2,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.Author = res.data.res;
          this.users = res.data.res.users;
        });
    },

    getList() {
      let routeNum = this.$route.query.isactive;
      if (this.$route.query.isactive != null) {
        this.isactive = routeNum;
        if (routeNum == 3) {
          //评论
          this.getCommentList();
        }
        if (routeNum == 5) {
          //收藏
          this.getCollectList();
        }
        if (routeNum == 6) {
          //点赞
          this.getLikeList();
        }
      } else {
        // 动态
        this.getDynamicList();
      }
    },
    // 列表切换
    changeTab(val) {
      this.isactive = val;
      if (val == 1) {
        //动态
        this.getDynamicList();
      }
      if (val == 2) {
        //文章
        this.getArticList();
      }
      if (val == 3) {
        //评论
        this.getCommentList();
      }
      if (val == 4) {
        //关注
        this.getAttentionList();
      }
      if (val == 5) {
        //收藏
        this.getCollectList();
      }
      if (val == 6) {
        //点赞
        this.getLikeList();
      }
    },

    // 动态列表
    getDynamicList() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_center", {
          type_id: 2,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          this.AuthorList = res.data.res.ask.ask;
          this.totalCount = res.data.res.ask.count;
          this.totalPage = res.data.res.ask.total_page;
        });
    },
    // 文章列表
    getArticList() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_center", {
          type_id: 3,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.AuthorList = res.data.res.ask.ask;
          this.totalCount = res.data.res.ask.count;
          this.totalPage = res.data.res.ask.total_page;
        });
    },
    labelArr(label) {
      //读取标签
      if (label != null) {
        let lab = label.split(",");
        return lab;
      }
    },
    // 评论列表
    getCommentList() {
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=comment", {
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          this.AuthorList = res.data.res.answer;
          this.totalCount = res.data.count;
          this.totalPage = res.data.total_page;
        });
    },
    // 关注列表
    getAttentionList() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_center", {
          type_id: 2,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          this.AuthorList = res.data.res.follow_list.follow_list;
          this.totalCount = res.data.res.follow_list.count;
          this.totalPage = res.data.res.follow_list.total_page;
        });
    },
    // 收藏列表
    getCollectList() {
      this.$axios
        .post("/api/index.php?m=plugins&c=Collection&a=users_collection", {
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          this.AuthorList = res.data.res;
          this.totalCount = res.data.count;
          this.totalPage = res.data.total_page;
        });
    },
    // 点赞列表
    getLikeList() {
      this.$axios
        .post("/api/index.php?m=plugins&c=zan&a=users_zan", {
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          this.AuthorList = res.data.res;
          this.totalCount = res.data.count;
          this.totalPage = res.data.total_page;
        });
    },

    //收藏
    recommendCollect(item) {
      // let { articRecommend } = this;
      // let { AllArtic } = this;
      this.$axios
        .post("/api/index.php?m=plugins&c=Collection&a=ajax_save", {
          ask_id: item.ask_id,
          _ajax: 1,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.changeTab(this.isactive);
        });
    },

    // 点赞
    recommendlike(item) {
      if (item.cai == 1) {
        return false;
      }
      this.$axios
        .post("/api/index.php?m=plugins&c=zan&a=add&_ajax=1", {
          aid: item.ask_id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.changeTab(this.isactive);
        });
    },

    // 踩
    unlike(item) {
      if (item.zan == 1) {
        return false;
      }
      this.$axios
        .post("/api/index.php?m=plugins&c=zan&a=add&_ajax=1", {
          aid: item.ask_id,
          zan_count: 1,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.changeTab(this.isactive);
        });
    },

    // 关注作者
    nofocus(item) {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=follow", {
          follow_id: item.follow_id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.getAttentionList();
          this.getUserInfo();
        });
    },

    //上传封面
    backgroundAvatarSuccess(res) {
      this.imageUrl = res.url;
      console.log(this.imageUrl);
      this.save();
    },
    //更换头像
    handleAvatarSuccess(res) {
      this.imgUrl = res.url;
      this.saveHeadImg();
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG) {
        this.$message.closeAll();
        this.$message.error("上传图片只能是 JPG 格式!");
      }
      if (!isLt2M) {
        this.$message.closeAll();
        this.$message.error("上传图片大小不能超过 2MB!");
      }
      return isJPG && isLt2M;
    },

    // 编辑个人资料
    info() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_details", {
          users_id: this.users.users_id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$router.push({
            path: "/personalInformation",
            query: {
              users_id: this.users.users_id,
            },
          });
        });
    },
    //分享邀请码
    share() {},

    //提交个人信息-修改背景图片
    save() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=edit_users", {
          // id: this.users.id,
          users_id: this.users.users_id,
          head_pic: this.users.head_pic, //用户头像
          nickname: this.users.nickname, //用户昵称
          introduce: this.users.quotations, //个性签名
          background_map: this.imageUrl, //背景图
          status: 1,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.getUserInfo();
        });
    },

    // 修改头像
    saveHeadImg() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=edit_users_head_pic", {
          _ajax: 1,
          filename: this.imgUrl,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.getUserInfo();
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.personalCenter {
  width: 100%;
  padding: 20px 0;
  background: #f5f5f5;
  .container {
    .top {
      width: 100%;
      background: #fff;
      .backgroundImg {
        width: 100%;
        height: 230px;
        position: relative;
        background: #086d92;
        .avatar-uploader {
          width: 100%;
          height: 100%;
          ::v-deep .el-upload {
            width: 100%;
            height: 100%;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .changeImg {
          position: absolute;
          top: 30px;
          right: 30px;
          width: 100px;
          height: 31px;
          border: 1px solid #fff;
          font-size: 14px;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
      .topContent {
        width: 100%;
        position: relative;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .topInfo {
          display: flex;
          .Avatar {
            width: 180px;
            height: 180px;
            margin-top: -125px;
            background: #208fb9;
            .avatar-uploader {
              width: 100%;
              height: 100%;
              ::v-deep .el-upload {
                width: 100%;
                height: 100%;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .txtBox {
            margin-left: 30px;
            .name {
              font-size: 22px;
              line-height: 28px;
              color: #222;
            }
            .tips {
              color: #222;
              line-height: 22px;
              margin-top: 3px;
            }
          }
        }
        .checkBox {
          display: flex;
          span {
            width: 120px;
            height: 36px;
            border: 1px solid #208fb9;
            color: #208fb9;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            transition: all ease-in 0.3s;
            cursor: pointer;
            &:hover {
              background: #208fb9;
              color: #fff;
            }
          }
        }
      }
    }
    .center {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      .main {
        width: 75.7%;

        .mainMenu {
          width: 100%;
          background: #fff;
          border-bottom: 2px solid #f5f5f5;
          ul {
            display: flex;
            margin-bottom: -2px;
            li {
              padding: 0 20px 0 25px;
              height: 60px;
              line-height: 58px;
              margin-right: 10px;
              font-size: 18px;
              color: #333;
              border-bottom: 2px solid transparent;
              cursor: pointer;
              &:hover {
                color: #208fb9;
              }
              &.active {
                color: #208fb9;
                border-bottom: 2px solid #208fb9;
              }
            }
          }
        }

        .CommentsList {
          width: 100%;
          background: #fff;
          ul {
            li {
              width: 100%;
              border-bottom: 2px solid #f5f5f5;
              padding: 17px 30px 33px;
              &:hover {
                .title {
                  color: #208fb9;
                }
              }
              .title {
                width: 100%;
                color: #333;
                font-size: 20px;
                line-height: 42px;
                transition: all ease-in 0.3s;
                display: block;
              }
              .txtBox {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 15px;
                .img {
                  width: 220px;
                  margin-right: 20px;
                  flex-shrink: 0;
                  img {
                    width: 100%;
                  }
                }
                .txt {
                  width: 100%;
                  font-size: 14px;
                  line-height: 28px;
                  color: #676767;
                  .more {
                    color: #208fb9;
                  }
                }
                &.tbox2 {
                  .txt {
                    width: 100%;
                  }
                }
              }
              .labelBox {
                width: 100%;
                margin-top: 20px;
                display: flex;
                .label {
                  // width: 75px;
                  padding: 0 5px;
                  height: 28px;
                  border-radius: 3px;
                  background: #e5e5e5;
                  font-size: 14px;
                  color: #666;
                  margin-right: 5px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
              .checkBox {
                width: 100%;
                display: flex;
                align-items: center;
                margin-top: 20px;
                font-size: 15px;
                color: #999;
                div {
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  img {
                    margin-right: 5px;
                  }
                }
                .like {
                  margin-right: 30px;
                }
                .unlike {
                  margin-right: 30px;
                }
                .comment {
                  margin-right: 30px;
                }
                .share {
                  margin-right: 30px;
                  position: relative;
                  .bdsharebuttonbox{
                    display: none;
                    padding-left: 6px;
                  }
                  &:hover{
                    .bdsharebuttonbox{
                      display: flex;
                    }
                  }
                }
                .collect {
                  margin-right: 30px;
                  span{
                    display: flex;
                    align-items: center;
                  }
                }
                .report {
                  color: #999;
                }
              }
              .commentBox {
                width: 100%;
                background: #f5f5f5;
                margin-top: 20px;
                .num {
                  width: 100%;
                  height: 57px;
                  padding: 0 30px;
                  display: flex;
                  align-items: center;
                  color: #333;
                  span {
                    color: #208fb9;
                    margin-right: 5px;
                  }
                }
                .commentList {
                  width: 100%;
                  padding: 30px;
                  border-top: 1px solid #e5e5e5;
                  ul {
                    li {
                      width: 100%;
                      padding: 0;
                      .info {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        .avatar {
                          width: 40px;
                          height: 40px;
                          img {
                            width: 100%;
                          }
                        }
                        .txtBoxs {
                          font-size: 14px;
                          margin-left: 20px;
                          .name {
                            line-height: 20px;
                          }
                        }
                      }
                      .txt {
                        margin-top: 13px;
                      }
                      .checkBox {
                        margin-top: 13px;
                        .icon {
                          margin-right: 30px;
                        }
                      }
                      .ReplyComments {
                        width: 100%;
                        border-top: 1px solid #e5e5e5;
                        margin-top: 20px;
                        padding: 30px 0 0 60px;

                        .ReplyTwo {
                          width: 100%;
                          display: flex;
                          align-items: center;
                          justify-content: space-between;
                          margin-top: 18px;
                          .ReplyTwoBOX {
                            width: 86%;
                            display: flex;
                            .ReplyTwoTitle {
                              padding: 0 20px;
                              height: 36px;
                              background: #fff;
                              display: flex;
                              align-items: center;
                              border-top-left-radius: 3px;
                              border-bottom-left-radius: 3px;
                              font-size: 14px;
                              color: #999;
                              flex-shrink: 0;
                            }
                            .ReplyTwoTxt {
                              width: 100%;
                              height: 36px;
                              background: #fff;
                              display: flex;
                              align-items: center;
                              border-top-right-radius: 3px;
                              border-bottom-right-radius: 3px;
                              font-size: 14px;
                              color: #333;
                              &::placeholder {
                                color: #999;
                              }
                            }
                          }

                          .ReplyTwoSub {
                            width: 110px;
                            height: 36px;
                            border-radius: 3px;
                            background: #208fb9;
                            color: #fff;
                            font-size: 15px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .tips {
            width: 100%;
            padding: 40px 20px;
            span {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #333;
              a {
                color: #208fb9;
                text-decoration: underline;
                margin: 0 2px;
              }
            }
          }
        }
      }
      .Aside {
        width: 22.8%;
        .numberBox {
          width: 100%;
          display: flex;
          background: #fff;
          margin-bottom: 20px;
          a {
            width: 50%;
            padding: 24px 0 21px;
            text-align: center;
            .icon {
              width: 32px;
              height: 32px;
              margin: auto;
              img {
                width: 100%;
                height: 100%;
                transition: all ease-in 0.3s;
              }
            }
            .name {
              font-size: 14px;
              color: #208fb9;
              line-height: 18px;
              margin-top: 5px;
              transition: all ease-in 0.3s;
            }
            .num {
              font-size: 18px;
              color: #208fb9;
              line-height: 20px;
              transition: all ease-in 0.3s;
            }
            &:hover {
              .name {
                color: #208fb9;
              }
              .num {
                color: #208fb9;
              }
            }
          }
        }
        .Certification {
          width: 100%;
          margin-bottom: 20px;
          background: #fff;
          .title {
            font-size: 18px;
            color: #333;
            padding: 0 30px;
            height: 60px;
            display: flex;
            align-items: center;
          }
          .list {
            width: 100%;
            border-top: 1px solid #f5f5f5;
            padding: 20px 30px;
            display: flex;
            flex-wrap: wrap;
            span {
              width: 80px;
              height: 26px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 14px;
              color: #666;
              background: #e2e2e2;
              border: 1px solid #e2e2e2;
              margin-right: 10px;
              transition: all ease-in 0.3s;
              // &:hover {
              //   background: #fff;
              //   color: #208fb9;
              //   border: 1px solid #208fb9;
              // }
            }
          }
        }
      }
    }
  }
}

.noFocus {
  width: 100%;
  padding: 82px 0 76px;
  .icon {
    width: 80px;
    height: 80px;
    margin: auto;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .txt {
    font-size: 16px;
    line-height: 24px;
    color: #999;
    margin-top: 10px;
    text-align: center;
    a {
      color: #208fb9;
    }
  }
}

.FocusList {
  width: 100%;
  border-top: 1px solid #f5f5f5;
  padding: 20px 20px;
  background: #fff;
  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    li {
      width: 49%;
      border: 1px solid #eee;
      margin-bottom: 20px;
      margin-right: 2%;
      transition: all ease-in 0.3s;
      background: #fff;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
      &:nth-child(2n) {
        margin-right: 0;
      }
      a {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 25px 37px 25px 30px;
        .Avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 20px;
          flex-shrink: 0;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .FocusContent {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .txtBox {
            .name {
              font-size: 16px;
              color: #333;
              line-height: 20px;
              transition: all ease-in 0.3s;
            }
            .tips {
              font-size: 13px;
              color: #989898;
              line-height: 20px;
            }
          }
          .focusBotton {
            width: 70px;
            height: 30px;
            border-radius: 3px;
            border: 1px solid #208fb9;
            color: #208fb9;
            font-size: 13px;
            background: #fff;
            transition: all ease-in 0.3s;
            cursor: pointer;
          }
        }
      }
      &:hover {
        // background: #eee;
        .Avatar {
          border: 2px solid #208fb9;
        }
        .FocusContent {
          .txtBox {
            .name {
              color: #208fb9;
            }
          }
          .focusBotton {
            color: #fff;
            background: #208fb9;
          }
        }
      }
    }
  }
}
#c-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  background: #fff;
}
::v-deep .bdsharebuttonbox{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
}
// ::v-deep .bdsharebuttonbox a{
//   width: 40px;
//   height: 40px;
//   display: block;
// }
</style>
