<template>
  <div>
    <!-- 头部 -->
    <webHeader></webHeader>
    <!-- 下拉导航 -->
    <ShopHeader></ShopHeader>
    <!-- 样品清单 -->
    <div class="c-common-box2 bg-color2">
      <div class="container">
        <div class="c-top">
          <h1 class="c-title">
            <img src="~images/c-ypqd-ico1.png" alt="" />信息填写及核对
          </h1>
          <ul class="c-list">
            <li class="on">
              <p class="c-num">1</p>
              <p class="c-text">样品清单</p>
            </li>
            <li class="on">
              <p class="c-num">2</p>
              <p class="c-text">信息填写及核对</p>
            </li>
            <li>
              <p class="c-num">3</p>
              <p class="c-text">清单提交成功</p>
            </li>
          </ul>
        </div>
        <div class="c-bottom">
          <!-- 填写信息 -->
          <div id="c-information">
            <ul class="c-list">
              <li>
                <!-- 收货地址 -->
                <div class="c-address">
                  <div class="c-title-box">
                    <h2 class="c-title">收货地址</h2>
                    <router-link to="/Shop/SampleList/SampleAddress"
                      >更多收货地址 <i></i
                    ></router-link>
                  </div>
                  <div
                    class="c-bottom2"
                    v-for="(item, index) of addressDefault"
                    :key="index"
                  >
                    <div class="address-box" v-if="item.addr_id == addr_id">
                      <div class="c-list">
                        <ul>
                          <li>
                            <p>姓名</p>
                            <p>{{ item.consignee }}</p>
                          </li>
                          <li>
                            <p>收货地址</p>
                            {{ item.province }}{{ item.city }}{{ item.district
                            }}{{ item.street }}{{ item.address }}
                            <p></p>
                          </li>
                          <li>
                            <p>联系号码</p>
                            {{ item.mobile }}
                            <p></p>
                          </li>
                          <li v-if="item.label != ''">
                            <span class="c-tag">{{ item.label }}</span>
                          </li>
                        </ul>
                      </div>
                      <div class="c-btn-box">
                        <!-- <router-link
                          :to="{
                            name: 'SampleEditAddress',
                            query: { id: item.addr_id },
                          }"
                          class="c-btn"
                        >
                          <div class="c-ico">
                            <img src="~images/c-bj-ico.png" alt="编辑" />
                          </div>
                          <p class="c-text">编辑</p>
                        </router-link> -->
                        <div class="c-btn" @click="handleEdit(item.addr_id)">
                          <div class="c-ico">
                            <img src="~images/c-bj-ico.png" alt="编辑" />
                          </div>
                          <p class="c-text">编辑</p>
                        </div>
                        <!-- <div class="c-btn" @click="deladdress(address.id)">
                          <div class="c-ico">
                            <img src="~images/c-cgx-ico.png" alt="删除" />
                          </div>
                          <p class="c-text">删除</p>
                        </div> -->
                      </div>
                    </div>
                  </div>
                  <!-- 修改/添加 -->
                  <div class="c-common-box4" v-show="isAddress">
                    <form action="">
                      <h2 class="c-title">编辑收货地址</h2>
                      <ul class="c-list">
                        <li>
                          <p class="c-talbetxt">收货人姓名</p>
                          <el-input
                            v-model="submitAddress.consignee"
                            placeholder="收货人姓名"
                          ></el-input>
                        </li>
                        <li>
                          <p class="c-talbetxt">手机号码</p>
                          <el-input
                            v-model="submitAddress.mobile"
                            placeholder="手机号码"
                          ></el-input>
                        </li>
                        <li>
                          <p class="c-talbetxt">邮编号码</p>
                          <el-input
                            v-model="submitAddress.zipcode"
                            placeholder="邮编号码"
                          ></el-input>
                        </li>
                        <li>
                          <p class="c-talbetxt">地址标签</p>
                          <el-input
                            v-model="submitAddress.label"
                            placeholder="地址标签"
                          ></el-input>
                        </li>
                        <li>
                          <p class="c-talbetxt">选择省份</p>
                          <el-select
                            v-model="submitAddress.province"
                            placeholder="选择省份"
                            @change="changePr($event)"
                          >
                            <el-option
                              v-for="(item, index) in provinceList"
                              :key="index"
                              :label="item.name"
                              :value="item.id"
                            >
                            </el-option>
                          </el-select>
                        </li>
                        <li>
                          <p class="c-talbetxt">选择市</p>
                          <el-select
                            v-model="submitAddress.city"
                            placeholder="选择市"
                            @change="changeCi($event)"
                          >
                            <el-option
                              v-for="(item, index) in cityList"
                              :key="index"
                              :label="item.name"
                              :value="item.id"
                            >
                            </el-option>
                          </el-select>
                        </li>
                        <li>
                          <p class="c-talbetxt">选择地区</p>
                          <el-select
                            v-model="submitAddress.district"
                            placeholder="选择地区"
                            @change="changeXian($event)"
                          >
                            <el-option
                              v-for="(item, index) in regionList"
                              :key="index"
                              :label="item.name"
                              :value="item.id"
                            >
                            </el-option>
                          </el-select>
                        </li>
                        <li></li>
                        <li>
                          <p class="c-talbetxt">详细地址</p>
                          <textarea
                            v-model="submitAddress.address"
                            placeholder="详细地址"
                          ></textarea>
                        </li>
                        <li>
                          <button type="reset" class="c-btn" @click="hanldeCancel">
                            取消
                          </button>
                          <button
                            type="button"
                            class="c-btn"
                            @click="hanldeSubmit"
                          >
                            保存
                          </button>
                        </li>
                      </ul>
                    </form>
                  </div>
                </div>
              </li>
              <li>
                <h2 class="c-main-title">样品项目及联系信息</h2>
                <ul class="c-list2">
                  <li>
                    <p class="c-text c-dt"><i>*</i> 研发项目名称</p>
                    <input
                      type="text"
                      v-model="projectName"
                      placeholder="请输入项目名称"
                    />
                  </li>
                  <li>
                    <p class="c-text"><i>*</i> 项目信息</p>
                    <input
                      type="text"
                      v-model="projectInfo"
                      placeholder="请输入项目信息"
                    />
                  </li>
                </ul>
              </li>
              <li>
                <h2 class="c-main-title">个人信息</h2>
                <ul class="c-list2">
                  <li>
                    <p class="c-text c-dt"><i>*</i> 公司名称</p>
                    <input
                      type="text"
                      v-model="companyName"
                      placeholder="请输入公司名称"
                    />
                  </li>
                  <li>
                    <p class="c-text"><i>*</i> 工作邮箱</p>
                    <input
                      type="text"
                      v-model="email"
                      placeholder="请输入工作邮箱"
                    />
                  </li>
                  <li>
                    <p class="c-text"><i>*</i> 姓名</p>
                    <input
                      type="text"
                      v-model="name"
                      placeholder="请输入收件姓名"
                    />
                  </li>
                  <li>
                    <p class="c-text c-dt"><i>*</i> 手机号</p>
                    <input
                      type="text"
                      v-model="phone"
                      placeholder="请输入收件手机号"
                    />
                  </li>
                </ul>
              </li>
              <li>
                <h2 class="c-main-title">样品清单</h2>
                <table class="c-common-table c-dt">
                  <thead>
                    <tr>
                      <th>图片</th>
                      <th>型号</th>
                      <th>描述</th>
                      <th>发货地</th>
                      <th>预计交期</th>
                      <th>价格(含税)</th>
                      <th>购买数量</th>
                      <th>小计</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) of SampleInfo" :key="index">
                      <td>
                        <div class="c-img-box">
                          <img :src="item.litpic" alt="" />
                        </div>
                      </td>
                      <td>
                        <h3 class="c-title">{{ item.title }}</h3>
                      </td>
                      <td>
                        <div class="c-text">
                          <p><span>参考封装：</span>{{ item.package1 }}</p>
                          <p>
                            <span>封装/规格：</span>{{ item.specifications1 }}
                          </p>
                          <p><span>品牌/产地：</span>{{ item.brand_name }}</p>
                          <p><span>产品编号：</span>{{ item.number }}</p>
                        </div>
                      </td>
                      <td>{{ item.sample }}</td>
                      <td>{{ item.delivery }}</td>
                      <td>￥{{ item.users_price }}</td>
                      <td>{{ item.num }}</td>
                      <td class="c-price">￥{{ item.total_price }}</td>
                    </tr>
                  </tbody>
                </table>
                <el-pagination
                  id="c-page"
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  background
                  :current-page="currentPage"
                  :page-sizes="pageSizes"
                  :page-size="loadCount"
                  layout="total, sizes, prev, pager, next, jumper"
                  :total="totalCount"
                  :pager-count="5"
                  :hide-on-single-page="totalPage < 2"
                >
                </el-pagination>
                <div class="c-price-box">
                  <p class="c-tips">
                    提示：单个型号样品总价超过200元可能无法获批
                  </p>
                  <div class="c-gt">
                    <p class="c-text">
                      商品总金额：<span>￥{{ total }}</span>
                    </p>
                    <p class="c-text">应付金额：<span>￥0</span></p>
                    <div class="c-text2">
                      <div
                        class="c-radio el-input__icon el-icon-check"
                        :class="{ on: checkPact }"
                        @click="isPact()"
                      ></div>
                      <span>已阅读并同意</span>
                      <router-link to="/SaleContract" target="_blank"
                        >《感算商城商品（服务）买卖合同》</router-link
                      >
                    </div>
                    <button type="button" @click="Handlesubmit">
                      提交申请
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <webFooter></webFooter>
  </div>
</template>
<script>
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
import ShopHeader from "@/components/Shop/ShopHeader.vue";
import debounce from "lodash.debounce";
export default {
  name: "CheckingInformation",
  data() {
    return {
      SampleInfo: [],
      projectName: "", //项目名称
      projectInfo: "", //项目信息
      companyName: "", //公司信息
      email: "", //工作邮箱
      name: "", //姓名
      phone: "", //手机
      total: "", //总金额
      checkPact: false, //同意合同
      idbox: [], //
      currentPage: 1, //当前页
      pageSizes: [500], //每页显示条数
      loadCount: 500, //每页条数
      totalCount: 0, //总条数
      totalPage: 0, //总页数
      addressDefault: [], //地址
      addr_id: "", //收货地址id
      IntegralBl: 0, //积分抵扣比例
      isAddress: false, //是否显示收货地址管理
      submitAddress: {
        consignee: "",
        mobile: "",
        zipcode: "",
        label: "",
        province: "",
        city: "",
        district: "",
        address: "",
        is_default: "",
        province_id: "",
        city_id: "",
        district_id: "",
      },
      addressData: [], //全国地址
      provinceList: [], // 存放省数据集合
      cityList: [], // 存放市数据集合
      regionList: [], // 存放区数据集合
      streetList: [], //存放街道数据集合
    };
  },
  components: {
    webHeader,
    webFooter,
    ShopHeader,
  },
  created() {
    this.addr_id = this.$route.query.addr_id;
    this.ChangeShen();
    this.getSampleInfo();
    this.getAddressList();
    this.Handlesubmit = debounce(this.Handlesubmit, 500);
  },
  methods: {
    // 设置每页多少条
    handleSizeChange(val) {
      this.loadCount = val;
      this.getSampleInfo();
    },
    // 设置当前页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getSampleInfo();
    },

    getSampleInfo() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=info_list", {
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.SampleInfo = res.data.res;
          let price = 0;
          this.SampleInfo.forEach((item) => {
            price += Number(item.total_price);
            this.idbox.push(item.id);
          });
          // 设置商品总金额
          this.total = Number(price).toFixed(2);
          this.totalCount = res.data.count;
          this.totalPage = res.data.total_page;
        });
    },

    // TotalProductPrice() {
    //   let price = 0;
    //   this.SampleInfo.forEach((item) => {
    //     price += Number(item.total_price);
    //     this.idbox.push(item.id);
    //   });
    //   // 设置商品总金额
    //   this.total = Number(price).toFixed(2);
    // },

    // 获取地址列表
    getAddressList() {
      this.$axios.post("/api/index.php?m=user&c=Shop&a=addlist").then((res) => {
        console.log;
        this.addressDefault = res.data.res;
      });
    },

    // 修改地址
    handleEdit(id) {
      this.$axios
        .get("/api/index.php?m=user&c=Shop&a=shop_edit_address&addr_id=" + id)
        .then((res) => {
          console.log(res);
          this.addr_id = res.data.res.field.addr_id,
          this.submitAddress.consignee = res.data.res.field.consignee,
          this.submitAddress.mobile = res.data.res.field.mobile,
          this.submitAddress.zipcode = res.data.res.field.zipcode,
          this.submitAddress.label = res.data.res.field.label,
          this.submitAddress.province_id = res.data.res.field.province,
          this.submitAddress.city_id = res.data.res.field.city,
          this.submitAddress.district_id = res.data.res.field.district,
          this.submitAddress.address = res.data.res.field.address,
          this.submitAddress.is_default = res.data.res.field.is_default;

          for (var i = 0; i < this.provinceList.length; i++) {
            if (this.submitAddress.province_id == this.provinceList[i].id) {
              this.submitAddress.province = this.provinceList[i].name;

              this.changePr(this.submitAddress.province_id);
            }
          }
        });

      this.isAddress = true;
    },
    // 绑定城市
    //获取省份数据
    ChangeShen() {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=get_region")
        .then((res) => {
          this.provinceList = res.data.res;
        });
    },
    // 省-市
    changePr(e) {
      this.submitAddress.province_id = e;
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=get_region_data", {
          parent_id: e,
        })
        .then((res) => {
          this.cityList = res.data;
          let on = true;
          for (var i = 0; i < this.cityList.length; i++) {
            if (this.submitAddress.city_id == this.cityList[i].id) {
              this.submitAddress.city = this.cityList[i].name;
              on = false;
              break;
            } else {
              on = true;
            }
          }
          if (on) {
            this.submitAddress.city_id = this.cityList[0].id;
            this.submitAddress.city = this.cityList[0].name;
          }
          this.changeCi(this.submitAddress.city_id);
        });
    },
    // 市-县
    changeCi(e) {
      this.submitAddress.city_id = e;
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=get_region_data", {
          parent_id: e,
        })
        .then((res) => {
          this.regionList = res.data;
          let on2 = true;
          for (var i = 0; i < this.regionList.length; i++) {
            if (this.submitAddress.district_id == this.regionList[i].id) {
              this.submitAddress.district = this.regionList[i].name;
              on2 = false;
              break;
            } else {
              on2 = true;
            }
          }
          if (on2) {
            this.submitAddress.district = this.regionList[0].name;
            this.submitAddress.district_id = this.regionList[0].id;
          }
          this.changeXian(this.submitAddress.district_id);
        });
    },
    // 县
    changeXian(e) {
      this.submitAddress.district_id = e;
    },
    // 取消修改添加
    hanldeCancel() {
      this.isAddress = false;
      this.submitAddress.consignee = "";
      this.submitAddress.mobile = "";
      this.submitAddress.zipcode = "";
      this.submitAddress.label = "";
      this.submitAddress.province = "";
      this.submitAddress.city = "";
      this.submitAddress.district = "";
      this.submitAddress.address = "";
      this.submitAddress.is_default = "";
      this.submitAddress.province_id = "";
      this.submitAddress.city_id = "";
      this.submitAddress.district_id = "";
    },
    // 提交添加新增地址
    hanldeSubmit() {
      //修改地址保存
      if (this.submitAddress.consignee == "") {
        this.$message.closeAll();
        this.$message.error("姓名不能为空");
        return false;
      }
      if (this.submitAddress.mobile == undefined) {
        this.$message.closeAll();
        this.$message.error("手机号码不能为空");
        return false;
      }
      const telz = /^[1][3,4,5,6,7,8][0-9]{9}$/;
      if (!telz.test(this.submitAddress.mobile)) {
        this.$message.closeAll();
        this.$message.error("请填写正确手机号码!");
        return false;
      }
      if (this.submitAddress.zipcode != "") {   //邮政编码判断
        let pattern = /^[0-9]{6}$/;
        if (!pattern.test(this.submitAddress.zipcode)) {
          this.$message.closeAll();
          this.$message({
            showClose: true,
            message: "请填写正确的邮政编码!",
            type: "error",
          });
          return false;
        }
      }
      if (this.submitAddress.province_id == undefined) {
        this.$message.closeAll();
        this.$message.error("请选择省份！");
        return false;
      }
      if (this.submitAddress.city_id == undefined) {
        this.$message.closeAll();
        this.$message.error("请选择城市！");
        return false;
      }
      if (this.submitAddress.district_id == undefined) {
        this.$message.closeAll();
        this.$message.error("请选择县城！");
        return false;
      }
      if (this.submitAddress.address == "") {
        this.$message.closeAll();
        this.$message.error("请填写详细地址！");
        return false;
      }
      this.$axios
        .post(
          "/api/index.php?m=user&c=Shop&a=shop_edit_address&addr_id=" +
            this.addr_id,
          {
            addr_id: this.addr_id,
            consignee: this.submitAddress.consignee,
            mobile: this.submitAddress.mobile,
            zipcode: this.submitAddress.zipcode,
            label: this.submitAddress.label,
            province: this.submitAddress.province_id,
            city: this.submitAddress.city_id,
            district: this.submitAddress.district_id,
            address: this.submitAddress.address,
            is_default: this.submitAddress.is_default,
          }
        )
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.getAddressList();
        });
      this.isAddress = false;
    },
    // 同意合同
    isPact() {
      this.checkPact = !this.checkPact;
    },
    // 提交申请
    Handlesubmit() {
      // 邮箱正则
      let yx1 =
        /^([a-zA-Z0-9]+[_|.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
      // 手机号正则
      let sjh1 = /^((12|13|14|15|16|17|18|19)+\d{9})$/;
      if (this.projectName == "") {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请输入项目名称!",
          type: "error",
        });
        return false;
      }
      if (this.projectInfo == "") {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请输入项目信息!",
          type: "error",
        });
        return false;
      }
      if (this.companyName == "") {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请输入公司名称!",
          type: "error",
        });
        return false;
      }
      if (this.email == "" || !yx1.test(this.email)) {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请输入真实有效的工作邮箱!",
          type: "error",
        });
        return false;
      }
      if (this.name == "") {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请输入收件姓名!",
          type: "error",
        });
        return false;
      }
      if (this.phone == "" || !sjh1.test(this.phone)) {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请输入真实有效的手机号!",
          type: "error",
        });
        return false;
      }
      if (!this.checkPact) {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请同意《感算商城商品（服务）买卖合同》!",
          type: "error",
        });
        return false;
      }

      this.$axios
        .post("/api/index.php?m=user&c=Users&a=sample_check_add", {
          id: this.idbox,
          address_id: this.addr_id, //配送地址id
          title: this.projectName,
          information: this.projectInfo,
          company: this.companyName,
          email: this.email,
          username: this.name,
          phone: this.phone,
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$router.push({
            path: "/Shop/SampleList/SubmitSuccessfully",
            query: {
              number: res.data.res.numbers, //订单号
              id: res.data.res.id, //订单id
            },
          });
        });
      // this.$router.push({
      //   name: "SubmitSuccessfully",
      // });
    },
  },
};
</script>
<style scoped lang="scss">
// 填写信息
#c-information {
  padding: 30px;
  background: #fff;
  .c-main-title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
  }
  .c-list {
    & > li {
      margin-bottom: 50px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    input {
      height: 36px;
      width: 300px;
      border: 1px solid #eee;
      line-height: 34px;
      padding: 0 20px;
      font-size: 14px;
      &:hover {
        border-color: #c0c4cc;
      }
      &:focus {
        border-color: #208fb9;
      }
      @media (max-width: 1580px) {
        width: 250px;
      }
    }
    textarea {
      display: block;
      width: 100%;
      font-size: 14px;
      height: 100px;
      padding: 15px 20px;
      border: 1px solid #eee;
      resize: none;
      overflow: auto;
      &:hover {
        border-color: #c0c4cc;
      }
      &:focus {
        border-color: #208fb9;
      }
      &.c-dt {
        padding: 5px 20px;
        height: 36px;
        line-height: 24px;
      }
    }
    button {
      display: inline-block;
      width: 140px;
      line-height: 40px;
      color: #fff;
      background: #208fb9;
      border-radius: 2px;
      &:nth-child(2){
        color: #208fb9;
        background: none;
      }
    }
    ul {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: -10px;
      li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.5;
        color: #666;
        flex-wrap: wrap;
        &.c-dt {
          width: 100%;
        }
        .c-text {
          width: 90px;
          flex-shrink: 0;
          i {
            font-style: normal;
            color: #f3002f;
          }
          &.c-dt {
            width: 120px;
          }
        }
      }
    }
  }
  .c-price-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 15px;
    font-size: 14px;
    .c-tips {
      color: #f3002f;
      line-height: 1.5;
    }
    .c-gt {
      text-align: right;
    }
    .c-text {
      line-height: 30px;
      span {
        font-size: 22px;
        color: #f3002f;
      }
    }
    .c-text2 {
      padding: 20px 0 25px;
      display: flex;
      align-items: center;
      .c-radio {
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
        width: 14px;
        height: 14px;
        line-height: 12px;
        border-radius: 2px;
        border: 1px solid #cccccc;
        color: #fff;
        cursor: pointer;
        &.on {
          border-color: #208fb9;
          background-color: #208fb9;
        }
      }
      span {
        color: #999;
      }
    }
  }
}
#c-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 15px;
}

// 收货地址
.c-address {
  .c-title-box {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .c-title {
      font-weight: bold;
      font-size: 18px;
    }
    a {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #208fb9;
      i {
        margin-left: 10px;
        width: 8px;
        height: 8px;
        background: url(~images/arrow-r4.png) no-repeat center / auto 100%;
      }
    }
  }
  .c-bottom2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .address-box {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .c-list {
      ul{
        display: initial !important;
      }
      li {
        margin-bottom: 5px;
        display: flex;
        align-items: flex-start;
        color: #666;
        line-height: 24px;
        p {
          &:first-child {
            flex-shrink: 0;
            width: 130px;
            color: #999;
          }
        }
        .c-tag {
          margin-top: 15px;
          padding: 0 15px;
          font-size: 14px;
          line-height: 26px;
          border: 1px solid #208fb9;
          color: #208fb9;
        }
      }
    }
    .c-btn-box {
      padding-left: 60px;
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      .c-btn {
        display: block;
        text-align: center;
        cursor: pointer;
        line-height: 1;
        font-size: 14px;
        color: #666;
        .c-ico {
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 60px;
          background: #f5f5f5;
          border-radius: 50%;
          img {
            height: 22px;
          }
        }
        // &:last-child {
        //   margin-left: 20px;
        //   .c-ico {
        //     background: #f5002f;
        //   }
        //   color: #f5002f;
        // }
      }
    }
  }
}
table{
  border: none;
  tr{
    border: none;
    th{
      border: none;
    }
    td{
      border: none;
    }
  }
}
.c-common-box4{
  padding: 0;
  margin-top: 20px;
}
</style>
