<template>
  <div>
    <!-- 头部 -->
    <webHeader></webHeader>
    <!-- 下拉导航 -->
    <ShopHeader></ShopHeader>
    <!-- 样品清单 -->
    <div class="c-common-box2 bg-color2">
      <div class="container">
        <div class="c-top">
          <h1 class="c-title">
            <img src="~images/c-ypqd-ico1.png" alt="" />订单填写及核对
          </h1>
          <ul class="c-list">
            <li class="on">
              <p class="c-num">1</p>
              <p class="c-text">我的购物车</p>
            </li>
            <li class="on">
              <p class="c-num">2</p>
              <p class="c-text">订单填写及核对</p>
            </li>
            <li>
              <p class="c-num">3</p>
              <p class="c-text">订单提交成功</p>
            </li>
          </ul>
        </div>
        <div class="c-bottom">
          <!-- 修改 -->
          <div class="c-common-box4">
            <form action="">
              <h2 class="c-title">编辑收货地址</h2>
              <ul class="c-list">
                <li>
                  <el-input
                    v-model="submitAddress.consignee"
                    placeholder="收货人姓名"
                  ></el-input>
                </li>
                <li>
                  <el-input
                    v-model="submitAddress.mobile"
                    placeholder="手机号码"
                  ></el-input>
                </li>
                <li>
                  <el-input
                    v-model="submitAddress.zipcode"
                    placeholder="邮编号码"
                  ></el-input>
                </li>
                <li>
                  <el-input
                    v-model="submitAddress.label"
                    placeholder="地址标签"
                  ></el-input>
                </li>
                <li>
                  <el-select
                    v-model="submitAddress.province"
                    placeholder="选择省份"
                    @change="changePr($event)"
                  >
                    <el-option
                      v-for="(item, index) in provinceList"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </li>
                <li>
                  <el-select
                    v-model="submitAddress.city"
                    placeholder="选择市"
                    @change="changeCi($event)"
                  >
                    <el-option
                      v-for="(item, index) in cityList"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </li>
                <li>
                  <el-select
                    v-model="submitAddress.district"
                    placeholder="选择地区"
                    @change="changeXian($event)"
                  >
                    <el-option
                      v-for="(item, index) in regionList"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </li>
                <li></li>
                <li>
                  <textarea
                    v-model="submitAddress.address"
                    placeholder="详细地址"
                  ></textarea>
                </li>
                <li>
                  <button type="button" class="c-btn" @click="hanldeSubmit">
                    保存
                  </button>
                  <button type="reset" class="c-btn" @click="hanldeReset">
                    重置
                  </button>
                </li>
              </ul>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <webFooter></webFooter>
  </div>
</template>
<script>
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
import ShopHeader from "@/components/Shop/ShopHeader.vue";
export default {
  name: "EditAddress",
  data() {
    return {
      addr_id: "", //地址id
      submitAddress: {
        consignee: "",
        mobile: "",
        zipcode: "",
        label: "",
        province: "",
        city: "",
        district: "",
        address: "",
        is_default: "",
        province_id: "",
        city_id: "",
        district_id: "",
      },
      provinceList: [], // 存放省数据集合
      cityList: [], // 存放市数据集合
      regionList: [], // 存放区数据集合
      streetList: [], //存放街道数据集合
    };
  },
  components: {
    webHeader,
    webFooter,
    ShopHeader,
  },
  created(){
    this.addr_id = this.$route.query.id;
    this.ChangeShen();
    this.handleEdit();
  },
  methods: {
    // 修改地址
    handleEdit() {
      this.$axios
        .get(
          "/api/index.php?m=user&c=Shop&a=shop_edit_address&addr_id=" +
            this.addr_id
        )
        .then((res) => {
          console.log(res);
          this.addr_id = res.data.res.field.addr_id;
          this.submitAddress.consignee = res.data.res.field.consignee;
          this.submitAddress.mobile = res.data.res.field.mobile;
          this.submitAddress.zipcode = res.data.res.field.zipcode;
          this.submitAddress.label = res.data.res.field.label;
          this.submitAddress.province_id = res.data.res.field.province;
          this.submitAddress.city_id = res.data.res.field.city;
          this.submitAddress.district_id = res.data.res.field.district;
          this.submitAddress.address = res.data.res.field.address;
          this.submitAddress.is_default = res.data.res.field.is_default;

          for (var i = 0; i < this.provinceList.length; i++) {
            if (this.submitAddress.province_id == this.provinceList[i].id) {
              this.submitAddress.province = this.provinceList[i].name;

              this.changePr(this.submitAddress.province_id);
            }
          }
        });
    },

    // 绑定城市
    //获取省份数据
    ChangeShen() {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=get_region")
        .then((res) => {
          this.provinceList = res.data.res;
        });
    },
    // 省-市
    changePr(e) {
      this.submitAddress.province_id = e;
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=get_region_data", {
          parent_id: e,
        })
        .then((res) => {
          this.cityList = res.data;
          let on = true;
          for (var i = 0; i < this.cityList.length; i++) {
            if (this.submitAddress.city_id == this.cityList[i].id) {
              this.submitAddress.city = this.cityList[i].name;
              on = false;
              break;
            } else {
              on = true;
            }
          }
          if (on) {
            this.submitAddress.city = this.cityList[0].name;
            this.submitAddress.city_id = this.cityList[0].id;
          }
          this.changeCi(this.submitAddress.city_id);
        });
    },
    // 市-县
    changeCi(e) {
      this.submitAddress.city_id = e;
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=get_region_data", {
          parent_id: e,
        })
        .then((res) => {
          this.regionList = res.data;
          let on2 = true;
          for (var i = 0; i < this.regionList.length; i++) {
            if (this.submitAddress.district_id == this.regionList[i].id) {
              this.submitAddress.district = this.regionList[i].name;
              on2 = false;
              break;
            } else {
              on2 = true;
            }
          }
          if (on2) {
            this.submitAddress.district = this.regionList[0].name;
            this.submitAddress.district_id = this.regionList[0].id;
          }
          this.changeXian(this.submitAddress.district_id);
        });
    },
    // 县
    changeXian(e) {
      this.submitAddress.district_id = e;
    },

    // 重置
    hanldeReset() {
      this.handleEdit();
      this.ChangeShen();
    },
    // 提交
    hanldeSubmit() {
      if (this.submitAddress.consignee == "") {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请填写姓名!",
          type: "error",
        });
        return false;
      }
      let sjh1 = /^((12|13|14|15|16|17|18|19)+\d{9})$/;
      if (this.submitAddress.mobile == "") {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请填写手机号!",
          type: "error",
        });
        return false;
      }
      if (!sjh1.test(this.submitAddress.mobile)) {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请填写正确的手机号!",
          type: "error",
        });
        return false;
      }
      if (this.submitAddress.zipcode != "") {   //邮政编码判断
        let pattern = /^[0-9]{6}$/;
        if (!pattern.test(this.submitAddress.zipcode)) {
          this.$message.closeAll();
            this.$message({
              showClose: true,
              message: "请填写正确的邮政编码!",
              type: "error",
            });
            return false;
        }
      }
      if (this.submitAddress.province_id == "") {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请选择省份!",
          type: "error",
        });
        return false;
      }
      if (this.submitAddress.city_id == "") {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请选择城市!",
          type: "error",
        });
        return false;
      }
      if (this.submitAddress.district_id == "") {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请选择地区!",
          type: "error",
        });
        return false;
      }
      if (this.submitAddress.address == "") {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请填写详细地址!",
          type: "error",
        });
        return false;
      }
      this.$axios
        .post(
          "/api/index.php?m=user&c=Shop&a=shop_edit_address&addr_id=" +
            this.addr_id,
          {
            addr_id: this.addr_id,
            consignee: this.submitAddress.consignee,
            mobile: this.submitAddress.mobile,
            zipcode: this.submitAddress.zipcode,
            label: this.submitAddress.label,
            province: this.submitAddress.province_id,
            city: this.submitAddress.city_id,
            district: this.submitAddress.district_id,
            address: this.submitAddress.address,
            is_default: this.submitAddress.is_default,
          }
        )
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.$router.go(-1);
        });
    },
  },
};
</script>
<style scoped lang="scss"></style>
