<template>
  <div>
    <!-- 头部 -->
    <webHeader></webHeader>
    <!-- 下拉导航 -->
    <ShopHeader></ShopHeader>
    <!-- 样品清单 -->
    <div class="c-common-box2 bg-color2">
      <div class="container">
        <div class="c-top">
          <h1 class="c-title">
            <img src="~images/c-ypqd-ico2.png" alt="" />样品申请提交
          </h1>
          <ul class="c-list on">
            <li class="on">
              <p class="c-num">1</p>
              <p class="c-text">样品清单</p>
            </li>
            <li class="on">
              <p class="c-num">2</p>
              <p class="c-text">信息填写及核对</p>
            </li>
            <li class="on">
              <p class="c-num">3</p>
              <p class="c-text">清单提交成功</p>
            </li>
          </ul>
        </div>
        <div class="c-bottom">
          <!-- 提交成功 -->
          <div id="c-successfully">
            <div>
              <h1 class="c-title">
                <img src="~images/c-tjcg-ico.png" alt="" /><span
                  >免费样品申请已提交，请等待审批通知</span
                >
              </h1>
              <div class="c-center2">
                <p class="c-text">样品单号：{{ orderid }}</p>
                <div class="c-link">
                  <router-link
                    :to="{
                      path: '/Personal/Sample/SampleDetails',
                      query: {
                        id: id
                      },
                    }"
                    >查看样品详情</router-link
                  >
                  <router-link to="/">返回首页</router-link>
                </div>
                <div class="c-text2" v-html="content"></div>
              </div>
              <div class="c-bottom2">
                <router-link to="/Shop/SampleList">返回样品列表</router-link>
                <p class="c-text">
                  <span>{{ time }}s</span>后自动跳转
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <webFooter></webFooter>
  </div>
</template>
<script>
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
import ShopHeader from "@/components/Shop/ShopHeader.vue";
export default {
  name: "SubmitSuccessfully",
  data() {
    return {
      time: 30,
      orderid: "",
      id: "",
      content:
        '<p style="font-size:16px;">* 注意事项：</p><p>1、样品申请信息，将会提交给原厂并审核。</p><p>2、信息完整详细的样品申请，将先获得受理。</p><p>3、免费样品数量有限，不建议总价超过200元。</p><p>4、不建议重复申请型号相同的样品。</p><p>5、有疑问请联系客服400-830-1766。</p>',
    };
  },
  components: {
    webHeader,
    webFooter,
    ShopHeader,
  },
  created() {
    // 跳转首页
    let timer = setInterval(() => {
      this.time -= 1;
      if (this.time == -1) {
        this.$router.push({
          path: "/",
        });
        clearInterval(timer);
      }
    }, 1000);
    this.$once("hook:beforeDestroy", () => {
      clearInterval(timer);
    });
  },
  mounted() {
    this.orderid = this.$route.query.number;
    this.id = this.$route.query.id;
  },
  methods: {},
};
</script>
<style scoped lang="scss">
// 提交成功
#c-successfully {
  padding: 70px;
  background: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  .c-title {
    display: flex;
    align-content: center;
    font-size: 32px;
    img {
      margin-right: 30px;
      width: 60px;
    }
  }
  .c-center2 {
    padding-left: 90px;
    line-height: 1.5;
    .c-text {
      padding: 10px 0 5px;
      color: #666;
    }
    .c-link {
      a {
        margin-right: 20px;
        color: #208fb9;
        text-decoration: underline;
      }
    }
    .c-text2 {
      padding: 35px 0 55px;
      font-size: 14px;
      line-height: 1.8;
      color: #999;
    }
  }
  .c-bottom2 {
    padding-left: 90px;
    display: flex;
    align-items: center;
    font-size: 18px;
    a {
      margin-right: 20px;
      display: block;
      width: 180px;
      border-radius: 2px;
      line-height: 50px;
      text-align: center;
      color: #fff;
      background: #208fb9;
    }
    span {
      margin-right: 10px;
      color: #208fb9;
    }
  }
}
</style>
