<template>
  <div>
    <div class="c-list-box">
      <div class="c-line"></div>
      <ul class="c-list">
        <li class="on">
          <div class="c-dot"></div>
          <p class="c-text">提交申请</p>
        </li>
        <li>
          <div class="c-dot"></div>
          <p class="c-text">商家确认</p>
        </li>
        <li>
          <div class="c-dot"></div>
          <p class="c-text">客户退货</p>
        </li>
        <li>
          <div class="c-dot"></div>
          <p class="c-text">商家换货/退款</p>
        </li>
      </ul>
    </div>
    <table class="c-common-table c-dt">
      <thead>
        <tr>
          <!-- <th>
            <div
              class="c-radio el-input__icon el-icon-check"
              @click="checkedAll"
              :class="{ on: checkAll }"
            ></div>
          </th> -->
          <th>图片</th>
          <th>型号</th>
          <th>描述</th>
          <th>商品价格(含税)</th>
          <th>退换数量</th>
          <th>退款金额</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <td>
            <div
              class="c-radio el-input__icon el-icon-check"
              :class="{ on: item.checked == 1 }"
              @click="checkedOne(index)"
            ></div>
          </td> -->
          <td>
            <div class="c-img-box">
              <img :src="data.field.litpic" :alt="data.field.product_name" />
            </div>
          </td>
          <td>
            <h3 class="c-title">{{ data.field.product_name }}</h3>
          </td>
          <td>
            <!-- <div class="c-text">
              <p v-for="(item2, index2) in item.children" :key="index2">
                <span>{{ item2.title }}：</span>{{ item2.val }}
              </p>
            </div> -->
            <!-- <div class="c-text" v-html="data.field.data"></div> -->
            <div class="c-txt" @click="moretxt()" v-html="data.field.data"></div>
            <!-- 描述弹窗 -->
            <div class="moretxt-tc" v-if="data_status">
              <div class="close" @click="closemoretxt()"><img src="~images/c-close2.png" alt=""></div>
              <div class="txt" v-html="data.field.data"></div>
            </div>
          </td>
          <td>
            ￥{{ data.field.product_price }}
          </td>
          <td>
            <el-input-number
              disabled
              v-model="num"
              :min="1"
              :max="data.field.num"
              @change="handleChange()"
            ></el-input-number>
          </td>
          <td>
            <span  class="c-price">￥{{ data.field.coupon_prices }}</span> 
            <p>返回积分 {{data.field.integrals}}</p>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="c-detail">
      <div class="c-item">
        <p class="c-title">退货类型：</p>
        <el-radio-group v-model="returnType">
          <el-radio :label="2">退货退款</el-radio>
          <el-radio :label="1">换货 (仅支持原订单换货)</el-radio>
        </el-radio-group>
      </div>
      <div class="c-item" v-if="returnType == 2">
        <p class="c-title">退货原因：</p>
        <el-radio-group v-model="reason1" class="c-list">
          <div v-for="(item, index) in reason1data" :key="index">
            <el-radio :label="item.value">{{ item.value }}</el-radio>
          </div>
          <div>
            <el-radio label="其他">其他</el-radio>
            <el-input v-model="other1" placeholder="请输入内容"></el-input>
          </div>
        </el-radio-group>
      </div>
      <div class="c-item" v-if="returnType == 1">
        <p class="c-title">换货原因：</p>
        <el-radio-group v-model="reason2" class="c-list">
          <div v-for="(item, index) in reason2data" :key="index">
            <el-radio :label="item.value">{{ item.value }}</el-radio>
          </div>
          <div>
            <el-radio label="其他">其他</el-radio>
            <el-input v-model="other2" placeholder="请输入内容"></el-input>
          </div>
        </el-radio-group>
      </div>
      <div class="c-item" v-show="returnType == 1">
        <p class="c-title">收货地址：</p>
        <div class="c-address">
          <ul class="c-list2">
            <li
              v-for="(item, index) in addressList"
              :key="index"
              :class="{ on: checkedIndex == index }"
              @click="setCheckedIndex(index)"
            >
              <div class="c-wrap">
                <div class="c-top2">
                  <h3 class="c-title">{{ item.consignee }}</h3>
                  <ul class="c-list3">
                    <li v-if="item.is_default == 1"><p>默认</p></li>
                    <li v-if="item.label">
                      <p>{{ item.label }}</p>
                    </li>
                  </ul>
                </div>
                <div class="c-center2">
                  <div class="c-text">
                    <p>
                      <span>电话：</span><span>{{ item.mobile }}</span>
                    </p>
                    <p>
                      <span>地址：</span
                      ><span
                        >{{ item.province }}{{ item.city }}{{ item.district
                        }}{{ item.street }}{{ item.address }}</span
                      >
                    </p>
                    <p>
                      <span>邮编：</span>
                      <span>{{ item.zipcode }}</span>
                    </p>
                  </div>
                </div>
                <div class="c-bottom2">
                  <ul class="c-list3">
                    <li v-if="item.is_default != 1">
                      <p @click.stop="handleDefault(item.addr_id)">设为默认</p>
                    </li>
                    <li><p @click.stop="handleEdit(item.addr_id)">修改</p></li>
                    <li><p @click.stop="handleDel(item.addr_id)">删除</p></li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <div class="c-wrap" @click="handleAdd">
                <div class="c-add">
                  <img src="~images/c-add-ico.png" alt="" />
                  <p class="c-text">添加新地址</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="c-item">
        <div class="c-btn" @click="applySubmit()">提交申请</div>
      </div>
    </div>

    <div class="c-common-box4-wrap" v-show="!isAddress">
      <!-- 修改/添加 -->
      <div class="c-common-box4">
        <form action="">
          <h2 class="c-title" v-if="!isAddAddress">编辑收货地址</h2>
          <h2 class="c-title" v-if="isAddAddress">添加收货地址</h2>
          <ul class="c-list">
            <li>
              <el-input
                v-model="submitAddress.consignee"
                placeholder="收货人姓名"
              ></el-input>
            </li>
            <li>
              <el-input
                v-model="submitAddress.mobile"
                placeholder="手机号码"
              ></el-input>
            </li>
            <li>
              <el-input
                v-model="submitAddress.zipcode"
                placeholder="邮编号码"
              ></el-input>
            </li>
            <li>
              <el-input
                v-model="submitAddress.label"
                placeholder="地址标签"
              ></el-input>
            </li>
            <li>
              <el-select
                v-model="submitAddress.province"
                placeholder="选择省份"
                @change="changePr($event)"
              >
                <el-option
                  v-for="(item, index) in provinceList"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </li>
            <li>
              <el-select
                v-model="submitAddress.city"
                placeholder="选择市"
                @change="changeCi($event)"
              >
                <el-option
                  v-for="(item, index) in cityList"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </li>
            <li>
              <el-select
                v-model="submitAddress.district"
                placeholder="选择地区"
                @change="changeXian($event)"
              >
                <el-option
                  v-for="(item, index) in regionList"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </li>
            <li></li>
            <li>
              <textarea
                v-model="submitAddress.address"
                placeholder="详细地址"
              ></textarea>
            </li>
            <li>
              <button
                type="button"
                class="c-btn"
                v-if="!isAddAddress"
                @click="hanldeSubmit(1)"
              >
                保存
              </button>
              <button
                type="button"
                class="c-btn"
                v-if="isAddAddress"
                @click="hanldeSubmit(2)"
              >
                添加
              </button>
              <button type="reset" class="c-btn" @click="hanldeCancel">
                取消
              </button>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import * as math from "mathjs";
export default {
  name: "ApplyFor",
  data() {
    return {
      num: 1,
      total: 0,
      returnType: 1, //退货类型
      reason1data: [
        {
          value: "退运费",
        },
        {
          value: "收到商品破损",
        },
        {
          value: "商品错发、漏发",
        },
        {
          value: "发票问题",
        },
        {
          value: "收到商品与描述不符",
        },
        {
          value: "商品质量问题",
        },
        {
          value: "未按约定时间发货",
        },
        {
          value: "未收到货",
        },
      ],
      reason1: "退运费", //退货原因
      other1: "", //其他退货原因
      reason2data: [
        {
          value: "商品质量问题",
        },
        {
          value: "包装破损/有污渍",
        },
        {
          value: "商品与描述不符",
        },
        {
          value: "不喜欢/用着不舒服",
        },
        {
          value: "买多了/买错了",
        },
        {
          value: "商品错发",
        },
        {
          value: "商品未收到",
        },
      ],
      reason2: "商品质量问题", //换货原因
      other2: "", //其他换货原因
      checkAll: false, //全选
      data: [],
      addressList: [], //地址
      addr_index: 0, //收货地址id
      isAddress: true, //是否显示收货地址管理
      isAddAddress: true, //是否是添加地址
      addressData: [], //全国地址
      provinceList: [], // 存放省数据集合
      cityList: [], // 存放市数据集合
      regionList: [], // 存放区数据集合
      streetList: [], //存放街道数据集合
      submitAddress: {
        consignee: "",
        mobile: "",
        zipcode: "",
        label: "",
        province: "",
        city: "",
        district: "",
        address: "",
        is_default: "",
        province_id: "",
        city_id: "",
        district_id: "",
      },
      addr_id: "",
      checkedIndex: 0,
      data_status: false
    };
  },
  components: {},
  created() {
    this.getOrderInfo();
    this.ChangeShen();
    this.getAddressList();
  },
  methods: {
    //订单详情
    getOrderInfo() {
      this.$axios
        .get(
          "/api/index.php?m=user&c=Shop&a=after_service_apply&details_id=" +
            this.$route.query.details_id
        )
        .then((res) => {
          console.log(res);
          this.data = res.data.res;
          this.num = this.data.field.num;
          this.handleChange();
        });
    },
    // 单选
    checkedOne(index) {
      if (this.data[index].checked == 1) {
        this.data[index].checked = 2;
        this.checkedLength -= 1;
      } else {
        this.data[index].checked = 1;
        this.checkedLength += 1;
      }
      if (this.checkedLength == this.data.length) {
        this.checkAll = true;
      } else {
        this.checkAll = false;
      }
    },
    // 全选
    checkedAll() {
      this.checkAll = !this.checkAll;
      console.log(this.checkAll);
      if (this.checkAll) {
        this.checkedLength = this.data.length;
        for (let index = 0; index < this.data.length; index++) {
          this.data[index].checked = 1;
        }
      } else {
        this.checkedLength = 0;
        for (let index = 0; index < this.data.length; index++) {
          this.data[index].checked = 2;
        }
      }
    },
    // 单个产品总价
    handleChange() {
      this.total = Number(
        math.format(
          math.multiply(
            math.bignumber(this.data.field.product_price),
            math.bignumber(this.num)
          )
        )
      ).toFixed(2);
    },
    // 提交申请
    applySubmit() {
      let content = "";
      if (this.returnType == 2) {
        if (this.reason1 == "其他" && this.other1 == "") {
          this.$message.closeAll();
          this.$message({
            showClose: true,
            message: "请输入退货原因!",
            type: "error",
          });
          return false;
        }
        if (this.reason1 == "其他") {
          content = this.other1;
        } else {
          content = this.reason1;
        }
      } else {
        if (this.reason2 == "其他" && this.other2 == "") {
          this.$message.closeAll();
          this.$message({
            showClose: true,
            message: "请输入换货原因!",
            type: "error",
          });
          return false;
        }
        if (this.reason2 == "其他") {
          content = this.other2;
        } else {
          content = this.reason2;
        }
      }

      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=after_service_apply&_ajax=1", {
          order_id: this.data.field.order_id,
          order_code: this.data.field.order_code,
          details_id: this.data.field.details_id,
          product_id: this.data.field.product_id,
          product_num: this.data.field.num,
          product_name: this.data.field.product_name,
          product_img: this.data.field.litpic,
          integral: this.data.field.integrals,
          coupon_price: this.data.field.coupon_pricesee,
          refund_price: this.total,
          service_type: this.returnType,
          addrinfo:
            this.addressList[this.checkedIndex].province +
            this.addressList[this.checkedIndex].city +
            this.addressList[this.checkedIndex].district,
          address: this.addressList[this.checkedIndex].address,
          content: content,
          consignee: this.addressList[this.checkedIndex].consignee,
          mobile: this.addressList[this.checkedIndex].mobile,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          setTimeout(() => {
            this.$router.push({
              name: "OrderList",
            });
          }, 2000);
        });
    },

    // 绑定城市
    //获取省份数据
    ChangeShen() {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=get_region")
        .then((res) => {
          this.provinceList = res.data.res;
        });
    },

    // 省-市
    changePr(e) {
      this.submitAddress.province_id = e;
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=get_region_data", {
          parent_id: e,
        })
        .then((res) => {
          this.cityList = res.data;
          let on = true;
          for (var i = 0; i < this.cityList.length; i++) {
            if (this.submitAddress.city_id == this.cityList[i].id) {
              this.submitAddress.city = this.cityList[i].name;
              on = false;
              break;
            } else {
              on = true;
            }
          }
          if (on) {
            this.submitAddress.city_id = this.cityList[0].id;
            this.submitAddress.city = this.cityList[0].name;
          }
          this.changeCi(this.submitAddress.city_id);
        });
    },
    // 市-县
    changeCi(e) {
      this.submitAddress.city_id = e;
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=get_region_data", {
          parent_id: e,
        })
        .then((res) => {
          this.regionList = res.data;
          let on2 = true;
          for (var i = 0; i < this.regionList.length; i++) {
            if (this.submitAddress.district_id == this.regionList[i].id) {
              this.submitAddress.district = this.regionList[i].name;
              on2 = false;
              break;
            } else {
              on2 = true;
            }
          }
          if (on2) {
            this.submitAddress.district = this.regionList[0].name;
            this.submitAddress.district_id = this.regionList[0].id;
          }
          this.changeXian(this.submitAddress.district_id);
        });
    },
    // 县
    changeXian(e) {
      this.submitAddress.district_id = e;
    },

    // 获取地址列表
    getAddressList() {
      this.$axios.post("/api/index.php?m=user&c=Shop&a=addlist").then((res) => {
        this.addressList = res.data.res;
      });
    },

    // 修改地址
    handleEdit(id) {
      this.isAddress = false;
      this.isAddAddress = false;
      this.$axios
        .get("/api/index.php?m=user&c=Shop&a=shop_edit_address&addr_id=" + id)
        .then((res) => {
          this.addr_id = res.data.res.field.addr_id;
          this.submitAddress.consignee = res.data.res.field.consignee;
          this.submitAddress.mobile = res.data.res.field.mobile;
          this.submitAddress.zipcode = res.data.res.field.zipcode;
          this.submitAddress.label = res.data.res.field.label;
          this.submitAddress.province_id = res.data.res.field.province;
          this.submitAddress.city_id = res.data.res.field.city;
          this.submitAddress.district_id = res.data.res.field.district;
          this.submitAddress.address = res.data.res.field.address;
          this.submitAddress.is_default = res.data.res.field.is_default;
          console.log(this.submitAddress);

          for (var i = 0; i < this.provinceList.length; i++) {
            if (this.submitAddress.province_id == this.provinceList[i].id) {
              this.submitAddress.province = this.provinceList[i].name;

              this.changePr(this.submitAddress.province_id);
            }
          }
        });
    },
    // 添加地址
    handleAdd() {
      (this.submitAddress = {
        id: "",
        default: "",
        name: "",
        tag: "",
        phone: "",
        postcode: "",
        province: "",
        city: "",
        region: "",
        street: "",
        address: "",
      }),
        (this.isAddress = false);
      this.isAddAddress = true;
    },
    // 取消修改添加
    hanldeCancel() {
      this.isAddress = true;
    },
    // 提交添加新增地址
    hanldeSubmit(index) {
      if (index == 1) {
        //修改地址保存
        this.$axios
          .post(
            "/api/index.php?m=user&c=Shop&a=shop_edit_address&addr_id=" +
              this.addr_id,
            {
              addr_id: this.addr_id,
              consignee: this.submitAddress.consignee,
              mobile: this.submitAddress.mobile,
              zipcode: this.submitAddress.zipcode,
              label: this.submitAddress.label,
              province: this.submitAddress.province_id,
              city: this.submitAddress.city_id,
              district: this.submitAddress.district_id,
              address: this.submitAddress.address,
              is_default: this.submitAddress.is_default,
            }
          )
          .then((res) => {
            if (res.data.status != 1) {
              this.$message.closeAll();
              this.$message.error(res.data.msg);
              return false;
            }
            this.$message.closeAll();
            this.$message.success(res.data.msg);
            this.getAddressList();
          });
      }
      if (index == 2) {
        //提交新增地址
        this.$axios
          .post("/api/index.php?m=user&c=Shop&a=shop_add_address", {
            consignee: this.submitAddress.consignee, //收货人姓名
            mobile: this.submitAddress.mobile, //手机号
            province: this.submitAddress.province_id, //省份id
            city: this.submitAddress.city_id, //市id
            district: this.submitAddress.district_id, //县id
            address: this.submitAddress.address, //详细地址
            zipcode: this.submitAddress.zipcode, //邮编
            is_default: 0, //是否默认 0:否 1:是
            label: this.submitAddress.label, //标签
          })
          .then((res) => {
            if (res.data.status != 1) {
              this.$message.closeAll();
              this.$message.error(res.data.msg);
              return false;
            }
            this.$message.closeAll();
            this.$message.success(res.data.msg);
            this.getAddressList();
          });
      }
      this.isAddress = true;
    },

    // 设置默认地址
    handleDefault(id) {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=shop_set_default_address", {
          addr_id: id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.getAddressList();
        });
    },

    // 删除地址
    handleDel(id) {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=shop_del_address", {
          addr_id: id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.getAddressList();
        });
    },

    // 设置选中地址的索引
    setCheckedIndex(index) {
      this.checkedIndex = index;
    },

    //描述弹窗
    moretxt(){
      this.data_status = !this.data_status;
      console.log(this.data_status);
    },
    closemoretxt(){
      this.data_status = !this.data_status;
      console.log(this.data_status);
    },

  },
};
</script>
<style scoped lang="scss">
// 退换货申请
.c-list-box {
  margin: 40px 0;
  position: relative;
  .c-line {
    position: absolute;
    top: 12px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 2px;
    background: #e5e5e5;
  }
  .c-list {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: flex-start;
    li {
      width: 25%;
      text-align: center;
      .c-dot {
        margin: 0 auto 10px;
        width: 26px;
        height: 26px;
        border: 8px solid transparent;
        border-radius: 50%;
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background: #c1c1c1;
          border-radius: 50%;
        }
      }
      .c-text {
        font-weight: bold;
        line-height: 1;
      }
      &.on {
        .c-dot {
          background: #e8f4f8;
          &::before {
            background: #208fb9;
          }
        }
        .c-text {
          color: #208fb9;
        }
      }
    }
  }
}
.c-detail {
  padding-top: 40px;
  .c-item {
    display: flex;
    align-items: flex-start;
    margin: 0 auto 40px;
    width: 700px;
    font-size: 14px;
    line-height: 30px;
    &:last-child {
      margin-bottom: 0;
      padding-left: 80px;
    }
    .c-title {
      margin-right: 10px;
      flex-shrink: 0;
    }
    .c-list {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      & > div {
        display: flex;
        align-items: center;
        width: 50%;
      }
    }
    .c-btn {
      width: 140px;
      font-size: 14px;
      line-height: 40px;
      text-align: center;
      color: #fff;
      background: #208fb9;
      cursor: pointer;
    }
  }
}

.c-detail ::v-deep .el-radio {
  flex-shrink: 0;
  margin-right: 10px;
  line-height: 30px;
}
.c-detail ::v-deep .el-input__inner {
  padding: 0 10px;
  height: 30px;
  line-height: 28px;
  border: 1px solid #ccc;
}
.c-detail ::v-deep .el-input__inner:focus {
  border-color: #208fb9;
}
.c-common-table td .c-text{
  max-width: 260px;
}
.c-common-table .el-input-number{
  height: 26px;
}
.c-common-table td{
  position: relative;
  .c-txt{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    cursor: pointer;
  }
  .moretxt-tc{
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    background: #fff;
    z-index: 3;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    .close{
      width: 20px;
      height: 20px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
}
// 地址管理
.c-address {
  width: 100%;
  .c-list2 {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: -20px -10px 0;
    & > li {
      width: 50%;
      padding: 20px 10px 0;
      &.on {
        .c-wrap {
          border-color: #208fb9;
        }
      }
      @media (max-width: 1580px) {
        width: 50%;
      }
      .c-wrap {
        position: relative;
        border: 1px solid #e5e5e5;
        padding: 30px;
        height: 250px;
        &::before {
          opacity: 0;
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 0;
          height: 0;
          border-bottom: 6px solid #208fb9;
          border-left: 6px solid transparent;
        }
        .c-top2 {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-wrap: wrap;
          line-height: 26px;
          .c-name {
            max-width: 50%;
            flex-shrink: 0;
            font-weight: normal;
            font-size: 18px;
          }
          .c-list3 {
            display: flex;
            align-content: flex-start;
            margin: 0 -2px -4px;
            li {
              padding: 0 2px 4px;
              p {
                padding: 0 10px;
                font-size: 14px;
                line-height: 24px;
                border: 1px solid #208fb9;
                border-radius: 2px;
                color: #208fb9;
              }
            }
          }
        }
        .c-center2 {
          .c-text {
            padding-right: 35px;
            font-size: 14px;
            color: #666;
            height: 90px;
            line-height: 1.5;
            p {
              display: flex;
              margin-top: 10px;
              span {
                &:first-child {
                  flex-shrink: 0;
                }
                &:last-child {
                  width: 100%;
                }
              }
            }
          }
        }
        .c-bottom2 {
          .c-list3 {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            margin-top: 10px;
            li {
              padding-left: 15px;
              font-size: 14px;
              color: #666;
              text-decoration: underline;
              &:first-child {
                color: #208fb9;
              }
              &.on {
                &:first-child {
                  color: #666;
                }
              }
              p {
                cursor: pointer;
              }
            }
          }
        }
      }
      &.on {
        .c-wrap {
          border-color: #208fb9;
          &::before {
            opacity: 1;
          }
        }
      }
      &:last-child {
        .c-wrap {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          height: 212px;
          font-size: 14px;
          cursor: pointer;
          img {
            margin-bottom: 15px;
            width: 40px;
          }
          .c-text {
            color: #999;
          }
        }
      }
    }
  }
}

.c-common-box4-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  .c-common-box4 {
    width: 800px;
  }
}
</style>
