<template>
  <!-- 询交期 -->
  <div id="c-delivery">
    <div class="delivery-list">
      <div class="title">
        <ul>
          <li>类型</li>
          <li>单号</li>
          <li>型号</li>
          <li>品牌</li>
          <li>提交时间</li>
          <li>状态</li>
        </ul>
      </div>
      <div class="list">
        <div class="item" v-for="(item, index) of DeliveryList" :key="index">
          <div class="item-title" @click="open(index, item.status)">
            <ul>
              <li>询交期</li>
              <li>{{ item.numbers }}</li>
              <li>
                <img :src="item.litpic" alt="" />
                {{ item.title }}
              </li>
              <li>
                <router-link 
                  :to="{
                    path: '/Shop/BrandSearch',
                    query: { key: item.brand_name},
                  }" class="c-brand">
                  <img :src="item.brand_litpic" alt="" />
                  {{ item.brand_name }}
                </router-link>
              </li>
              <li>{{ item.add_time | dateDiff }}</li>
              <li>
                <span v-if="item.status == 1">已回交期</span>
                <span v-else>未回交期</span>
                <img v-if="item.status == 1" src="~images/arrow-b2.png" alt="">
              </li>
            </ul>
          </div>
          <div class="item-content" v-if="item.open != 0">
            <ul class="c-list">
              <li>
                <h2 class="c-title">项目名称</h2>
                <div class="c-text">
                  <p>提交时间： 
                    {{
                      moment(item.add_time * 1000).format(
                        "YYYY.MM.DD HH:mm:ss"
                      )
                    }}
                  </p>
                  <p>
                    状态：
                    <span v-if="item.status == 1">已回交期</span>
                    <span v-else>未回交期</span>
                  </p>
                  <p>交期回复：{{ item.content }}</p>
                  <p>处理时间：
                    {{item.processing_time}}
                      {{
                        moment(item.processing_time * 1000).format(
                          "YYYY.MM.DD HH:mm:ss"
                        )
                      }}
                  </p>
                  <p>如有任何疑问，欢迎随时与您的服务代表联系！</p>
                  <p>服务代表：{{ item.name }}</p>
                  <p>联系电话：{{ item.phone }}</p>
                  <p>邮箱：{{ item.email }}</p>
                </div>
              </li>
              <li>
                <h2 class="c-title">询交期信息</h2>
                <div class="c-text">
                  <p>型号：{{ item.title }}</p>
                  <p>品牌：{{ item.brand_name }}</p>
                </div>
              </li>
              <li>
                <p class="c-btn" @click="close(index)">
                  <span>收起</span><i></i>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <el-pagination
      id="c-page"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      background
      :current-page="currentPage"
      :page-sizes="pageSizes"
      :page-size="loadCount"
      layout="total, sizes, prev, pager, next, jumper"
      :total="totalCount"
      :pager-count="5"
      :hide-on-single-page="totalPage < 2"
    >
    </el-pagination>
  </div>
</template>
<script>
import moment from "moment";
export default {
  name: "Delivery",
  data() {
    return {
      currentPage: 1, //当前页
      pageSizes: [12, 60, 120], //每页显示条数
      loadCount: 12, //每页条数
      totalCount: 0, //总条数
      totalPage: 0, //总页数
      DeliveryList: [], //询交列表
    };
  },
  components: {},
  mounted() {},
  created: function () {
    this.getDelivery();
  },
  methods: {
    moment,
    // 设置每页多少条
    handleSizeChange(val) {
      this.loadCount = val;
      this.getDelivery();
    },
    // 设置当前页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getDelivery();
    },

    // 询交列表
    getDelivery() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=delivery_list", {
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then(res => {
          console.log(res);
          this.DeliveryList = res.data.res;
          this.totalCount = res.data.count;
          this.totalPage = res.data.total_page;
        });
    },

    open(index, status) {
      if (status == 1) {
        if(this.DeliveryList[index].open == 0){
          this.DeliveryList.forEach((item) => {
            item.open = 0;
          })
          this.DeliveryList[index].open = 1;
        }else{
          this.DeliveryList[index].open = 0;
        }
      }
    },
    close(index) {
      this.DeliveryList[index].open = 0;
    },
  },
};
</script>
<style scoped lang="scss">
// 询交期
#c-delivery {
  padding: 40px;
  min-height: 912px;
  background-color: #fff;

  .delivery-list {
    width: 100%;
    border: 1px solid #eee;
    .title {
      width: 100%;
      ul {
        display: flex;
        li {
          width: calc(100% / 6);
          padding: 15px 20px;
          color: #333;
          text-align: center;
          border-right: 1px solid #eee;
          &:last-child {
            border-right: none;
          }
        }
      }
    }
    .list {
      width: 100%;
      border-top: 1px solid #eee;
      .item {
        width: 100%;
        .item-title {
          width: 100%;
          border-bottom: 1px solid #eee;
          ul {
            display: flex;
            li {
              width: calc(100% / 6);
              padding: 15px 0;
              color: #333;
              text-align: center;
              border-right: 1px solid #eee;
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: center;
              position: relative;
              &:last-child {
                border-right: none;
                img{
                  width: 12px;
                  position: absolute;
                  right: 10px;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }
              .c-brand {
                color: #208fb9;
                text-decoration: underline;
              }
              img {
                max-width: 90%;
                margin-bottom: 10px;
              }
            }
          }
        }
        .item-content {
          padding: 15px 20px;
          background: #eee;
          .c-title {
            margin-bottom: 5px;
            font-size: 18px;
            font-weight: normal;
            line-height: 1.5;
          }
          .c-text {
            margin-bottom: 20px;
            color: #666;
            line-height: 1.8;
          }
          .c-btn {
            display: flex;
            align-items: center;
            color: #208fb9;
            line-height: 1.5;
            cursor: pointer;
            i {
              margin-left: 10px;
              display: inline-block;
              width: 14px;
              height: 14px;
              background: url(~images/arrow-r4.png) no-repeat center / auto 8px;
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
            }
          }
        }
      }
    }
  }
}
#c-page {
  padding-top: 30px;
  text-align: center;
}
</style>
