<template>
  <div>
    <!-- 头部 -->
    <webHeader ref="newsNum"></webHeader>
    <!-- 下拉导航 -->
    <ShopHeader></ShopHeader>
    <!-- 面包屑导航 -->
    <div id="c-navigation" class="bg-color2">
      <div class="container">
        <ul class="c-list">
          <li><router-link to="/">首页</router-link><span></span></li>
          <li>
            <router-link to="/Personal">个人中心</router-link><span></span>
          </li>
          <!-- <li>
            <router-link to="">个人信息</router-link><span></span>
          </li> -->
        </ul>
      </div>
    </div>
    <!-- 个人中心 -->
    <div id="c-personal" class="bg-color2">
      <div class="container">
        <div class="c-left-box">
          <div class="c-top">
            <div class="c-photo">
              <img :src="userIonf.head_pic" alt="" />
            </div>
            <p class="c-name">{{ userIonf.nickname }}</p>
            <img
              class="c-vip"
              v-if="level_name == '普通会员'"
              src="~images/c-vip-ico1.png"
              alt=""
            />
            <img
              class="c-vip"
              v-if="level_name == '黄金会员'"
              src="~images/c-vip-ico2.png"
              alt=""
            />
            <img
              class="c-vip"
              v-if="level_name == '铂金会员'"
              src="~images/c-vip-ico3.png"
              alt=""
            />
            <img
              class="c-vip"
              v-if="level_name == '钻石会员'"
              src="~images/c-vip-ico4.png"
              alt=""
            />
            <div class="c-btn-box">
              <p class="c-btn" @click="SignIn">
                <span v-if="userIonf.scores != 1"
                  >签到<span>(积分+5)</span></span
                >
                <span v-else>已签到</span>
              </p>
              <router-link to="/PersonalCenter" class="c-btn"
                >博客主页</router-link
              >
            </div>
          </div>
          <div class="c-bottom">
            <div class="c-list">
              <router-link to="/Personal/Information">
                <img src="~images/c-user-ico1.png" alt="" />
                <img src="~images/c-user-ico1-h.png" alt="" />
                <p>个人中心</p>
              </router-link>
              <router-link to="/Personal/Order">
                <img src="~images/c-user-ico6.png" alt="" />
                <img src="~images/c-user-ico6-h.png" alt="" />
                <p>我的订单</p>
              </router-link>
              <router-link to="/Personal/Vip">
                <img src="~images/c-user-ico2.png" alt="" />
                <img src="~images/c-user-ico2-h.png" alt="" />
                <p>VIP会员</p>
              </router-link>
              <router-link to="/Personal/Message">
                <img src="~images/c-user-ico3.png" alt="" />
                <img src="~images/c-user-ico3-h.png" alt="" />
                <p>我的消息</p>
              </router-link>
              <router-link to="/Personal/Resource">
                <img src="~images/c-user-ico4.png" alt="" />
                <img src="~images/c-user-ico4-h.png" alt="" />
                <p>我的资源</p>
              </router-link>
              <router-link to="/Personal/Collect">
                <img src="~images/c-user-ico5.png" alt="" />
                <img src="~images/c-user-ico5-h.png" alt="" />
                <p>收藏的商品</p>
              </router-link>
              <router-link to="/Personal/Sample">
                <img src="~images/c-user-ico7.png" alt="" />
                <img src="~images/c-user-ico7-h.png" alt="" />
                <p>我的样品</p>
              </router-link>
              <router-link to="/Personal/Delivery">
                <img src="~images/c-user-ico8.png" alt="" />
                <img src="~images/c-user-ico8-h.png" alt="" />
                <p>询交期</p>
              </router-link>
              <a @click="loginOut">
                <img src="~images/c-user-ico9.png" alt="" />
                <img src="~images/c-user-ico9-h.png" alt="" />
                <p>安全登出</p>
              </a>
            </div>
          </div>
        </div>
        <div class="c-right-box">
          <router-view @getInfo="getUserInfo" ref="mychild" />
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <webFooter></webFooter>
  </div>
</template>
<script>
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
import ShopHeader from "@/components/Shop/ShopHeader.vue";
import debounce from "lodash.debounce";
export default {
  name: "Index",
  data() {
    return {
      userIonf: {
        email: "",
        head_pic: "",
        nickname: "",
        password: "",
        phone: "",
        username: "",
        users_id: "",
      },
      level_name: "",
    };
  },
  components: {
    webHeader,
    webFooter,
    ShopHeader,
  },
  created() {
    // 获取个人信息
    this.getUserInfo();
    this.getVipLv();
    // console.log(this.$route.meta)；
    this.SignIn = debounce(this.SignIn, 500);
  },

  methods: {
    getUserInfo() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_list")
        .then((res) => {
          if(res.data.status == -2){
            this.$router.push({ path: "/login"});
            return false;
          }
          this.userIonf = res.data.users;
        });
    },
    loginOut() {
      this.$confirm("确定要退出登录吗？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
      .then(() => {
        this.$axios.post("/api/index.php?m=user&c=Users&a=logout").then(() => {
          window.localStorage.clear();
          this.$router.push({ path: "/login",query:{ source:'1' } });
        });
      });
    },
    changeMsg(){
      console.log(1);
      this.$refs.newsNum.getMesNun()
    },
    // 签到
    SignIn() {
      this.$axios
        .post("/api/index.php?m=api&c=Ajax&a=signin_save", {
          _ajax: 1,
        })
        .then((res) => {
          this.SignInCode = res.data.code;
          if (this.SignInCode == 0) {
            this.$message.closeAll();
            this.$message.warning(res.data.msg);
            this.getUserInfo();
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.getUserInfo();
          this.$refs.mychild.getIntegral();
        });
    },
    // 获取会员等级
    getVipLv() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=interests")
        .then((res) => {
          this.level_name = res.data.res.level_name;
        });
    },
  },
};
</script>
<style scoped lang="scss">
// 个人中心
#c-personal {
  padding-bottom: 70px;
  .container {
    display: flex;
    align-items: flex-start;
  }
  .c-left-box {
    flex-shrink: 0;
    width: 320px;
    background: #fff;
    .c-top {
      padding: 45px 30px;
      text-align: center;
      .c-photo {
        margin: 0 auto 20px;
        width: 90px;
        height: 90px;
        background: #f5f5f5;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .c-name {
        font-size: 18px;
        line-height: 1.5;
      }
      .c-vip {
        height: 28px;
      }
      .c-btn-box {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 35px;
        .c-btn {
          display: block;
          width: 120px;
          line-height: 40px;
          border: 1px solid #e5e5e5;
          border-radius: 3px;
          font-size: 14px;
          color: #666;
          cursor: pointer;
          &:first-child {
            border-color: #208fb9;
            color: #208fb9;
          }
        }
      }
    }
    .c-bottom {
      padding-bottom: 40px;
      .c-list {
        a {
          display: flex;
          align-items: center;
          line-height: 60px;
          border-left: 5px solid transparent;
          padding: 0 48px;
          img {
            margin-right: 20px;
            width: 16px;
            &:nth-child(2) {
              display: none;
            }
          }
          &.router-link-active {
            border-color: #208fb9;
            background: #f2f8fa;
            img {
              display: none;
              &:nth-child(2) {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  .c-right-box {
    padding-left: 20px;
    width: 100%;
  }
}
</style>
