<template>
  <!-- 商家确认 -->
  <div>
    <div class="c-list-box">
      <div class="c-line"></div>
      <ul class="c-list">
        <li class="on">
          <div class="c-dot"></div>
          <p class="c-text">提交申请</p>
        </li>
        <li class="on">
          <div class="c-dot"></div>
          <p class="c-text">商家确认</p>
        </li>
        <li>
          <div class="c-dot"></div>
          <p class="c-text">客户退货</p>
        </li>
        <li>
          <div class="c-dot"></div>
          <p class="c-text">商家换货/退款</p>
        </li>
      </ul>
    </div>
    <div class="c-confirmation">
      <p class="c-text">等待商家确认，预计<span>7</span>个工作日内处理</p>
      <div class="c-btn-box">
        <p class="c-btn" @click="cancelOrder()">取消退换货</p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "MerchantConfirmation",
  data() {
    return {
      data: {},
    };
  },
  components: {},
  created() {
    this.getOrderInfo();
  },
  methods: {
    //订单详情
    getOrderInfo() {
      this.$axios
        .get(
          "/api/index.php?m=user&c=Shop&a=after_service_details&service_id=" +
            this.$route.query.service_id
        )
        .then((res) => {
          this.data = res.data.res;
        });
    },
    // 取消订单
    cancelOrder() {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=after_service_details&_ajax=1", {
          details_id: this.data.field.details_id,
          order_id: this.$route.query.id,
          service_id: this.$route.query.service_id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          setTimeout(() => {
            this.$router.push({
              name: "OrderList",
            });
          }, 2000);
        });
    },
  },
};
</script>
<style scoped lang="scss">
// 商家确认
.c-list-box {
  margin: 40px 0;
  position: relative;
  .c-line {
    position: absolute;
    top: 12px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 2px;
    background: #e5e5e5;
  }
  .c-list {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: flex-start;
    li {
      width: 25%;
      text-align: center;
      .c-dot {
        margin: 0 auto 10px;
        width: 26px;
        height: 26px;
        border: 8px solid transparent;
        border-radius: 50%;
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background: #c1c1c1;
          border-radius: 50%;
        }
      }
      .c-text {
        font-weight: bold;
        line-height: 1;
      }
      &.on {
        .c-dot {
          background: #e8f4f8;
          &::before {
            background: #208fb9;
          }
        }
        .c-text {
          color: #208fb9;
        }
      }
    }
  }
}
.c-confirmation {
  text-align: center;
  .c-text {
    padding: 40px 0;
    font-size: 22px;
    span {
      color: #208fb9;
    }
  }
  .c-btn-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .c-btn {
      display: inline-block;
      width: 160px;
      line-height: 48px;
      background: #ffffff;
      border: 1px solid #208fb9;
      color: #208fb9;
      cursor: pointer;
      &:first-child {
        background: #208fb9;
        color: #fff;
      }
    }
  }
}
</style>
