<template>
  <!-- 会员 -->
  <div id="c-message">
    <ul class="c-list">
      <li
        v-for="(item, index) in classification"
        :key="index"
        @click="selectionClassification(item.id, index)"
        :class="{ on: index == checkedIndex }"
      >
        {{ item.title }}
        <span v-if="item.id == 0 && allNum > 0"> {{ allNum }} </span>
        <span v-if="item.id == 12 && msgNumList.source > 0"> {{ msgNumList.source }} </span>
        <span v-if="item.id == 5 && msgNumList.order > 0"> {{ msgNumList.order }} </span>
        <span v-if="item.id == 6 && msgNumList.deliver_goods > 0"> {{ msgNumList.deliver_goods }} </span>
        <span v-if="item.id == 7 && msgNumList.sample > 0"> {{ msgNumList.sample }} </span>
        <span v-if="item.id == 8 && msgNumList.sample_status > 0"> {{ msgNumList.sample_status }} </span>
        <span v-if="item.id == 9 && msgNumList.inquiry > 0"> {{ msgNumList.inquiry }} </span>
        <span v-if="item.id == 11 && msgNumList.reject > 0"> {{ msgNumList.reject }} </span>
      </li>
    </ul>
    <ul class="c-list2" v-if="MsgList.length > 0">
      <li v-for="(item, index) in MsgList" :key="index">
        <div class="c-wrap">
          <div class="c-title-box">
            <h3 class="c-title" :class="{ on: item.users_read != 0 }">
              <span>{{ item.users_read == 0 ? "未读" : "已读" }}</span
              >{{ item.content_title }}
            </h3>
            <p
              class="c-btn"
              v-if="item.users_read != 1"
              @click="redMsg(item.content_id)"
            >
              标记为已读
            </p>
          </div>
          <div class="c-text" v-html="item.users_title"></div>
          <p class="c-time">{{ item.add_time | dateDiff }}</p>
          <div class="c-line"></div>
        </div>
      </li>
    </ul>
    <div class="no-message" v-else>暂无消息</div>
    <el-pagination
      id="c-page"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      background
      :current-page="currentPage"
      :page-sizes="pageSizes"
      :page-size="loadCount"
      layout="total, sizes, prev, pager, next, jumper"
      :total="totalCount"
      :pager-count="5"
      :hide-on-single-page="totalPage < 2"
    >
    </el-pagination>
  </div>
</template>
<script>
export default {
  name: "Message",
  data() {
    return {
      currentPage: 1, //当前页
      pageSizes: [12, 60, 120], //每页显示条数
      loadCount: 12, //每页条数
      totalCount: 0, //总条数
      totalPage: 0, //总页数
      checkedIndex: 0, //选中分类的索引
      checkedId: 0, //选中分类的id
      classification: [
        {
          id: 0,
          title: "全部",
        },
        {
          id: 12,
          title: "未支付订单",
        },
        {
          id: 5,
          title: "订单付款",
        },
        {
          id: 6,
          title: "订单发货",
        },
        {
          id: 7,
          title: "样品审核",
        },
        {
          id: 8,
          title: "样品审核通过",
        },
        {
          id: 9,
          title: "询价",
        },
        {
          id: 11,
          title: "样品驳回",
        },
      ],
      msgData: [
        {
          id: 1,
          title: "您的订单已发货",
          time: "2021-08-24",
          unread: false,
          content: `<p> dignissim tortor sit amet urna porta, ac efficitur odio efficitur. Maecenas posuere vestibulum rhoncus. Proin consequat convallis risus nec condimentum. Ut aliquam, turpis ac efficitur fringilla, odio velit volutpat ipsum, id facilisis lorem dolor bibendum orci. Quisque consectetur justo vitae maximus consequat. Maecenas posuere vestibulum rhoncus. Proin consequat convallis risus nec condimentum. </p>`,
        },
        {
          id: 2,
          title: "SI2151-A10-GMR的询交期已回交期",
          time: "2021-08-24",
          unread: true,
          content: `<p>Proin malesuada ipsum ac convallis dignissim. Mauris quis tempus velit, ut gravida justo. In imperdiet odio malesuada tortor placerat pulvinar. Praesent dignis
sim tortor sit amet urna porta, ac efficitur odio efficitur... </p>`,
        },
        {
          id: 3,
          title: "您的订单已发货",
          time: "2021-08-24",
          unread: true,
          content: `<p>物流信息 ipsum ac convallis dignissim. Mauris quis tempus velit, ut gravida justo. In imperdiet odio malesuada tortor placerat pulvinar. ac efficitur odio efficit
</p><p>物流信息 dignissim tortor sit amet urna porta, ac efficitur odio efficitur. </p>`,
        },
        {
          id: 4,
          title: "签到成功   积分+5",
          time: "2021-08-24",
          unread: true,
          content: `<p>签到成功 可用积分+5     当前可用积分：10086</p>`,
        },
        {
          id: 5,
          title: "签到成功   积分+5",
          time: "2021-08-24",
          unread: true,
          content: `<p>签到成功 可用积分+5     当前可用积分：10086</p>`,
        },
        {
          id: 6,
          title: "签到成功   积分+5",
          time: "2021-08-24",
          unread: true,
          content: `<p>签到成功 可用积分+5     当前可用积分：10086</p>`,
        },
      ],

      MsgList: [], //消息列表
      msgNumList:[], //各栏目未读
      allNum:'' //未读总条数
    };
  },
  components: {},
  created: function () {
    // 获取消息列表
    this.getMsgList();
  },
  mounted() {},
  methods: {
    // 消息列表
    getMsgList() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=notice_tpl", {
          source: this.checkedId,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.MsgList = res.data.res;
          this.msgNumList = res.data.list;
          this.totalPage = res.data.total_page;
          this.totalCount = res.data.count;

          this.allNum = this.msgNumList.order +
          this.msgNumList.deliver_goods +
          this.msgNumList.sample +
          this.msgNumList.sample_status +
          this.msgNumList.inquiry + 
          this.msgNumList.reject ;

        });
    },

    // 选择分类
    selectionClassification(id, index) {
      this.currentPage = 1;
      this.checkedIndex = index;
      this.checkedId = id;
      this.getMsgList();
    },

    //查看消息
    redMsg(id) {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=read", {
          content_id: id,
        })
        .then((res) => {
          console.log(res);
          this.getMsgList();
          this.$parent.changeMsg();
        });
    },

    delMsg(id) {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=read", {
          content_id: id,
        })
        .then((res) => {
          console.log(res);
          this.getMsgList();
        });
    },

    // 设置每页多少条
    handleSizeChange(val) {
      this.loadCount = val;
      this.getMsgList();
    },
    // 设置当前页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getMsgList();
    },
  },
};
</script>
<style scoped lang="scss">
// 我的消息
#c-message {
  padding: 40px 0;
  min-height: 912px;
  background: #fff;
  .c-list {
    display: flex;
    align-items: flex-start;
    margin: 0 40px;
    line-height: 1;
    color: #666;
    border-bottom: 1px solid #eeeeee;
    li {
      margin-right: 30px;
      margin-bottom: -1px;
      padding-bottom: 20px;
      border-bottom: 1px solid transparent;
      cursor: pointer;
      position: relative;
      span{
        width: 16px;
        height: 16px;
        background: #f5002f;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: #fff;
        position: absolute;
        right: -13px;
        top: -10px;
      }
      &.on {
        font-weight: bold;
        color: #208fb9;
        border-color: #208fb9;
      }
    }
  }
  .c-list2 {
    li {
      transition: all 0.5s;
      &:first-child {
        .c-wrap {
          border-top: 0;
        }
      }
      &:last-child {
        .c-wrap {
          border-bottom: 1px solid #eeeeee;
        }
      }
      &:hover {
        box-shadow: 0px 0px 30px 0px rgba(80, 113, 126, 0.1);
        .c-wrap {
          border-color: transparent;
        }
        & + li {
          .c-wrap {
            border-color: transparent;
          }
        }
      }
      .c-wrap {
        padding: 30px 0;
        margin: 0 40px;
        border-top: 1px solid #eeeeee;
      }
      .c-title-box {
        display: flex;
        align-items: flex-start;
        font-size: 16px;
        line-height: 22px;
        .c-title {
          width: 100%;
          padding-right: 30px;
          font-size: 16px;
          span {
            margin-right: 10px;
            display: inline-flex;
            align-items: center;
            padding: 0 10px;
            font-size: 14px;
            color: #fff;
            border: 1px solid #208fb9;
            border-radius: 3px;
            background-color: #208fb9;
          }
          &.on {
            span {
              color: #208fb9;
              background-color: #fff;
            }
          }
        }
        .c-btn {
          flex-shrink: 0;
          font-size: 14px;
          line-height: 20px;
          padding: 0 10px;
          border-radius: 3px;
          color: #999;
          border: 1px solid #bbb;
          cursor: pointer;
          transition: all 0.3s;
          cursor: pointer;
          &:hover {
            border-color: #208fb9;
            color: #208fb9;
          }
        }
      }
      .c-text {
        padding: 20px 0;
        font-size: 14px;
        line-height: 1.6;
        color: #666;
      }
      .c-time {
        font-size: 14px;
        color: #999;
      }
    }
  }
}
.no-message{
  text-align: center;
  font-size: 20px;
  color: #999;
  padding-top: 50px;
}
// 分页
#c-page {
  padding-top: 30px;
  text-align: center;
}
</style>
