<template>
  <!-- 订单详情 -->
  <div id="c-order">
    <div class="c-state">
      <div class="c-line-box">
        <div v-if="orderInfo.shop.order_status == 0" class="c-line on1"></div>
        <div v-if="orderInfo.shop.order_status == 1" class="c-line on2"></div>
        <div v-if="orderInfo.shop.order_status == 2" class="c-line on3"></div>
        <div v-if="orderInfo.shop.order_status == 3" class="c-line on5"></div>
      </div>
      <ul class="c-list1">
        <li class="on">
          <div class="c-box">
            <p class="el-icon-check"></p>
            <p class="c-num">1</p>
          </div>
          <p class="c-text">提交订单</p>
        </li>
        <li :class="{ on: orderInfo.shop.order_status >= 1 }">
          <div class="c-box">
            <p class="el-icon-check"></p>
            <p class="c-num">2</p>
          </div>
          <p class="c-text">已付款</p>
        </li>
        <li :class="{ on: orderInfo.shop.order_status >= 2 }">
          <div class="c-box">
            <p class="el-icon-check"></p>
            <p class="c-num">3</p>
          </div>
          <p class="c-text">已发货</p>
        </li>
        <li :class="{ on: orderInfo.shop.order_status == 3 }">
          <div class="c-box">
            <p class="el-icon-check"></p>
            <p class="c-num">4</p>
          </div>
          <p class="c-text">已收货</p>
        </li>
        <li :class="{ on: orderInfo.shop.order_status == 3 }">
          <div class="c-box">
            <p class="el-icon-check"></p>
            <p class="c-num">5</p>
          </div>
          <p class="c-text">订单完成</p>
        </li>
      </ul>
    </div>
    <ul class="c-list2">
      <li>
        <div class="c-title-box">
          <div class="c-lt">
            <p class="c-title">
              <strong>订单状态：</strong>
              <span v-if="orderInfo.shop.order_status == 0"
                >未付款(已下单)</span
              >
              <span v-if="orderInfo.shop.order_status == 1"
                >已付款(待发货)</span
              >
              <span v-if="orderInfo.shop.order_status == 2"
                >已发货(待收货)</span
              >
              <span v-if="orderInfo.shop.order_status == 3"
                >已完成(确认收货)</span
              >
              <span v-if="orderInfo.shop.order_status == -1"
                >订单取消(已关闭)</span
              >
              <span v-if="orderInfo.shop.order_status == 4">订单过期 </span>
              <span v-if="orderInfo.shop.order_status == 5">银联驳回 </span>
            </p>
          </div>
          <div class="c-gt">
            <router-link
              v-if="orderInfo.shop.order_status == 0 && orderInfo.shop.voucher_status == 0"
              class="c-btn1"
              :to="{
                path: '/Shop/ShoppingCart/UploadCertificate',
                query: {
                  id: orderInfo.invoice.order_id,
                  unified_number: orderInfo.shop.order_code,
                },
              }"
              >上传付款凭证</router-link
            >
            <router-link
              v-if="orderInfo.shop.order_status == 0 && orderInfo.shop.voucher_status == 0"
              class="c-btn2 c-dt"
              :to="{
                path: '/Shop/ShoppingCart/SubmitSuccessfully',
                query: {
                  id: orderInfo.invoice.order_id,
                  unified_number: orderInfo.shop.order_code,
                },
              }"
              >去支付</router-link
            >
            <p class="c-btn1" v-if="orderInfo.shop.order_status == 0 && orderInfo.shop.voucher_status == 1">支付凭证审核中</p>
            <p
              class="c-btn2"
              v-if="
                orderInfo.shop.order_status != 2 &&
                orderInfo.shop.order_status != 3 &&
                orderInfo.shop.order_status != -1 &&
                orderInfo.shop.order_status != 4
              "
              @click="getCancelOrder(orderInfo.invoice.order_id)"
            >
              取消订单
            </p>
            <p
              class="c-btn2 c-dt"
              v-if="orderInfo.shop.order_status == 2"
              @click="
                ConfirmReceipt(
                  orderInfo.invoice.order_id,
                  orderInfo.shop.order_code
                )
              "
            >
              确认收货
            </p>
            <!-- <router-link
              v-if="orderInfo.shop.order_status >= 2 && orderInfo.shop.order_status != 4"
              class="c-btn2"
              :to="{
                path: '/Personal/Order/ProductReturn/ApplyFor',
                query: {
                  id: orderInfo.invoice.order_id,
                  unified_number: orderInfo.shop.order_code,
                },
              }"
              >退换货</router-link
            > -->
          </div>
        </div>
        <div class="c-text-box">
          <p>
            订单编号：{{orderCode}}
          </p>
          <p>
            提交订单：{{
              moment(orderInfo.shop.add_time * 1000).format(
                "YYYY.MM.DD HH:mm:ss"
              )
            }}
          </p>
          <p v-if="orderInfo.delivery">预计交期：约 {{orderInfo.delivery}} 个工作日</p>
          <p v-if="orderInfo.shop.pay_time != 0">
            支付时间：{{
              moment(orderInfo.shop.pay_time * 1000).format(
                "YYYY.MM.DD HH:mm:ss"
              )
            }}
          </p>
          <p v-if="orderInfo.shop.express_time != 0">
            发货时间：{{
              moment(orderInfo.shop.express_time * 1000).format(
                "YYYY.MM.DD HH:mm:ss"
              )
            }}
          </p>
          <p v-if="orderInfo.shop.confirm_time != 0">
            完成时间：{{
              moment(orderInfo.shop.confirm_time * 1000).format(
                "YYYY.MM.DD HH:mm:ss"
              )
            }}
          </p>
        </div>
      </li>
      <li>
        <div class="c-title-box">
          <div class="c-lt">
            <p class="c-title"><strong>配送信息：</strong>快递配送</p>
          </div>
          <div class="c-gt">
            <p class="c-text" v-if="orderInfo.shop.express_order">
              快递单号：{{ orderInfo.shop.express_order }}
            </p>
          </div>
        </div>
        <div class="c-text-box">
          <p>
            收货地址：{{ orderInfo.shop.province }}{{ orderInfo.shop.city
            }}{{ orderInfo.shop.district }}{{ orderInfo.shop.address }}
          </p>
          <p>收货人：{{ orderInfo.shop.consignee }}</p>
          <p>手机：{{ orderInfo.shop.mobile }}</p>
        </div>
      </li>
      <li>
        <div class="c-title-box">
          <div class="c-lt">
            <p class="c-title">
              <strong>支付方式：</strong>
              <span v-if="orderInfo.shop.payment_method == 0">在线支付</span>
              <span v-if="orderInfo.shop.payment_method == 1">货到付款</span>
              <span v-if="orderInfo.shop.payment_method == 2">银联支付</span>
            </p>
          </div>
        </div>
        <div class="c-text-box" v-if="orderInfo.shop.payment_method == 2">
          <span class="ck" @click="lookpz()">
            <span v-if="!zhifupz">查看支付凭证</span>
            <span v-else>隐藏支付凭证</span>
          </span>
        </div>
        <div class="c-img" v-if="zhifupz">
          <img :src="orderInfo.shop.vouche" alt="">
        </div>
      </li>
      <li>
        <div class="c-title-box">
          <div class="c-lt">
            <p class="c-title"><strong>发票信息：</strong></p>
          </div>
        </div>
        <div class="c-text-box">
          <span v-if="orderInfo.invoice.status == 3">不需要发票</span>
          <span v-else>
            <p>
              发票类型：
              <span v-if="orderInfo.invoice.status == 1">增值税普通发票</span>
              <span v-if="orderInfo.invoice.status == 2">增值税普通发票</span>
            </p>
            <p>发票抬头：{{ orderInfo.invoice.company }}</p>
            <p>纳税人识别号 ：{{ orderInfo.invoice.identification_number }}</p>
            <p>工作邮箱 ：{{ orderInfo.invoice.email }}</p>
          </span>
        </div>
      </li>
      <li>
        <div class="c-title-box">
          <div class="c-lt">
            <p class="c-title"><strong>商品清单</strong></p>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>图片</th>
              <th>型号</th>
              <th>描述</th>
              <!-- <th>发货地</th> -->
              <!-- <th>预计交期</th> -->
              <th>
                <p>价格</p>
                <p class="c-text">(含增值税)</p>
              </th>
              <th>数量</th>
              <th>操作</th>
              <!-- <th>小计</th> -->
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in orderInfo.list" :key="index">
              <td>
                <div class="c-img">
                  <img :src="item.litpic" :alt="item.product_name" />
                </div>
              </td>
              <td>
                <router-link :to="{
                    path: '/Shop/ProductDetail',
                    query: {
                      id: item.product_id,
                    },
                  }"
                  >
                {{ item.product_name }}
                </router-link>
              </td>
              <td>
                <div class="c-txt" @click="moretxt(item)" v-html="item.data"></div>
                <!-- 描述弹窗 -->
                <div class="moretxt-tc" v-if="item.status == 1">
                  <div class="close" @click="closemoretxt(item)"><img src="~images/c-close2.png" alt=""></div>
                  <div class="txt" v-html="item.data"></div>
                </div>
              </td>
              <!-- <td>深圳</td> -->
              <!-- <td :rowspan="index" v-if="index == 0">{{orderInfo.delivery}}工作日</td> -->
              <td>￥{{ item.product_price }}</td>
              <td>{{ item.num }}</td>
              <td>
                <span v-if="!item.service_status || item.service_status != 8 || item.service_status != 3">
                  <span class="c-btn">
                    <span v-if="item.service_status == 1">审核中</span>
                    <span v-if="item.service_status == 2">审核通过</span>
                    <span v-if="item.service_status == 4">已发货</span>
                    <span v-if="item.service_status == 5">已收货</span>
                    <span v-if="item.service_status == 6">换货完成</span>
                    <span v-if="item.service_status == 7">退款完成</span>
                  </span>
                </span>
                <span v-else>
                  <router-link
                    class="c-btn"
                    :to="{
                      name: 'ApplyFor',
                      query: {
                        id: item.details_id,
                        unified_number: orderInfo.shop.order_code,
                      },
                    }"
                    v-if="
                      orderInfo.shop.order_status >= 2 &&
                      orderInfo.shop.order_status != 4 &&
                      item.apply_service == 0
                    "
                    >退换货</router-link
                  >
                  <router-link
                    class="c-btn"
                    :to="{
                      name: 'Evaluate',
                      query: {
                        id: item.order_id,
                        details_id: item.details_id,
                        unified_number: orderInfo.shop.order_code,
                      },
                    }"
                    v-if="
                      orderInfo.shop.order_status >= 3 &&
                      orderInfo.shop.order_status != 4 &&
                      item.is_comment == 0
                    "
                    >评价</router-link
                  >
                </span>
              </td>
              <!-- <td>￥{{ item.product_price * item.num }}</td> -->
            </tr>
          </tbody>
        </table>
        <div class="c-price">
          <div class="c-lt">
            <p>
              <span>共{{ orderInfo.list.length }}个型号，商品总金额： </span
              >￥{{ orderInfo.shop.order_total_amount }}
            </p>
            <p><span>优惠折扣：</span>- ¥{{ orderInfo.shop.coupon_price }}</p>
            <p><span>积分抵扣：</span>- ¥{{ orderInfo.shop.integral }}</p>
            <p><span>运费：</span>
            <span v-if="orderInfo.shop.shipping_fee > 0">+ ¥{{ orderInfo.shop.shipping_fee }}</span>
            <span v-else>包邮</span>
            </p>
          </div>
          <div class="c-gt">
            <p>
              应付金额：<span>¥{{ orderInfo.shop.order_amount }}</span>
            </p>
          </div>
        </div>
      </li>
      <li v-if="orderInfo.comment.length > 0">
        <div class="c-title-box">
          <div class="c-lt">
            <p class="c-title">
              <strong>我的评论</strong>
            </p>
          </div>
        </div>
        <div
          class="c-evaluation"
          v-for="(item, index) in orderInfo.comment"
          :key="index"
        >
          <div class="c-lt">
            <div class="c-img">
              <img :src="item.litpic" :alt="item.title" />
            </div>
            <p class="c-text">{{ item.title }}</p>
          </div>
          <div class="c-gt">
            <div class="c-text-box2">
              <div class="c-text" v-html="item.content"></div>
              <div class="c-img-list">
                <div
                  class="c-item"
                  v-for="(item2, index2) in item.upload_img"
                  :key="index2"
                >
                  <img :src="item2" alt="" />
                </div>
              </div>
            </div>
            <div class="c-rate">
              <div class="c-lt2">
                <span class="c-text">评论等级</span>
                <el-rate
                  v-if="item.score == 3"
                  value="1"
                  disabled
                  text-color="#ff9900"
                >
                </el-rate>
                <el-rate
                  v-if="item.score == 2"
                  value="3"
                  disabled
                  text-color="#ff9900"
                >
                </el-rate>
                <el-rate
                  v-if="item.score == 1"
                  value="5"
                  disabled
                  text-color="#ff9900"
                >
                </el-rate>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <router-link to="/Personal/Order" class="c-return"
          >返回订单列表</router-link
        >
      </li>
    </ul>

  </div>
</template>
<script>
import moment from "moment";
import debounce from "lodash.debounce";
export default {
  name: "OrderDetails",
  data() {
    return {
      orderInfo: [], //订单详情
      is_comment: 0,
      apply_service: 0,
      orderCode: "",
      zhifupz: false, //支付凭证状态
    };
  },
  components: {},
  created() {
    this.getOrderInfo();
    this.orderCode = this.$route.query.code;
    this.ConfirmReceipt = debounce(this.ConfirmReceipt, 500);
  },
  methods: {
    moment,
    //订单详情
    getOrderInfo() {
      this.$axios
        .get(
          "/api/index.php?m=user&c=Shop&a=shop_order_details&order_id=" +
            this.$route.query.id
        )
        .then((res) => {
          console.log(res);
          this.orderInfo = res.data.res;
          for (let index = 0; index < this.orderInfo.list.length; index++) {
            if (this.orderInfo.list[index].is_comment == 0) {
              this.is_comment = 0;
              break;
            } else {
              this.is_comment = 1;
            }
          }
          // if (this.orderInfo.shop.order_status == 3) {
          // this.$axios
          //   .get(
          //     "/api/index.php?m=user&c=Shop&a=comment&order_id" +
          //       this.$route.query.id
          //   )
          //   .then((res) => {
          //     console.log(res);
          //     this.orderInfo = res.data.res;
          //     for (let index = 0; index < this.orderInfo.list.length; index++) {
          //       if (this.orderInfo.list[index].is_comment == 0) {
          //         this.is_comment = 0;
          //         break;
          //       } else {
          //         this.is_comment = 1;
          //       }
          //     }
          //   });
          // }
        });
    },

    // 确认收货
    ConfirmReceipt(id, order_code) {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=shop_member_confirm", {
          order_id: id,
          order_code: order_code,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.getOrderInfo();
        });
    },

    //取消订单
    getCancelOrder(id) {
      this.$confirm("确定取消该订单吗？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        this.$axios
          .post("/api/index.php?m=user&c=Shop&a=shop_order_cancel", {
            order_id: id,
          })
          .then((res) => {
            console.log(res);
            if (res.data.status != 1) {
              this.$message.closeAll();
              this.$message.error(res.data.msg);
              return false;
            }
            this.$message.closeAll();
            this.$message.success(res.data.msg);
            this.$router.go(-1);
          });
      });
    },

    //描述弹窗
    moretxt(item){
      item.status = 1;
    },
    closemoretxt(item){
      item.status = 0;
    },
    //查看支付凭证
    lookpz(){
      this.zhifupz = !this.zhifupz;
      console.log(this.zhifupz);
    }

  },
};
</script>
<style scoped lang="scss">
// 订单详情
#c-order {
  padding: 40px;
  min-height: 912px;
  background-color: #fff;
  .c-state {
    margin-bottom: 40px;
    position: relative;
    .c-line-box {
      position: absolute;
      top: 12px;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 2px;
      background: #bbbbbb;
      .c-line {
        width: 0;
        height: 100%;
        background: #208fb9;
        &.on1 {
          width: 10%;
        }
        &.on2 {
          width: 30%;
        }
        &.on3 {
          width: 50%;
        }
        &.on4 {
          width: 70%;
        }
        &.on5 {
          width: 100%;
        }
      }
    }
    .c-list1 {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: flex-start;
      li {
        width: 20%;
        text-align: center;
        .c-box {
          margin: 0 auto 10px;
          width: 26px;
          height: 26px;
          background: #bbbbbb;
          border: 2px solid #bbbbbb;
          border-radius: 50%;
          font-size: 14px;
          text-align: center;
          line-height: 22px;
          color: #fff;
          .el-icon-check {
            display: none;
          }
        }
        .c-text {
          font-size: 14px;
          color: #999;
        }
        &.on {
          .c-box {
            background: #208fb9;
            border-color: #208fb9;
            .el-icon-check {
              display: inline-block;
            }
            .c-num {
              display: none;
            }
          }
          .c-text {
            color: #208fb9;
          }
        }
      }
    }
  }
  .c-list2 {
    li {
      margin-bottom: 35px;
      &:last-child {
        margin-bottom: 0;
      }
      .c-title-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 10px;
        background: #f5f5f5;
        .c-title {
          color: #666;
          strong {
            color: #333;
          }
        }
        .c-gt {
          display: flex;
          align-items: center;
          font-size: 14px;
          .c-text {
            color: #666;
          }
          .c-btn1 {
            color: #208fb9;
            text-decoration: underline;
          }
          .c-btn2 {
            margin-left: 10px;
            width: 100px;
            height: 32px;
            border: 1px solid #666666;
            border-radius: 16px;
            line-height: 30px;
            text-align: center;
            color: #666;
            cursor: pointer;
            &.c-dt {
              color: #fff;
              background: #208fb9;
              border-color: #208fb9;
            }
          }
        }
      }
      .c-img{
        width: 100%;
        // background: #f5f5f5;
        margin-top: 20px;
      }
      .c-text-box {
        padding: 15px 20px 0;
        color: #666;
        font-size: 14px;
        line-height: 1.8;
        .ck{
          cursor: pointer;
        }
      }
      table {
        border-collapse: collapse;
        width: 100%;
        th {
          white-space: nowrap;
        }
        th,
        td {
          padding: 15px 20px;
          border: 1px solid #eeeeee;
          font-weight: normal;
          text-align: center;
          line-height: 1.5;
          &:nth-child(1) {
            width: 13%;
          }
          // &:nth-child(3) {
          //   width: 24%;
          // }
          .c-text {
            font-size: 14px;
            color: #666;
          }
        }
        td {
          font-size: 14px;
          color: #666;
          position: relative;
          &:last-child {
            white-space: nowrap;
          }
          &:nth-child(3) {
            span {
              color: #333;
            }
          }
          .c-img {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80px;
            text-align: center;
            img {
              max-width: 100%;
              max-height: 100%;
            }
          }
          .c-txt{
            width: 100%;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
            cursor: pointer;
          }
          .moretxt-tc{
            width: 400px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 100%;
            background: #fff;
            z-index: 3;
            padding: 20px;
            box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
            .close{
              width: 20px;
              height: 20px;
              position: absolute;
              right: 10px;
              top: 10px;
              cursor: pointer;
            }
          }
          .c-btn {
            display: block;
            &:hover {
              color: #208fb9;
              text-decoration: underline;
            }
          }
        }
      }
      .c-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 15px;
        line-height: 1.5;
        .c-lt {
          span {
            color: #666;
          }
        }
        .c-gt {
          color: #666;
          span {
            font-weight: bold;
            font-size: 24px;
            color: #f5002f;
          }
        }
      }
      .c-evaluation {
        padding-top: 20px;
        display: flex;
        align-items: flex-start;
        line-height: 1.5;
        .c-lt {
          flex-shrink: 0;
          width: 180px;
          .c-img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 180px;
            height: 180px;
            border: 1px solid #dfdfdf;
            text-align: center;
            img {
              max-height: 100%;
              max-width: 100%;
            }
          }
          .c-text {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 60px;
            padding-top: 10px;
            font-size: 14px;
            text-align: center;
          }
        }
        .c-gt {
          padding-left: 20px;
          width: 100%;
          .c-text-box2 {
            .c-text {
              padding-bottom: 10px;
              font-size: 14px;
              line-height: 1.8;
              color: #666;
              min-height: 100px;
            }
            .c-img-list {
              display: flex;
              align-items: flex-start;
              .c-item {
                margin: 10px 10px 0 0;
                width: 70px;
                height: 70px;
                line-height: 68px;
                border: 1px solid #dfdfdf;
                text-align: center;
                overflow: hidden;
                img {
                  max-height: 100%;
                  max-width: 100%;
                }
              }
            }
            .c-wrap {
              position: absolute;
              top: 50%;
              left: 0;
              width: 100%;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
              line-height: 1;
              img {
                margin-bottom: 5px;
                height: 16px;
              }
              .c-text3 {
                font-size: 12px;
                color: #bbbbbb;
              }
            }
          }
          .c-rate {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 16px;
            font-size: 14px;
            color: #666;
            &.c-dt {
              padding-top: 0;
            }
            .c-lt2 {
              display: flex;
              align-items: center;
              line-height: 36px;
              .c-text {
                margin-right: 10px;
              }
            }
            .c-gt2 {
              line-height: 1;
            }
          }
          .c-btn {
            flex-shrink: 0;
            margin-left: 20px;
            width: 120px;
            line-height: 36px;
            color: #fff;
            background: #208fb9;
            border-radius: 3px;
          }
          .c-upload {
            padding-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
      .c-return {
        margin: 0 auto;
        display: block;
        width: 140px;
        font-size: 14px;
        line-height: 36px;
        text-align: center;
        color: #208fb9;
        background: #ffffff;
        border: 1px solid #208fb9;
        border-radius: 3px;
      }
    }
  }
}
#c-order ::v-deep .el-textarea__inner {
  padding: 10px 15px;
  width: 100%;
  resize: none;
  overflow: auto;
  font-size: 14px;
  line-height: 1.8;
  color: #666;
  height: 144px;
  border: 1px solid #dfdfdf;
}
#c-order ::v-deep .el-textarea__inner:hover {
  border-color: #c0c4cc;
}
#c-order ::v-deep .el-textarea__inner:focus {
  border-color: #208fb9;
}
#c-order ::v-deep .el-upload {
  position: relative;
  border-radius: 0;
}
#c-order ::v-deep .el-upload--picture-card,
#c-order ::v-deep .el-upload-list--picture-card .el-upload-list__item {
  width: 50px;
  height: 50px;
}
#c-order ::v-deep .el-upload-list--picture-card {
  display: inline-block;
  margin-bottom: -20px;
}
#c-order ::v-deep .el-upload-list--picture-card .el-upload-list__item-actions {
  font-size: 16px;
}
#c-order
  ::v-deep
  .el-upload-list--picture-card
  .el-upload-list__item-actions
  span
  + span {
  margin-left: 5px;
}
</style>
