<template>
  <!-- 我的订单 -->
  <div id="c-order">
    <ul class="c-list">
      <li
        v-for="(item, index) in classification"
        :key="index"
        @click="selectionClassification(item.id, index)"
        :class="{ on: index == checkedIndex }"
      >
        {{ item.title }}
        <span v-if="item.num > 0">({{ item.num }})</span>
      </li>
    </ul>
    <ul class="c-list2">
      <li v-for="(item, index) of orderList" :key="index">
        <table v-if="orderId != 8">
          <thead>
            <tr>
              <th>
                <p class="c-time">
                  <i></i><span>{{ item.add_time | dateDiff }}</span>
                </p>
              </th>
              <th>订单编号 {{ item.order_code }}</th>
              <th>状态</th>
              <th>优惠</th>
              <th>总价</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item2, index) of item.details" :key="index">
              <td>
                <div class="c-img">
                  <img :src="item2.litpic" :alt="item2.product_name" />
                </div>
              </td>
              <td>
                <h3 class="c-title">{{ item2.product_name }}</h3>
                <p class="c-price">
                  <span>¥ </span>{{ item2.product_price }}
                  <i>x {{ item2.num }}个</i>
                </p>
              </td>
              <td>
                <span v-if="item2.service_status">
                  {{ item2.service_status }}
                </span>
                <span v-else>
                  {{ item.order_status_name }}
                </span>
              </td>
              <td>
                <p>会员折扣</p>
                <p v-if="item2.level_discount > 10">{{ item2.level_discount != 100 ? item2.level_discount / 10 + '折' : '无折扣' }}</p>
                <p v-if="item2.level_discount < 10">{{ item2.level_discount != 100 ? item2.level_discount + '折' : '无折扣' }}</p>
              </td>
              <td>
                <p class="c-price">
                  <span>¥ </span>{{item2.total_price}} 
                </p>
              </td>
              <td>
                <router-link
                class="c-btn"
                  :to="{
                    path: '/Personal/Order/OrderDetails',
                    query: { id: item.order_id, code: item.order_code },
                  }"
                  >查看详情</router-link
                >
                <router-link
                class="c-btn"
                  :to="{
                    name: 'ProductDetail',
                    query: { id: item2.product_id },
                  }"
                  >再次购买</router-link
                >
                <p
                  class="c-btn"
                  @click="getCancelOrder(item.order_id)"
                  v-if="
                    item.order_status != 2 &&
                    item.order_status != 3 &&
                    item.order_status != -1 &&
                    item.order_status != 4 &&
                    !item2.service_statuss
                  "
                >
                  取消订单
                </p>
                <p
                  class="c-btn"
                  @click="ConfirmReceipt(item.order_id, item.order_code)"
                  v-if="item.order_status == 2"
                >
                  确认收货
                </p>
                <router-link
                  class="c-btn"
                  :to="{
                    name: 'ApplyFor',
                    query: {
                      id: item.order_id,
                      details_id: item2.details_id,
                      unified_number: item.order_code,
                    },
                  }"
                  v-if="
                    item.order_status > 2 &&
                    item.order_status != 4 &&
                    item2.apply_service == 0
                  "
                  >申请售后</router-link
                >
                <router-link
                  class="c-btn"
                  :to="{
                    name: 'Evaluate',
                    query: {
                      id: item.order_id,
                      details_id: item2.details_id,
                      product_id: item2.product_id,
                      unified_number: item.order_code,
                    },
                  }"
                  v-if="
                    item.order_status >= 3 &&
                    item.order_status != 4 &&
                    item2.is_comment == 0
                  "
                  >评价商品</router-link
                >
                <router-link
                class="c-btn"
                  v-if="item.order_status == 0 && item.voucher_status == 0"
                  :to="{
                    path: '/Shop/ShoppingCart/SubmitSuccessfully',
                    query: {
                      id: item.order_id,
                      unified_number: item.order_code,
                    },
                  }"
                  >立即付款</router-link
                >
                <router-link
                class="c-btn"
                  v-if="item.order_status == 0 && item.voucher_status == 1"
                  to=""
                  >支付凭证审核中</router-link
                >
                <p
                  class="c-btn"
                  v-if="item2.apply_service == 1 && item2.service_status != '已取消'"
                  @click="ApplyFor(item2)">
                  退换详情
                  </p>
              </td>
            </tr>
            <tr class="order_total_amount">
              <td colspan="6"> 
                <p>订单状态： {{ item.order_status_name }}</p>
                <span class="order_total">应付金额：</span>
                <span class="total_amount">{{item.order_amount}}</span> 
                <!-- <p>应付金额： <span class="total_amount">{{item.order_total_amount}}</span> </p> -->
                <p>
                  (含运费￥{{ item.shipping_fee != 0.00 ?  '+' + item.shipping_fee :item.shipping_fee }}
                  ，优惠券抵扣￥{{ item.coupon_price != 0.00 ?  '-' + item.coupon_price :item.coupon_price}}
                  ，积分抵扣￥{{ item.integral != 0.00 ?  '-' + item.integral :item.integral}} )
                </p>
              </td>
            </tr>
          </tbody>
        </table>
        <table v-if="orderId == 8">
          <thead>
            <tr>
              <th>
                <p class="c-time">
                  <i></i><span>{{ item.add_time | dateDiff }}</span>
                </p>
              </th>
              <th>订单编号 {{ item.order_code }}</th>
              <th>状态</th>
              <th>类型</th>
              <th>总价</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="c-img">
                  <img :src="item.product_img" :alt="item.product_name" />
                </div>
              </td>
              <td>
                <h3 class="c-title">{{ item.product_name }}</h3>
                <p class="c-price">
                  <span>¥ </span>{{ item.product_price }}
                  <i>x {{ item.product_num }}个</i>
                </p>
              </td>
              <td>{{ item.status }}</td>
              <td>{{ item.service_type }}</td>
              <td>
                <p class="c-price"><span>¥ </span>{{ item.refund_price }}</p>
              </td>
              <td>
                <p class="c-btn" @click="ApplyFor(item)" v-if="item.status != '已取消' && item.status != '审核不通过'">查看详情</p>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
    </ul>
    <el-pagination
      id="c-page"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      background
      :current-page="currentPage"
      :page-sizes="pageSizes"
      :page-size="loadCount"
      layout="total, sizes, prev, pager, next, jumper"
      :total="totalCount"
      :pager-count="5"
      :hide-on-single-page="totalPage < 2"
    >
    </el-pagination>
  </div>
</template>
<script>
export default {
  name: "OrderList",
  data() {
    return {
      currentPage: 1, //当前页
      pageSizes: [12, 60, 120], //每页显示条数
      loadCount: 12, //每页条数
      totalCount: 0, //总条数
      totalPage: 0, //总页数
      checkedIndex: 0, //选中分类的索引
      orderId: 1,
      classification: [
        {
          id: 1,
          title: "全部",
          num: 0
        },
        {
          id: 2,
          title: "待支付",
          num: 0
        },
        // {
        //   id: 3,
        //   title: "待发货",
        // },
        {
          id: 4,
          title: "待收货",
          num: 0
        },
        // {
        //   id: 5,
        //   title: "待评价",
        // },
        {
          id: 6,
          title: "已完成",
          num: 0
        },
        // {
        //   id: 7,
        //   title: "已取消",
        // },
        {
          id: 8,
          title: "退换货",
          num: 0
        },
      ],
      orderList: [], //订单列表
    };
  },
  components: {},
  created: function () {
    // 设置总页数
    this.totalPage = parseInt(
      (this.totalCount + this.loadCount - 1) / this.loadCount
    );
    this.getOrderList();
  },
  methods: {
    // 设置每页多少条
    handleSizeChange(val) {
      this.loadCount = val;
      if (this.orderId == 1) {
        this.getOrderList();
        return false;
      }
      if (this.orderId == 2) {
        this.getToBePaid();
        return false;
      }
      if (this.orderId == 3) {
        // this.getToBePaid();
        return false;
      }
      if (this.orderId == 4) {
        this.getToReceived();
        return false;
      }
      if (this.orderId == 5) {
        // this.getToBePaid();
        return false;
      }
      if (this.orderId == 6) {
        this.getCompleted();
        return false;
      }
      if (this.orderId == 7) {
        // this.getToBePaid();
        return false;
      }
      if (this.orderId == 8) {
        this.getAfterSale();
        return false;
      }
    },
    // 设置当前页
    handleCurrentChange(val) {
      this.currentPage = val;
      if (this.orderId == 1) {
        this.getOrderList();
        return false;
      }
      if (this.orderId == 2) {
        this.getToBePaid();
        return false;
      }
      if (this.orderId == 3) {
        // this.getToBePaid();
        return false;
      }
      if (this.orderId == 4) {
        this.getToReceived();
        return false;
      }
      if (this.orderId == 5) {
        // this.getToBePaid();
        return false;
      }
      if (this.orderId == 6) {
        this.getCompleted();
        return false;
      }
      if (this.orderId == 7) {
        // this.getToBePaid();
        return false;
      }
      if (this.orderId == 8) {
        this.getAfterSale();
        return false;
      }
    },

    //---接口方法----------------
    // 选择分类
    selectionClassification(id, index) {
      this.checkedIndex = index;
      if (id == 1) {
        this.orderId = id;
        this.currentPage = 1;
        this.getOrderList();
        return false;
      }
      if (id == 2) {
        this.orderId = id;
        this.currentPage = 1;
        this.getToBePaid();
        return false;
      }
      if (id == 3) {
        this.orderId = id;
        this.currentPage = 1;
        // this.getToBePaid();
        return false;
      }
      if (id == 4) {
        this.orderId = id;
        this.currentPage = 1;
        this.getToReceived();
        return false;
      }
      if (id == 5) {
        this.orderId = id;
        this.currentPage = 1;
        // this.getToBePaid();
        return false;
      }
      if (id == 6) {
        this.orderId = id;
        this.currentPage = 1;
        this.getCompleted();
        return false;
      }
      if (id == 7) {
        this.orderId = id;
        this.currentPage = 1;
        // this.getToBePaid();
        return false;
      }
      if (id == 8) {
        this.orderId = id;
        this.currentPage = 1;
        this.getAfterSale();
        return false;
      }
    },
    //总订单列表
    getOrderList() {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=getSporderlist", {
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          if (res.data) {
            this.orderList = res.data.list;
            this.totalCount = res.data.pages.total;
            this.totalPage = res.data.pages.last_page;
          } else {
            this.orderList = [];
            this.totalCount = 0;
            this.totalPage = 0;
          }
        });
    },
    //待支付订单列表
    getToBePaid() {
      this.$axios
        .post(
          "/api/index.php?m=user&c=Shop&a=getSporderlist&select_status=dzf",
          {
            page: this.currentPage,
            limit: this.loadCount,
          }
        )
        .then((res) => {
          console.log(res);
          if (res.data) {
            this.orderList = res.data.list;
            this.totalCount = res.data.pages.total;
            this.totalPage = res.data.pages.last_page;
          } else {
            this.orderList = [];
            this.totalCount = 0;
            this.totalPage = 0;
          }
        });
    },
    //待收货订单列表
    getToReceived() {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=getSporderlist&select_status=2", {
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          if (res.data) {
            this.orderList = res.data.list;
            this.totalCount = res.data.pages.total;
            this.totalPage = res.data.pages.last_page;
          } else {
            this.orderList = [];
            this.totalCount = 0;
            this.totalPage = 0;
          }
        });
    },
    //已完成订单列表
    getCompleted() {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=getSporderlist&select_status=3", {
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          if (res.data) {
            this.orderList = res.data.list;
            this.totalCount = res.data.pages.total;
            this.totalPage = res.data.pages.last_page;
          } else {
            this.orderList = [];
            this.totalCount = 0;
            this.totalPage = 0;
          }
        });
    },
    //售后订单列表
    getAfterSale() {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=after_service", {
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          if (res.data.res.field.service) {
            this.orderList = res.data.res.field.service;
            this.totalCount = res.data.res.field.count;
            this.totalPage = res.data.res.field.total_page;
          } else {
            this.orderList = [];
            this.totalCount = 0;
            this.totalPage = 0;
          }
        });
    },
    //取消订单
    getCancelOrder(id) {
      this.$confirm("确定取消该订单吗？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
      .then(() => {
        this.$axios
        .post("/api/index.php?m=user&c=Shop&a=shop_order_cancel", {
          order_id: id,
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.getOrderList();
        });
      });
    },
    // 确认收货
    ConfirmReceipt(id, order_code) {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=shop_member_confirm", {
          order_id: id,
          order_code: order_code,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.getOrderList();
        });
    },
    // 退换货跳转
    ApplyFor(item) {
      console.log(item);
      if (item.service_status == "审核中") {
        this.$router.push({
          name: "MerchantConfirmation",
          query: {
            id: item.order_id,
            unified_number: item.order_code,
            service_id: item.service_id,
          },
        });
      }
      if (item.service_status == "审核不通过") {
        this.$router.push({
          name: "CustomerReturns",
          query: {
            id: item.order_id,
            unified_number: item.order_code,
            service_id: item.service_id,
          },
        });
      }
      if (item.service_status == "审核通过") {
        this.$router.push({
          name: "CustomerReturns",
          query: {
            id: item.order_id,
            unified_number: item.order_code,
            service_id: item.service_id,
          },
        });
      }
      if (
        item.service_status == "会员已发货" ||
        item.service_status == "已收货" ||
        item.service_status == "换货完成" ||
        item.service_status == "退款完成"
      ) {
        this.$router.push({
          name: "ExchangeRefund",
          query: {
            id: item.order_id,
            unified_number: item.order_code,
            service_id: item.service_id,
          },
        });
      }
    },
  },
};
</script>
<style scoped lang="scss">
// 我的订单
#c-order {
  padding: 40px;
  min-height: 912px;
  background-color: #fff;
  .c-list {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    line-height: 1;
    color: #666;
    border-bottom: 1px solid #eeeeee;
    li {
      margin-right: 30px;
      margin-bottom: -1px;
      padding-bottom: 20px;
      border-bottom: 1px solid transparent;
      cursor: pointer;
      &.on {
        font-weight: bold;
        color: #208fb9;
        border-color: #208fb9;
      }
    }
  }
  .c-list2 {
    li {
      margin-bottom: 30px;
      &:hover {
        table {
          border-color: #208fb9;
          thead {
            color: #aed2df;
            background: #208fb9;
            th {
              .c-time,
              &:nth-child(2) {
                color: #fff;
                i {
                  background-image: url(~images/c-time2.png);
                }
              }
            }
          }
        }
      }
    }
  }
  table {
    border: 1px solid #f5f5f5;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    color: #666;
    thead {
      background: #f5f5f5;
      .c-time {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #999;
        i {
          margin-right: 5px;
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url(~images/c-time1.png) no-repeat center / 100%;
        }
      }
    }
    tbody {
      font-size: 14px;
    }
    th,
    td {
      padding: 15px 10px;
      width: 15.2%;
      &:nth-child(2) {
        width: 24%;
        text-align: left;
      }
    }
    th {
      font-weight: normal;
    }
    .c-img {
      height: 100px;
      line-height: 100px;
      text-align: center;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .c-title {
      font-size: 14px;
      line-height: 1.5;
      color: #333;
    }
    .c-price {
      font-size: 18px;
      color: #f5002f;
      span {
        font-size: 12px;
      }
      i {
        font-style: normal;
        font-size: 14px;
        color: #666;
      }
    }
    .c-btn,
    a {
      display: block;
      cursor: pointer;
      color: #666;
      line-height: 1.2;
      margin: 2px 0;
      &:hover {
        color: #208fb9;
        text-decoration: underline;
      }
    }
    .order_total_amount{
      border-top: 1px solid #eee;
      td{
        text-align: left;
        &:last-child{
          text-align: right;
        }
      }
    }
    .order_total{
      margin-right: 10px;
    }
    .total_amount{
      font-size: 22px;
      color: #f5002f;
    }
  }
}
#c-page {
  text-align: center;
}
table{
  border: none;
  tr{
    border: none;
    th{
      border: none;
    }
    td{
      border: none;
    }
  }
}
.no-oreder{
  padding-top: 50px;
  font-size: 20px;
  color: #999;
  text-align: center;
}
</style>
