<template>
  <!-- 我的资源 -->
  <div id="c-resource">
    <ul class="c-list">
      <li
        v-for="(item, index) in menu"
        :key="index"
        @click="selectionMenu(item.id, index)"
        :class="{ on: index == checkedIndex }"
      >
        {{ item.title }}
      </li>
    </ul>
    <!-- 积分 -->
    <div id="c-integral" v-if="checkedIndex == 0">
      <div class="c-top">
        <div class="c-left2">
          <ul class="c-list">
            <li>
              <p class="c-text">可用积分</p>
              <p class="c-num">{{ scores }}</p>
            </li>
            <li>
              <p class="c-text">累计签到</p>
              <p class="c-num">{{ scores_day }}<span>天</span></p>
            </li>
          </ul>
        </div>
        <div class="c-center2">
          <p class="c-title">
            已连续签到 <span>{{ tian }}</span> 天
          </p>
          <!-- <p class="c-text">您是黄金会员，每次签到积分额外+5</p> -->
        </div>
        <div class="c-right2">
          <ul class="c-list">
            <li v-for="(item, index) of weekList" :key="index">
              <div class="c-box">
                <p class="c-num" v-if="item.sign != 1">{{item.integral}}</p>
                <img v-else src="~images/c-yqd-ico.png" alt="" />
              </div>
              <p class="c-text" :style="item.sign == 1 ? 'color: #333;' : ''">
                {{ item.week_name }}
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="c-center">
        <table>
          <thead>
            <tr>
              <th>任务</th>
              <th>日期</th>
              <th>积分变动</th>
              <th>总积分</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in scoreList" :key="index">
              <td>{{ item.info }}</td>
              <td>{{ item.add_time }}</td>
              <td>{{ item.symbol }} {{ item.devote }}</td>
              <td>{{ item.users_score }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">当前积分合计</td>
              <td>
                <p class="c-total">{{ scores }}</p>
              </td>
            </tr>
          </tfoot>
        </table>
        <div class="page-list">
          <el-pagination
            id="c-page"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            background
            :current-page="currentPage"
            :page-sizes="pageSizes"
            :page-size="loadCount"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount"
            :pager-count="5"
            :hide-on-single-page="totalPage < 2"
          >
          </el-pagination>
        </div>
      </div>
      <div class="c-bottom">
        <div class="c-text">
          <p>积分规则：</p>
          <p>1、签到可以获取积分，每次签到+5；</p>
          <p>2、评论或者回答可以获取积分，每次+5；</p>
          <p>3、发布问题并通过审核，每次可获取10积分；</p>
          <p>4、购物可按比例奖励积分；</p>
          <p>5、购物时可以用积分抵扣一部分金额。</p>
        </div>
      </div>
    </div>
    <!-- 优惠券 -->
    <div id="c-coupon" v-if="checkedIndex == 1">
      <ul class="c-list1">
        <li :class="{ on: couponStateIndex == 0 }" @click="couponStateTab(0)">
          <p>可使用(<span>{{ canuse }}</span>)</p>
        </li>
        <li :class="{ on: couponStateIndex == 1 }" @click="couponStateTab(1)">
          <p>已使用 (<span v-if="used > 0">{{ used }}</span>)</p>
        </li>
        <li :class="{ on: couponStateIndex == 2 }" @click="couponStateTab(2)">
          <p>已失效(<span v-if="lost > 0">{{ lost }}</span>)</p>
          
        </li>
      </ul>
      <ul class="c-list2">
        <li
          v-for="(item, index) in coupon"
          :key="index"
          :class="{ on2: couponStateIndex != 0 }"
        >
          <div class="c-wrap">
            <img src="~images/c-yhq1.png" alt="" />
            <img src="~images/c-yhq2.png" alt="" />
            <img src="~images/c-yhq3.png" alt="" />
            <div class="c-box">
              <div class="c-lt">
                <p>￥</p>
                <span>{{ item.coupon_price }}</span>
              </div>
              <div class="c-gt">
                <p class="c-title">{{ item.coupon_name }}</p>
                <p class="c-text">
                  限 
                  {{
                    moment(item.start_date * 1000).format(
                      "YYYY.MM.DD"
                    )
                  }}
                   - 
                   {{
                    moment(item.end_date * 1000).format(
                      "YYYY.MM.DD"
                    )
                  }}
                </p>
                <p class="c-text">满 {{ item.conditions_use }} 元可用</p>
              </div>
              <p
                class="c-state"
                v-if="couponStateIndex == 1 || couponStateIndex == 2"
              >
                {{ couponStateIndex == 1 ? "已使用" : "已失效" }}
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import moment from "moment";
export default {
  name: "Resource",
  data() {
    return {
      checkedIndex: 0, //选中栏目的索引
      menu: [
        {
          id: 1,
          title: "我的积分",
        },
        {
          id: 2,
          title: "我的优惠券",
        },
      ], //栏目
      coupon: [], //优惠券
      couponStateIndex: 0, //优惠券状态索引
      couponState: [
        {
          title: "可使用",
        },
        {
          title: "已使用",
        },
        {
          title: "已失效",
        },
      ],
      scores: "", //总积分
      scores_day: "", //签到天数
      tian: "", //连续签到天数
      weekList: [], //签到周期
      scoreList: [], //积分列表
      canuse: "0",
      canuseList: [],
      used: "0",
      usedList: [],
      lost: "0",
      lostList: [],
      currentPage: 1, //当前页
      pageSizes: [12, 60, 120], //每页显示条数
      loadCount: 12, //每页条数
      totalCount: 0, //总条数
      totalPage: 0, //总页数
    };
  },
  components: {},
  mounted() {
    // this.getListFn();
    this.getIntegral();
    this.getCoupon();
  },
  methods: {
    moment,
    // 选择栏目
    selectionMenu(id, index) {
      this.checkedIndex = index;
    },

    // 设置每页多少条
    handleSizeChange(val) {
      this.loadCount = val;
      this.getIntegral();
    },
    // 设置当前页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getIntegral();
    },

    // 获取积分
    getIntegral() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=resources", {
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          this.tian = res.data.res.tian;
          this.scores = res.data.res.scores;
          this.scores_day = res.data.res.scores_day;
          this.weekList = res.data.res.this_week_arr;
          this.scoreList = res.data.res.users_score;
          this.total_page = res.data.total_page;
          this.totalCount = res.data.count;
          console.log(res);
        });
    },

    // 优惠券列表
    getCoupon() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_coupon", {
          page: 1,
          limit: 500,
        })
        .then((res) => {
          let couponList = res.data.res;
          this.canuseList = [];
          this.usedList = [];
          this.lostList = [];
          couponList.forEach((item) => {
            if(item.use_status == 0){
              this.canuse++;
              this.canuseList.push(item);
            }
            if(item.use_status == 1){
              this.used++;
              this.usedList.push(item);
            }
            if(item.use_status == 2){
              this.lost++;
              this.lostList.push(item);
            }
          });

            this.coupon = this.canuseList;

        });
    },

    // 优惠券状态切换
    couponStateTab(index) {
      this.couponStateIndex = index;
      if (index == 0) {
        this.coupon = this.canuseList;
      }
      if (index == 1) {
        this.coupon = this.usedList;
      }
      if (index == 2) {
        this.coupon = this.lostList;
      }
    },

  },
};
</script>
<style scoped lang="scss">
// 我的资源
#c-resource {
  padding: 40px;
  min-height: 912px;
  background: #fff;
  & > .c-list {
    display: flex;
    align-items: flex-start;
    line-height: 1;
    color: #666;
    border-bottom: 1px solid #eeeeee;
    li {
      margin-right: 30px;
      margin-bottom: -1px;
      padding-bottom: 20px;
      border-bottom: 1px solid transparent;
      cursor: pointer;
      &.on {
        font-weight: bold;
        color: #208fb9;
        border-color: #208fb9;
      }
    }
  }
}

// 我的积分
#c-integral {
  .c-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    .c-left2 {
      .c-list {
        display: flex;
        align-items: flex-start;
        li {
          &:first-child {
            margin-right: 60px;
            @media (max-width: 1580px) {
              margin-right: 30px;
            }
          }
          .c-num {
            margin-top: 5px;
            font-size: 32px;
            color: #208fb9;
            span {
              font-size: 14px;
            }
          }
        }
      }
    }
    .c-center2 {
      @media (max-width: 1580px) {
        width: 180px;
      }
      .c-title {
        font-size: 18px;
        span {
          font-weight: bold;
          color: #208fb9;
        }
      }
      .c-text {
        font-size: 14px;
        color: #999;
      }
    }
    .c-right2 {
      .c-list {
        display: flex;
        align-items: flex-start;
        li {
          margin-right: 20px;
          font-size: 14px;
          color: #999;
          &:last-child {
            margin-right: 0;
          }
          .c-box {
            margin: 0 auto 10px;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            background-color: #f1f1f1;
            border-radius: 50%;
            img {
              // display: none;
              width: 100%;
              height: 100%;
            }
          }
          .c-text {
            line-height: 1;
          }
          // &.on {
          //   img {
          //     display: block;
          //   }
          //   .c-num {
          //     display: none;
          //   }
          //   color: #333;
          // }
        }
      }
    }
  }
  .c-center {
    table {
      width: 100%;
      border-collapse: collapse;
      text-align: center;
      th {
        font-weight: normal;
        color: #999;
      }
      th,
      td {
        width: 25%;
        padding: 15px 20px;
        border: 1px solid #eeeeee;
        line-height: 1.5;
      }
      .c-total {
        color: #f5002f;
      }
      tbody {
        font-size: 14px;
      }
    }
  }
  .c-bottom {
    padding-top: 30px;
    .c-text {
      color: #666;
      font-size: 14px;
      line-height: 2;
    }
  }
}

.page-list {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  // .item{
  //   width: 40px;
  //   height: 40px;
  //   border: 1px solid #208fb9;
  //   color: #208fb9;
  //   border-radius: 3px;
  //   margin: 0 5px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   cursor: pointer;
  //   transition: all ease-in .3s;
  //   &:hover{
  //     background: #208fb9;
  //     color: #fff;
  //   }
  //   &.active{
  //     background: #208fb9;
  //     color: #fff;
  //   }
  // }
  // .check{
  //   padding: 0 10px;
  //   height: 40px;
  //   border: 1px solid #208fb9;
  //   color: #208fb9;
  //   border-radius: 3px;
  //   margin: 0 5px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   cursor: pointer;
  //   transition: all ease-in .3s;
  //   &:hover{
  //     background: #208fb9;
  //     color: #fff;
  //   }
  // }
}

// 优惠券
#c-coupon {
  .c-list1 {
    display: flex;
    align-items: flex-start;
    margin-top: 24px;
    padding: 5px;
    background-color: #f5f5f5;
    li {
      position: relative;
      margin-right: 20px;
      width: 120px;
      font-size: 14px;
      line-height: 40px;
      text-align: center;
      color: #666;
      border-radius: 2px;
      cursor: pointer;
      // span {
      //   position: absolute;
      //   top: -10px;
      //   right: -10px;
      //   width: 20px;
      //   height: 20px;
      //   font-size: 12px;
      //   line-height: 20px;
      //   color: #fff;
      //   background: #f5002f;
      //   border-radius: 50%;
      // }
      &.on {
        background: #ffffff;
      }
    }
  }
  .c-list2 {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -12px;
    li {
      padding: 24px 12px 0;
      width: 50%;
      .c-wrap {
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        img {
          width: 100%;
          &:nth-child(2) {
            display: none;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
          }
          &:nth-child(3) {
            display: none;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
          }
        }
        .c-box {
          display: flex;
          align-items: center;
          position: absolute;
          z-index: 3;
          top: 50%;
          left: 0;
          width: 100%;
          padding: 0 30px;
          color: #208fb9;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          @media (max-width: 1580px) {
            padding: 0 20px;
          }
          .c-lt {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            p {
              font-size: 22px;
            }
            span {
              padding-right: 10px;
              min-width: 120px;
              font-size: 56px;
            }
          }
          .c-gt {
            width: 100%;
            display: grid;
            .c-title {
              width: 100%;
              margin-bottom: 5px;
              font-size: 22px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              display: block;
              @media (max-width: 1580px) {
                font-size: 18px;
              }
            }
            .c-text {
              font-size: 14px;
              line-height: 18px;
              color: #999;
            }
          }
          .c-state {
            position: absolute;
            right: 24px;
            top: 50%;
            z-index: 10;
            margin-top: -40px;
            width: 80px;
            height: 80px;
            border: 2px solid #ffffff;
            border-radius: 50%;
            font-size: 18px;
            text-align: center;
            line-height: 78px;
            color: #fff;
          }
        }
      }
      &.on {
        .c-wrap {
          img {
            &:nth-child(2) {
              display: block;
            }
          }
          .c-box {
            color: #fff;
            .c-text {
              color: #99cade;
            }
          }
        }
      }
      &.on2 {
        .c-wrap {
          img {
            &:nth-child(3) {
              display: block;
            }
          }
          .c-box {
            color: #3d3d3d;
            .c-text {
              color: #5c5c5c;
            }
          }
        }
      }
    }
  }
}
</style>
