<template>
  <!-- 我的样品 -->
  <div id="c-sample">
    <ul class="c-list" v-if="sampleLits.length > 0">
      <li v-for="(item, index) of sampleLits" :key="index">
        <table>
          <thead>
            <tr>
              <th>
                <p class="c-time">
                  <i></i
                  ><span>{{
                    moment(item.add_time * 1000).format("YYYY.MM.DD")
                  }}</span>
                </p>
              </th>
              <th>样品单号 {{ item.numbers }}</th>
              <th>状态</th>
              <th>领取数量</th>
              <th>总价</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="c-img">
                  <img :src="item.litpic" :alt="item.title" />
                </div>
              </td>
              <td>
                <h3 class="c-title">{{ item.title }}</h3>
                <p class="c-price"><span>¥ </span>{{ item.users_price }}</p>
              </td>
              <td>
                <span>{{ item.statuse }}</span>
              </td>
              <td>{{ item.num }}</td>
              <td>
                <p class="c-price"><span>¥ </span>{{ item.total_price }}</p>
              </td>
              <td>
                <router-link
                  :to="{
                    path: '/Personal/Sample/SampleDetails',
                    query: {
                      id: item.id,
                    },
                  }"
                  >查看详情</router-link
                >
                <p
                  class="c-btn"
                  v-if="item.sample_status == 3"
                  @click="delSample(item.id)"
                >
                  删除记录
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
    </ul>
    <div class="no-typesetting" v-else>暂无样品</div>
    <el-pagination
      id="c-page"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      background
      :current-page="currentPage"
      :page-sizes="pageSizes"
      :page-size="loadCount"
      layout="total, sizes, prev, pager, next, jumper"
      :total="totalCount"
      :pager-count="5"
      :hide-on-single-page="totalPage < 2"
    >
    </el-pagination>
  </div>
</template>
<script>
import moment from "moment";
export default {
  name: "SampleList",
  data() {
    return {
      currentPage: 1, //当前页
      pageSizes: [12, 60, 120], //每页显示条数
      loadCount: 12, //每页条数
      totalCount: 0, //总条数
      totalPage: 0, //总页数
      sampleLits: [], //样品列表
      checkAll: false, //全选
      checkedLength: 0, //选中数量
    };
  },
  components: {},
  mounted() {},
  created: function () {
    // 获取数据
    this.getSampleLits();
  },
  methods: {
    moment,
    // 设置每页多少条
    handleSizeChange(val) {
      this.loadCount = val;
      this.getSampleLits();
    },
    // 设置当前页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getSampleLits();
    },

    // 获取样品列表
    getSampleLits() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_sample", {
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.sampleLits = res.data.res;
          this.totalPage = res.data.total_page;
          this.totalCount = res.data.count;
        });
    },
    // 删除列表样品
    delSample(e) {
      this.$confirm("确定删除该样品吗？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
      .then(() => {
        this.$axios
        .post("/api/index.php?m=user&c=Users&a=sample_del", {
          id: e,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.getSampleLits();
        });
      });
      
    },
  },
};
</script>
<style scoped lang="scss">
// 我的样品
#c-sample {
  padding: 40px;
  min-height: 912px;
  background-color: #fff;
  .c-list {
    li {
      margin-bottom: 30px;
      &:hover {
        table {
          border-color: #208fb9;
          thead {
            color: #aed2df;
            background: #208fb9;
            th {
              .c-time,
              &:nth-child(2) {
                color: #fff;
                i {
                  background-image: url(~images/c-time2.png);
                }
              }
            }
          }
        }
        .c-btn {
          display: block;
        }
      }
    }
  }
  table {
    border: 1px solid #f5f5f5;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    color: #666;
    thead {
      background: #f5f5f5;
      .c-time {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #999;
        i {
          margin-right: 5px;
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url(~images/c-time1.png) no-repeat center / 100%;
        }
      }
    }
    tbody {
      font-size: 14px;
    }
    th,
    td {
      padding: 15px 20px;
      width: 15.2%;
      &:nth-child(2) {
        width: 24%;
        text-align: left;
      }
    }
    th {
      font-weight: normal;
    }
    .c-img {
      height: 100px;
      line-height: 100px;
      text-align: center;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .c-title {
      font-size: 14px;
      line-height: 1.5;
      color: #333;
    }
    .c-price {
      font-size: 22px;
      color: #f5002f;
      span {
        font-size: 12px;
      }
    }
    .c-btn,
    a {
      display: inline-block;
      cursor: pointer;
      &:hover {
        color: #208fb9;
        text-decoration: underline;
      }
    }
    .c-btn {
      display: none;
    }
  }
}
#c-page {
  text-align: center;
}
table{
  border: none;
  tr{
    border: none;
    th{
      border: none;
    }
    td{
      border: none;
    }
  }
}
</style>
