<template>
  <div>
    <CommunityHeader></CommunityHeader>

    <div class="MessageCenter">
      <div class="container">
        <div class="Breadcrumbs">
          <router-link to="/Community">社区</router-link>
          <img src="~images/arrow-r3.png" alt="" />
          <router-link to="">消息中心</router-link>
        </div>
        <div class="content">
          <div class="Aside">
            <!-- // 消息中心左侧菜单 -->
            <div class="MessageMenu">
              <router-link to="/MessageCenter"
                >官方消息 <img src="~images/arrow-r4.png" alt=""
              /></router-link>
              <router-link to="/Comment" class="active"
                >评论 <img src="~images/arrow-r4.png" alt=""
              /></router-link>
              <router-link to="/Focus"
                >关注 <img src="~images/arrow-r4.png" alt=""
              /></router-link>
              <router-link to="/Like"
                >点赞 <img src="~images/arrow-r4.png" alt=""
              /></router-link>
            </div>
          </div>
          <div class="main">
            <div class="CommentTop">
              <div class="title">评论</div>
              <div class="TopMenu">
                <span :class="{ active: isActive == 1 }" @click="changeTab(1)"
                  >问答</span
                >
                <span :class="{ active: isActive == 2 }" @click="changeTab(2)"
                  >文章</span
                >
              </div>
            </div>
            <div class="noFocus" v-if="CommentList.length == 0">
              <div class="icon">
                <img src="~images/noFocus.png" alt="" />
              </div>
              <div class="txt">暂无评论</div>
            </div>
            <div class="CommentList" v-else>
              <ul>
                <li v-for="(item, index) of CommentList" :key="index">
                  <div class="avatar">
                    <img :src="item.head_pic" alt="" />
                    <span>{{ item.nickname }}</span>
                  </div>
                  <div class="CommentContent">
                    <div class="CommentAnswer">{{ item.content }}</div>
                    <div class="CommentQuestion">
                      原问题：{{ item.ask_title }}
                    </div>
                    <div class="others">
                      <router-link to="/PrivateLetters" class="reply">
                        <img src="~images/icon14.png" alt="" /> 回复
                      </router-link>
                      <div class="time">
                        {{
                          moment(item.add_time * 1000).format(
                            "YYYY年MM月DD日 h:mm:ss"
                          )
                        }}
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            <el-pagination
              id="c-page"
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              background
              :current-page="currentPage"
              :page-sizes="pageSizes"
              :page-size="loadCount"
              layout="total, sizes, prev, pager, next, jumper"
              :total="totalCount"
              :pager-count="5"
              :hide-on-single-page="totalPage < 2"
            >
            </el-pagination>
          </div>
        </div>
      </div>
    </div>

    <webFooter></webFooter>
  </div>
</template>
<script>
import CommunityHeader from "@/components/Community/CommunityHeader/index.vue";
import webFooter from "@/components/Footer/index.vue";
import moment from "moment";
export default {
  name: "Comment",
  data() {
    return {
      CommentList: [], //评论列表
      isActive: 1,
      currentPage: 1, //当前页
      pageSizes: [12, 60, 120], //每页显示条数
      loadCount: 12, //每页条数
      totalCount: 0, //总条数
      totalPage: 0, //总页数
    };
  },
  components: {
    //定义组件
    CommunityHeader,
    webFooter,
  },
  mounted() {
    this.QuestionComment();
  },
  created: function () {
    // 设置总页数
    this.totalPage = parseInt(
      (this.totalCount + this.loadCount - 1) / this.loadCount
    );
  },
  methods: {
    moment,
    // 设置每页多少条
    handleSizeChange(val) {
      this.loadCount = val;
      if (this.isActive == 1) {
        this.QuestionComment();
        return false;
      }
      if (this.isActive == 2) {
        this.ArticComment();
        return false;
      }
    },
    // 设置当前页
    handleCurrentChange(val) {
      this.currentPage = val;
      if (this.isActive == 1) {
        this.QuestionComment();
        return false;
      }
      if (this.isActive == 2) {
        this.ArticComment();
        return false;
      }
    },
    // 列表切换
    changeTab(val) {
      this.isActive = val;
      if (val == 1) {
        //问答
        this.currentPage = 1;
        this.QuestionComment();
      }
      if (val == 2) {
        //文章
        this.currentPage = 1;
        this.ArticComment();
      }
    },

    // 问题评论列表
    QuestionComment() {
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=comment2", {
          type_id: 3,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.CommentList = res.data.res;
          this.totalCount = res.data.count;
          this.totalPage = res.data.total_page;
        });
    },
    // 文章评论列表
    ArticComment() {
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=comment2", {
          type_id: 2,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.CommentList = res.data.res;
          this.totalCount = res.data.count;
          this.totalPage = res.data.total_page;
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.MessageCenter {
  width: 100%;
  background: #f5f5f5;
  padding: 10px 0;
  min-height: 65vh;
  .container {
    .Breadcrumbs {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 26px;
      color: #999;
      a {
        color: #999;
        transition: all ease-in 0.3s;
        &:hover {
          color: #208fb9;
        }
      }
      img {
        width: 6px;
        height: 10px;
        margin: 0 10px;
      }
    }
    .content {
      width: 100%;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .Aside {
        width: 22.8%;
        .MessageMenu {
          width: 100%;
          background: #fff;
          a {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            color: #333;
            height: 60px;
            line-height: 60px;
            padding: 0 20px 0 27px;
            border-left: 3px solid transparent;
            transition: all ease-in 0.3s;
            img {
              display: none;
            }
            &:hover {
              border-left: 3px solid #208fb9;
              color: #208fb9;
              img {
                display: block;
              }
            }
            &.active {
              border-left: 3px solid #208fb9;
              color: #208fb9;
              font-weight: bold;
              img {
                display: block;
              }
            }
          }
        }
      }
      .main {
        width: 75.7%;
        background: #fff;
        padding-bottom: 40px;

        .CommentTop {
          width: 100%;
          height: 60px;
          background: #fff;
          padding: 0 40px 0 30px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .title {
            font-size: 22px;
            color: #222;
          }
          .TopMenu {
            display: flex;
            span {
              color: #666;
              margin-right: 54px;
              border-bottom: 2px solid transparent;
              line-height: 24px;
              display: block;
              cursor: pointer;
              &:last-child {
                margin-right: 0;
              }
              &:hover,
              &.active {
                color: #208fb9;
                border-bottom: 2px solid #208fb9;
              }
            }
          }
        }
        .noFocus {
          width: 100%;
          padding: 82px 0 76px;
          .icon {
            width: 80px;
            height: 80px;
            margin: auto;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .txt {
            font-size: 16px;
            line-height: 24px;
            color: #999;
            margin-top: 10px;
            text-align: center;
          }
        }
        .CommentList {
          width: 100%;
          border-top: 1px solid #f5f5f5;
          padding: 0 30px;
          ul {
            li {
              width: 100%;
              display: flex;
              border-bottom: 1px solid #eee;
              padding: 30px 0;
              .avatar {
                width: 100px;
                margin-right: 25px;
                flex-shrink: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                img {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                }
                span {
                  width: 100%;
                  font-size: 12px;
                  color: #989898;
                  line-height: 22px;
                  padding: 5px 0 0;
                  display: block;
                  text-align: center;
                }
              }
              .CommentContent {
                width: 100%;
                .CommentAnswer {
                  color: #333;
                  line-height: 24px;
                }
                .CommentQuestion {
                  font-size: 13px;
                  color: #989898;
                  line-height: 24px;
                }
                .others {
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  margin-top: 8px;
                  .reply {
                    color: #208fb9;
                    cursor: pointer;
                    font-size: 13px;
                    img {
                      width: 18px;
                      margin-right: 5px;
                    }
                  }
                  .time {
                    font-size: 13px;
                    color: #bbb;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
#c-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
</style>
