<template>
  <div>
    <CommunityHeader></CommunityHeader>

    <div class="MessageCenter">
      <div class="container">
        <div class="Breadcrumbs">
          <router-link to="/Community">社区</router-link>
          <img src="~images/arrow-r3.png" alt="" />
          <router-link to="">消息中心</router-link>
        </div>
        <div class="content">
          <div class="Aside">
            <!-- // 消息中心左侧菜单 -->
            <div class="MessageMenu">
              <router-link to="/MessageCenter"
                >官方消息 <img src="~images/arrow-r4.png" alt=""
              /></router-link>
              <router-link to="/Comment"
                >评论 <img src="~images/arrow-r4.png" alt=""
              /></router-link>
              <router-link to="/Focus" class="active"
                >关注 <img src="~images/arrow-r4.png" alt=""
              /></router-link>
              <router-link to="/Like"
                >点赞 <img src="~images/arrow-r4.png" alt=""
              /></router-link>
            </div>
          </div>
          <div class="main">
            <div class="CommentTop">
              <div class="title">关注</div>
              <div class="TopMenu">
                <span :class="{ active: isActive == 1 }" @click="changeTab(1)"
                  >我的关注</span
                >
                <span :class="{ active: isActive == 2 }" @click="changeTab(2)"
                  >关注我的</span
                >
              </div>
            </div>
            <div class="noFocus" v-if="focusList == ''">
              <div class="icon">
                <img src="~images/noFocus.png" alt="" />
              </div>
              <div class="txt">您还没有关注的用户</div>
            </div>
            <div class="FocusList" v-else>
              <ul v-if="isActive == 1">
                <li v-for="(item, index) of focusList" :key="index">
                  <router-link
                    :to="{
                      path: '/AuthorDetails',
                      query: { users_id: item.follow_id },
                    }"
                  >
                    <div class="Avatar">
                      <img :src="item.head_pic" alt="" />
                    </div>
                    <div class="FocusContent">
                      <div class="txtBox">
                        <div class="name">{{ item.nickname }}</div>
                        <div class="tips">{{ item.quotations }}</div>
                      </div>
                      <input
                        type="button"
                        value="已关注"
                        class="focusBotton"
                        @click.prevent="nofocus()"
                      />
                    </div>
                  </router-link>
                </li>
              </ul>
              <ul v-if="isActive == 2">
                <li v-for="(item, index) of focusList" :key="index">
                  <router-link
                    :to="{
                      path: '/AuthorDetails',
                      query: { users_id: item.users_id },
                    }"
                  >
                    <div class="Avatar">
                      <img :src="item.head_pic" alt="" />
                    </div>
                    <div class="FocusContent">
                      <div class="txtBox">
                        <div class="name">{{ item.nickname }}</div>
                        <div class="tips">{{ item.quotations }}</div>
                      </div>
                      <input
                        type="button"
                        value="已关注"
                        class="focusBotton"
                        @click.prevent="nofocus()"
                      />
                    </div>
                  </router-link>
                </li>
              </ul>
              <el-pagination
                id="c-page"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                background
                :current-page="currentPage"
                :page-sizes="pageSizes"
                :page-size="loadCount"
                layout="total, sizes, prev, pager, next, jumper"
                :total="totalCount"
                :pager-count="5"
                :hide-on-single-page="totalPage < 2"
              >
              </el-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>

    <webFooter></webFooter>
  </div>
</template>
<script>
import CommunityHeader from "@/components/Community/CommunityHeader/index.vue";
import webFooter from "@/components/Footer/index.vue";
import moment from "moment";
export default {
  name: "Focus",
  data() {
    return {
      focusList: [], //关注列表
      isActive: 1,
      currentPage: 1, //当前页
      pageSizes: [12, 60, 120], //每页显示条数
      loadCount: 12, //每页条数
      totalCount: 0, //总条数
      totalPage: 0, //总页数
    };
  },
  components: {
    //定义组件
    CommunityHeader,
    webFooter,
  },
  created: function () {
    // 设置总页数
    this.totalPage = parseInt(
      (this.totalCount + this.loadCount - 1) / this.loadCount
    );
  },
  mounted() {
    this.myFocus();
  },
  methods: {
    moment,
    // 设置每页多少条
    handleSizeChange(val) {
      this.loadCount = val;
      if (this.isActive == 1) {
        this.myFocus();
        return false;
      }
      if (this.isActive == 2) {
        this.focusMe();
        return false;
      }
    },
    // 设置当前页
    handleCurrentChange(val) {
      this.currentPage = val;
      if (this.isActive == 1) {
        this.myFocus();
        return false;
      }
      if (this.isActive == 2) {
        this.focusMe();
        return false;
      }
    },
    // 列表切换
    changeTab(val) {
      this.isActive = val;
      if (val == 1) {
        //问答
        this.currentPage = 1;
        this.myFocus();
      }
      if (val == 2) {
        //文章
        this.currentPage = 1;
        this.focusMe();
      }
    },

    myFocus() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=Users_follow", {
          follow: 1,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.focusList = res.data.res;
          this.totalCount = res.data.count;
          this.totalPage = res.data.total_page;
        });
    },
    focusMe() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=Users_follow", {
          follow: 2,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.focusList = res.data.res;
          this.totalCount = res.data.count;
          this.totalPage = res.data.total_page;
        });
    },
    nofocus() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=follow", {
          follow_id: this.focusList.follow_id,
        })
        .then((res) => {
          console.log(res);
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.MessageCenter {
  width: 100%;
  background: #f5f5f5;
  padding: 10px 0;
  min-height: 65vh;
  .container {
    .Breadcrumbs {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 26px;
      color: #999;
      a {
        color: #999;
        transition: all ease-in 0.3s;
        &:hover {
          color: #208fb9;
        }
      }
      img {
        width: 6px;
        height: 10px;
        margin: 0 10px;
      }
    }
    .content {
      width: 100%;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .Aside {
        width: 22.8%;
        .MessageMenu {
          width: 100%;
          background: #fff;
          a {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            color: #333;
            height: 60px;
            line-height: 60px;
            padding: 0 20px 0 27px;
            border-left: 3px solid transparent;
            transition: all ease-in 0.3s;
            img {
              display: none;
            }
            &:hover {
              border-left: 3px solid #208fb9;
              color: #208fb9;
              img {
                display: block;
              }
            }
            &.active {
              border-left: 3px solid #208fb9;
              color: #208fb9;
              font-weight: bold;
              img {
                display: block;
              }
            }
          }
        }
      }
      .main {
        width: 75.7%;
        background: #fff;
        padding-bottom: 40px;

        .CommentTop {
          width: 100%;
          height: 60px;
          background: #fff;
          padding: 0 40px 0 30px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .title {
            font-size: 22px;
            color: #222;
          }
          .TopMenu {
            display: flex;
            span {
              color: #666;
              margin-right: 54px;
              border-bottom: 2px solid transparent;
              line-height: 24px;
              display: block;
              cursor: pointer;
              &:last-child {
                margin-right: 0;
              }
              &:hover,
              &.active {
                color: #208fb9;
                border-bottom: 2px solid #208fb9;
              }
            }
          }
        }

        .noFocus {
          width: 100%;
          padding: 82px 0 76px;
          .icon {
            width: 80px;
            height: 80px;
            margin: auto;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .txt {
            font-size: 16px;
            line-height: 24px;
            color: #999;
            margin-top: 10px;
            text-align: center;
          }
        }

        .FocusList {
          width: 100%;
          border-top: 1px solid #f5f5f5;
          padding: 30px 30px 0;
          ul {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            li {
              width: 49%;
              border: 1px solid #eee;
              margin-bottom: 20px;
              margin-right: 2%;
              transition: all ease-in 0.3s;
              &:nth-child(2n) {
                margin-right: 0;
              }
              a {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 25px 37px 25px 30px;
                .Avatar {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  overflow: hidden;
                  margin-right: 20px;
                  flex-shrink: 0;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                .FocusContent {
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  .txtBox {
                    .name {
                      font-size: 16px;
                      color: #333;
                      line-height: 20px;
                      transition: all ease-in 0.3s;
                    }
                    .tips {
                      font-size: 13px;
                      color: #989898;
                      line-height: 20px;
                    }
                  }
                  .focusBotton {
                    width: 70px;
                    height: 30px;
                    border-radius: 3px;
                    border: 1px solid #208fb9;
                    color: #208fb9;
                    font-size: 13px;
                    background: #fff;
                    transition: all ease-in 0.3s;
                    cursor: pointer;
                  }
                }
              }
              &:hover {
                background: #eee;
                .Avatar {
                  border: 2px solid #208fb9;
                }
                .FocusContent {
                  .txtBox {
                    .name {
                      color: #208fb9;
                    }
                  }
                  .focusBotton {
                    color: #fff;
                    background: #208fb9;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#c-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
</style>
