<template>
  <div>
    <CommunityHeader></CommunityHeader>

    <div class="MessageCenter">
      <div class="container">
        <div class="Breadcrumbs">
          <router-link to="/Community">社区</router-link>
          <img src="~images/arrow-r3.png" alt="" />
          <router-link to="">消息中心</router-link>
        </div>
        <div class="content">
          <div class="Aside">
            <!-- // 消息中心左侧菜单 -->
            <div class="MessageMenu">
              <router-link to="/MessageCenter" class="active"
                >官方消息 <img src="~images/arrow-r4.png" alt=""
              /></router-link>
              <router-link to="/Comment"
                >评论 <img src="~images/arrow-r4.png" alt=""
              /></router-link>
              <router-link to="/Focus"
                >关注 <img src="~images/arrow-r4.png" alt=""
              /></router-link>
              <router-link to="/Like"
                >点赞 <img src="~images/arrow-r4.png" alt=""
              /></router-link>
            </div>
          </div>
          <div class="main">
            <div class="messageNumber">
              有 <span>{{ count }}</span> 条消息
            </div>
            <div class="messageList">
              <ul>
                <li v-for="(item, index) of nuewsList" :key="index">
                  <div class="top">
                    <div class="label">
                      <span>系统</span>
                    </div>
                    <div class="title">
                      <div class="contents">{{ item.title }}</div>
                      <div class="time">
                        {{ moment(item.add_time * 1000).format("YYYY-MM-DD") }}
                      </div>
                    </div>
                  </div>
                  <div class="txt">
                    <span v-html="item.remark"></span>
                    <router-link
                      v-if="item.ask_id != 0"
                      :to="{
                        path: '/QuestionDetails',
                        query: {
                          ask_id: item.ask_id,
                        },
                      }"
                      >去回答</router-link
                    >
                  </div>
                </li>
              </ul>
            </div>
            <el-pagination
              id="c-page"
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              background
              :current-page="currentPage"
              :page-sizes="pageSizes"
              :page-size="loadCount"
              layout="total, sizes, prev, pager, next, jumper"
              :total="totalCount"
              :pager-count="5"
              :hide-on-single-page="totalPage < 2"
            >
            </el-pagination>
          </div>
        </div>
      </div>
    </div>

    <webFooter></webFooter>
  </div>
</template>
<script>
import CommunityHeader from "@/components/Community/CommunityHeader/index.vue";
import webFooter from "@/components/Footer/index.vue";
import moment from "moment";
export default {
  name: "MessageCenter",
  data() {
    return {
      nuewsList: [],
      currentPage: 1, //当前页
      pageSizes: [12, 60, 120], //每页显示条数
      loadCount: 12, //每页条数
      totalCount: 0, //总条数
      totalPage: 0, //总页数
      count: "",
    };
  },
  components: {
    //定义组件
    CommunityHeader,
    webFooter,
  },
  created: function () {
    // 设置总页数
    this.totalPage = parseInt(
      (this.totalCount + this.loadCount - 1) / this.loadCount
    );
  },
  mounted() {
    this.getList();
    this.clickRed();
  },
  methods: {
    moment,
    // 设置每页多少条
    handleSizeChange(val) {
      this.loadCount = val;
      this.getDraftList();
    },
    // 设置当前页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getDraftList();
    },

    //消息列表
    getList() {
      this.$axios
        .post("/api/index.php?m=user&c=Messages&a=index", {
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.count = res.data.count;
          this.nuewsList = res.data.res;
          this.totalCount = res.data.count;
          this.totalPage = res.data.total_page;
        });
    },

    // 已读
    clickRed() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=read_users")
        .then((res) => {
          console.log(res);
          this.getList();
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.MessageCenter {
  width: 100%;
  background: #f5f5f5;
  padding: 10px 0;
  min-height: 65vh;
  .container {
    .Breadcrumbs {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 26px;
      color: #999;
      a {
        color: #999;
        transition: all ease-in 0.3s;
        &:hover {
          color: #208fb9;
        }
      }
      img {
        width: 6px;
        height: 10px;
        margin: 0 10px;
      }
    }
    .content {
      width: 100%;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .Aside {
        width: 22.8%;
        .MessageMenu {
          width: 100%;
          background: #fff;
          a {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            color: #333;
            height: 60px;
            line-height: 60px;
            padding: 0 20px 0 27px;
            border-left: 3px solid transparent;
            transition: all ease-in 0.3s;
            img {
              display: none;
            }
            &:hover {
              border-left: 3px solid #208fb9;
              color: #208fb9;
              img {
                display: block;
              }
            }
            &.active {
              border-left: 3px solid #208fb9;
              color: #208fb9;
              font-weight: bold;
              img {
                display: block;
              }
            }
          }
        }
      }
      .main {
        width: 75.7%;
        background: #fff;
        padding: 0 30px 40px;
        .messageNumber {
          width: 100%;
          height: 60px;
          display: flex;
          align-items: center;
          font-size: 16px;
          color: #333;
          span {
            color: #208fb9;
          }
        }
        .messageList {
          width: 100%;
          border-top: 1px solid #e5e5e5;
          ul {
            li {
              width: 100%;
              border-bottom: 1px solid #e5e5e5;
              padding-top: 28px;
              .top {
                width: 100%;
                display: flex;
                .label {
                  width: 70px;
                  display: flex;
                  align-items: center;
                  span {
                    width: 50px;
                    height: 25px;
                    // border: 1px solid #208fb9;
                    color: #208fb9;
                    border-radius: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 13px;
                    transition: all ease-in 0.3s;
                  }
                }
                .title {
                  width: calc(100% - 70px);
                  display: flex;
                  justify-content: space-between;
                  .contents {
                    font-size: 16px;
                    color: #333;
                    line-height: 30px;
                  }
                  .time {
                    font-size: 13px;
                    color: #bbb;
                    white-space: nowrap;
                  }
                }
              }
              .txt {
                width: 100%;
                font-size: 13px;
                line-height: 25px;
                color: #989898;
                padding: 5px 0 24px 70px;
                margin-top: 5px;
                a {
                  color: #208fb9;
                  margin-left: 10px;
                }
              }
              &:hover {
                .top {
                  .label {
                    span {
                      // background: #208fb9;
                      // color: #fff;
                    }
                  }
                  .title {
                  }
                }
                .txt {
                  background: #f5f5f5;
                }
              }
            }
          }
        }
      }
    }
  }
}

#c-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
</style>
