<template>
  <!-- 论坛右侧点赞收藏评论 -->
  <div class="box3">
    <router-link
      :to="{
        path: '/PersonalCenter',
        query: { isactive: 6 },
      }"
      class="item"
    >
      <div class="t1">
        <span
          ><img src="~images/like.png" alt="" /><img
            src="~images/like2.png"
            alt=""
        /></span>
        我的点赞
      </div>
      <div class="num" v-if="zanNum > 0">{{ zanNum }}</div>
    </router-link>
    <router-link
      :to="{
        path: '/PersonalCenter',
        query: { isactive: 5 },
      }"
      class="item"
    >
      <div class="t1">
        <span
          ><img src="~images/collect3.png" alt="" /><img
            src="~images/collect2-1.png"
            alt=""
        /></span>
        我的收藏
      </div>
      <div class="num" v-if="collectionNum > 0">{{ collectionNum }}</div>
    </router-link>
    <router-link
      :to="{
        path: '/PersonalCenter',
        query: { isactive: 3 },
      }"
      class="item"
    >
      <div class="t1">
        <span
          ><img src="~images/icon13.png" alt="" /><img
            src="~images/icon13-1.png"
            alt=""
        /></span>
        我的评论
      </div>
      <div class="num" v-if="commentNum > 0">{{ commentNum }}</div>
    </router-link>
  </div>
</template>
<script>
export default {
  name: "rightMenu",
  props: ["msg"],
  data() {
    return {
      zanNum: "", //点赞数量
      collectionNum: "", //收藏数量
      commentNum: "", //评论数量
    };
  },
  mounted() {
    // 获取文章列表
    this.getCommentList();
  },
  methods: {
    // 评论列表
    getCommentList() {
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=comment", {
          page: 1,
          limit: 1000,
        })
        .then((res) => {
          this.commentNum = res.data.count;
        });
      // 收藏列表
      this.$axios
        .post("/api/index.php?m=plugins&c=Collection&a=users_collection", {
          page: 1,
          limit: 1000,
        })
        .then((res) => {
          this.collectionNum = res.data.count;
        });
      // 点赞列表
      this.$axios
        .post("/api/index.php?m=plugins&c=zan&a=users_zan", {
          page: 1,
          limit: 1000,
        })
        .then((res) => {
          this.zanNum = res.data.count;
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.box3 {
  width: 100%;
  background: #fff;
  padding: 20px 0;
  margin-bottom: 10px;
  .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px 30px;
    .t1 {
      display: flex;
      align-items: center;
      span {
        width: 20px;
        margin-right: 15px;
        img {
          width: 100%;
          &:last-child {
            display: none;
          }
        }
      }
      font-size: 15px;
      color: #666;
    }
    .num {
      font-size: 14px;
      // background: #f5f5f5;
      line-height: 22px;
      padding: 0 5px;
      border-radius: 3px;
      color: #999;
    }
    &:hover {
      background: #f4f4f4;
      .t1 {
        span {
          img {
            &:first-child {
              display: none;
            }
            &:last-child {
              display: block;
            }
          }
        }
        color: #208fb9;
      }
      .num {
        color: #208fb9;
        // background: #eee;
      }
    }
  }
}
</style>
