<template>
  <div>
    <!-- 头部 -->
    <webHeader></webHeader>
    <!-- 下拉导航 -->
    <ShopHeader></ShopHeader>
    <!-- 面包屑导航 -->
    <div id="c-navigation" class="bg-color2">
      <div class="container">
        <ul class="c-list">
          <li><router-link to="/">首页</router-link><span></span></li>
          <li><router-link to="">搜索结果</router-link><span></span></li>
        </ul>
      </div>
    </div>
    <!-- 公共搜索模块 -->
    <div class="c-common-box bg-color2 c-dt">
      <div class="container bg-color1">
        <div class="c-row">
          <div class="c-col">
            <!-- 全部分类 -->
            <div class="c-all-product">
              <router-link to="/Shop/Product" class="c-title"
                >全部商品分类</router-link
              >
            </div>
          </div>
          <div class="c-col">
            <!-- 搜索 -->
            <ShopSearch
              class="c-dt2"
              v-bind:oSearchData="searchData"
              ref="shopcar"
            ></ShopSearch>
          </div>
        </div>
      </div>
    </div>

    <div id="c-top" class="bg-color2">
      <div class="container">
        <!-- 筛选 -->
        <div id="c-filter" class="bg-color1">
          <div class="c-title-box">
            <p class="c-title">
              当前搜索关键词<span>“{{ this.$route.query.key }}”</span>共<span>{{
                totalCount
              }}</span
              >件相关商品
            </p>
            <!-- <p class="c-btn"><span>收缩筛选</span><i></i></p> -->
          </div>
          <!-- <el-row class="c-list" :gutter="20">
            <el-col :span="6" v-for="(item, idnex) in brandList" :key="idnex">
              <el-select
                v-model="item.value"
                filterable
                multiple
                collapse-tags
                :placeholder="item.title"
                @change="valueChange(item.value)"
              >
                <el-option
                  v-for="item2 in item.specifications"
                  :key="item2"
                  :value="item2"
                >
                </el-option>
              </el-select>
            </el-col>
            <el-col :span="6" v-for="(item, index) in filterList" :key="index">
              <el-select
                v-model="item.value"
                filterable
                multiple
                collapse-tags
                :placeholder="item.title"
                @change="valueChanges(item.value)"
              >
                <el-option
                  v-for="item2 in item.specifications"
                  :key="item2"
                  :value="item2"
                >
                </el-option>
              </el-select>
            </el-col>
          </el-row>
          <div class="c-tag-box">
            <div class="choose-box">
              <ul class="c-list2" v-if="brandList.length != 0">
                <li v-for="(item, index) in brandList[0].value" :key="index">
                  <div class="c-tag">
                    <span>{{ item }}</span>
                    <div class="c-close" @click="deleValue(0, index)"></div>
                  </div>
                </li>
              </ul>
              <ul class="c-list2" v-for="(item, index1) in filterList" :key="index1">
                <li v-for="(items,index2) in item.value" :key="index2">
                  <div class="c-tag">
                    <span>{{ items }}</span>
                    <div class="c-close" @click="deleValue2(index1, index2)"></div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="c-btn-box">
              <p class="c-btn" @click="dataReset()">重置筛选</p>
              <p class="c-btn" @click="userReset">应用筛选</p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div id="c-bottom" class="bg-color2">
      <div class="container">
        <!-- 排序 -->
        <div id="c-sort-box" class="bg-color1" v-if="ProductList.length >= 1">
          <div class="c-lt">
            <p class="c-text">排序</p>
            <div class="c-btn-box">
              <div
                class="c-btn"
                :class="{ on1: this.sortNum == 2, on2: this.sortNum == 1 }"
                @click="getPriceList"
              >
                <span>价格</span>
                <i></i>
              </div>
              <div
                class="c-btn"
                :class="{ on1: this.sortNum == 4, on2: this.sortNum == 3 }"
                @click="getNumList"
              >
                <span>销量</span>
                <i></i>
              </div>
            </div>
            <div class="c-btn-box2">
              <div
                class="c-btn"
                :class="{ on: typesetting }"
                @click="handleReverse(1)"
              ></div>
              <div
                class="c-btn"
                :class="{ on: !typesetting }"
                @click="handleReverse(2)"
              ></div>
            </div>
          </div>
          <div class="c-gt">
            <p class="c-text">
              符合条件的商品：共 <span>{{ ProductList.length }}</span> 件
            </p>
            <div class="c-num">
              <span>{{ currentPage }}</span> / {{ totalPage }}
            </div>
            <div class="c-btn-box">
              <div class="c-btn" @click="pagePrev()"></div>
              <div class="c-btn" @click="pageNext()"></div>
            </div>
          </div>
        </div>
        <!-- 产品 -->
        <div id="c-product" class="bg-color1">
          <div v-if="typesetting" class="c-typesetting1">
            <div class="c-top">
              <div class="c-col">示意图</div>
              <div class="c-col">产品信息</div>
              <div class="c-col">包装</div>
              <div class="c-col">交易信息</div>
              <div class="c-col">价格</div>
              <div class="c-col">数量/总价</div>
              <div class="c-col">操作</div>
            </div>
            <div class="c-bottom">
              <div
                class="c-item"
                v-for="(item, index) of ProductList"
                :key="index"
              >
                <div class="c-col">
                  <div class="c-box1">
                    <div
                      class="c-img-box"
                      :class="{ on: item.is_b == 1 }"
                      @click="addSeeList(item)"
                    >
                      <img :src="item.litpic" alt="" />
                    </div>
                    <div class="c-btn-box">
                      <div class="c-btn" @click="getCollect(item)">
                        {{ item.collection == 1 ? "已收藏" : "收藏" }}
                      </div>
                      <div class="c-btn" @click="getAddCompared(item)">
                        对比
                      </div>
                    </div>
                  </div>
                </div>
                <div class="c-col2">
                  <div class="c-box2">
                    <div class="c-title" @click="addSeeList(item)">
                      <span>{{ item.title }}</span>
                      <!-- <i v-if="item.product_subtitle > 0">可使用券</i> -->
                    </div>
                    <ul class="c-list">
                      <li class="c-col">
                        <div>
                          <span>参考封装：</span
                          ><span>{{ item.package1 }}</span>
                        </div>
                        <div>
                          <span>封装/规格：</span
                          ><span>{{ item.specifications1 }}</span>
                        </div>
                        <div>
                          <span>品牌/产地：</span><span>{{ item.brand }}</span>
                        </div>
                        <div>
                          <span>产品编号：</span><span>{{ item.number }}</span>
                        </div>
                      </li>
                      <li class="c-col">
                        <div>
                          <span>包装方式：</span
                          ><span>{{ item.packing1 }}</span>
                        </div>
                        <div>
                          <span>包装规格：</span>
                          <span>
                            <p
                              v-for="(items, index) in item.specifications"
                              :key="index"
                            >
                              {{ items.nume_num }}/{{ items.name }}
                            </p>
                          </span>
                        </div>
                        <div>
                          <span>商品毛重：</span
                          ><span>{{ item.weight }}克(g)</span>
                        </div>
                      </li>
                      <li class="c-col">
                        <div>
                          <span>剩余库存：</span
                          ><span>{{ item.stock_count }} 个</span>
                        </div>
                        <div>
                          <span>近期成交：</span
                          ><span>{{ item.near_num }} 单</span>
                        </div>
                        <div>
                          <span>总销量：</span
                          ><span>{{ item.sales_num }} 单</span>
                        </div>
                      </li>
                      <li class="c-col">
                        <div
                          v-for="(items, index2) of item.product_spec"
                          :key="index2"
                        >
                          <span>{{ items.spec_value }} ：</span
                          ><span>￥ {{ items.spec_price }}</span
                          ><span> / 个</span>
                        </div>
                      </li>
                      <li class="c-col">
                        <div class="c-num-box">
                          <el-input
                            v-model="item.product_num"
                            placeholder="1"
                            oninput="value=value.replace(/[^\d]/g,'')"
                            maxlength="8"
                            @change="setProductPrice(item, index)"
                          ></el-input>
                          <el-select
                            v-model="item.product_type"
                            placeholder="请选择"
                            @change="setProductPrice(item, index)"
                          >
                            <el-option
                              v-for="item2 in item.specifications"
                              :key="item2.id"
                              :label="item2.title"
                              :value="item2.name"
                            >
                            </el-option>
                          </el-select>
                        </div>
                        <p class="c-price">￥ {{ item.users_price }}</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="c-col">
                  <div class="c-box3">
                    <router-link
                      :to="{
                        path: '/Shop/Enquiry',
                        query: { id: item.aid },
                      }"
                      class="c-btn"
                      >批量询价</router-link
                    >
                    <router-link to="/Personal/Delivery" class="c-btn"
                      >查询交期</router-link
                    >
                    <div class="c-btn" @click="addSampleList(item)">
                      加入样品单
                    </div>
                    <div class="c-btn" @click="addShopCar(item)">
                      加入购物车
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-else class="c-typesetting2">
            <ul class="c-list">
              <li v-for="(item, index) of ProductList" :key="index">
                <div class="c-tBox">
                  <div class="c-lt">
                    <router-link
                      :to="{
                        path: '/Shop/ProductDetail',
                        query: { id: item.aid },
                      }"
                      class="c-img-box"
                      :class="{ on: item.is_b == 1 }"
                      @click="addSeeList(item)"
                    >
                      <img :src="item.litpic" alt="" />
                    </router-link>
                  </div>
                  <div class="c-gt">
                    <router-link
                      class="c-title"
                      :to="{
                        path: '/Shop/ProductDetail',
                        query: { id: item.aid },
                      }"
                      >{{ item.title }}</router-link
                    >
                    <div class="c-text">
                      <p>
                        <span>参考封装：</span><span>{{ item.package1 }}</span>
                      </p>
                      <p>
                        <span>封装/规格：</span
                        ><span>{{ item.specifications1 }}</span>
                      </p>
                      <p>
                        <span>品牌/产地：</span><span>{{ item.brand }}</span>
                      </p>
                      <p>
                        <span>产品编号：</span><span>{{ item.number }}</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="c-cBox">
                  <div class="c-lt">
                    <div class="c-btn-box">
                      <div class="c-btn" @click="getCollect(item)">
                        {{ item.collection == 1 ? "已收藏" : "收藏" }}
                      </div>
                      <div class="c-btn" @click="getAddCompared(item)">
                        对比
                      </div>
                    </div>
                  </div>
                  <div class="c-gt">
                    <div class="c-num-wrap">
                      <div class="c-box1">
                        <div class="c-lbox">
                          <p class="c-present-price">
                            <i>¥</i><span>{{ item.users_price }}</span>
                          </p>
                        </div>
                        <div class="c-arrow"></div>
                      </div>
                      <div class="c-box2">
                        <div
                          class="c-item"
                          v-for="(items, index) of item.product_spec"
                          :key="index"
                        >
                          <div class="c-lbox">
                            <p class="c-text">￥</p>
                            <p class="c-price">{{ items.spec_price }}</p>
                            <p class="c-text2">&nbsp;/&nbsp;个</p>
                          </div>
                          <p class="c-num">{{ items.spec_value }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="c-bBox">
                  <div class="c-btn-box">
                    <div class="c-item">
                      <router-link
                        :to="{
                          path: '/Shop/Enquiry',
                          query: { id: item.aid },
                        }"
                        class="c-btn"
                        >批量询价</router-link
                      >
                    </div>
                    <div class="c-item">
                      <router-link to="/Personal/Delivery" class="c-btn"
                        >查询交期</router-link
                      >
                    </div>
                    <div class="c-item">
                      <div class="c-btn" @click="addSampleList(item)">
                        加入样品单
                      </div>
                    </div>
                    <div class="c-item">
                      <div class="c-btn" @click="addShopCar(item)">
                        加入购物车
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <el-pagination
          id="c-page"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          :current-page="currentPage"
          :page-sizes="pageSizes"
          :page-size="loadCount"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalCount"
        >
        </el-pagination>
      </div>
    </div>
    <!-- 对比弹窗 -->
    <div
      id="c-contrast-pop"
      v-if="isContrastPop"
      :class="{ on: isContrastPop2 }"
    >
      <div class="c-tBox">
        <p class="c-title">[{{ ComparedList.length }}/3] 对比框</p>
        <div class="c-close" @click="closeContrastPop()"></div>
      </div>
      <div class="c-cBox">
        <ul class="c-list">
          <li v-for="(item, index) of ComparedList" :key="index">
            <div class="c-wrap">
              <div class="c-img">
                <img :src="item.litpic" alt="" />
                <div class="c-del" @click="delContrast(item.aid)"></div>
              </div>
              <router-link
                :to="{
                  path: '/Shop/ProductDetail',
                  query: { id: item.aid },
                }"
                class="c-title"
              >
              {{ item.title }}
              </router-link>
            </div>
          </li>
        </ul>
      </div>
      <div class="c-bBox">
        <p class="c-btn" @click="goContrast()">对比</p>
        <span class="c-text" @click="cleanComparedList">清空对比栏</span>
      </div>
    </div>
    <!-- 底部 -->
    <webFooter></webFooter>
  </div>
</template>
<script>
import * as math from "mathjs";
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
import ShopHeader from "@/components/Shop/ShopHeader.vue";
import ShopSearch from "@/components/Shop/ShopSearch.vue";
export default {
  name: "BrandSearch",
  data() {
    return {
      typesetting: true, //排版
      searchData: {
        tagShow: false, //是否显示标签
        isSearch: true, //是否是搜索详情页
      },
      query: "", //搜索关键词
      currentPage: 1, //当前页
      pageSizes: [12, 60, 120], //每页显示条数
      loadCount: 12, //每页条数
      totalCount: 0, //总条数
      totalPage: 0, //总页数
      options: [
        {
          title: "参考封装",
          value: [],
          options: [
            {
              value: "SOP-16",
            },
            {
              value: "SSOP-14",
            },
          ],
        },
        {
          title: "封装/规格",
          value: [],
          options: [
            {
              value: "64*46*29(mm)",
            },
            {
              value: "LGA-10",
            },
            {
              value: "LGA-12",
            },
          ],
        },
        {
          title: "品牌/产地",
          value: [],
          options: [
            {
              value: "AIRWAT",
            },
            {
              value: "Amphenol FCI",
            },
            {
              value: "Ams",
            },
          ],
        },
        {
          title: "包装方式",
          value: [],
          options: [
            {
              value: "散装",
            },
            {
              value: "盒装",
            },
          ],
        },
      ],
      options2: {
        options: [
          {
            title: "盒",
          },
          {
            title: "个",
          },
        ],
        value: "个",
        num: 1,
      },
      ProductList: [], //产品列表
      ComparedList: [], //对比列表
      users_pricetype: "", //价格排序参数
      sales_numtype: "", //销量排序参数
      brandList: [], //品牌列表
      filterList: [], //参数列表
      attr_valueList: [], //筛选框字段
      countNum: 0, //筛选框个数
      brand: "", //产品品牌
      isContrastPop: false, //对比显示
      isContrastPop2: false, //对比收缩
      sortNum: 0, //排序
    };
  },
  components: {
    webHeader,
    webFooter,
    ShopHeader,
    ShopSearch,
  },
  created() {
    this.getQuery();
    this.getProductList();
    this.getComparedList();
    this.getFilterList();
  },
  computed: {},
  methods: {
    // 设置排版
    handleReverse(num) {
      if (num == 1) {
        this.typesetting = true;
      } else {
        this.typesetting = false;
      }
    },
    // 设置每页多少条
    handleSizeChange(val) {
      this.loadCount = val;
      this.getProductList();
    },
    // 设置当前页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getProductList();
    },

    pagePrev(){
      if(this.currentPage == 1){
        return false
      }
      this.currentPage -= 1;
      this.getProductList();
    },
    pageNext(){
      if(this.currentPage == this.totalPage){
        return false
      }
      this.currentPage += 1;
      this.getProductList();
    },

    //筛选
    getFilterList() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=option_level", {
          typeid: "",
        })
        .then((res) => {
          console.log(res);
          this.brandList = res.data.res.brand;
          this.filterList = res.data.res.res;
        });
    },
    //获取产品列表
    getProductList() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=brand_search", {
          name: this.$route.query.key,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.ProductList = res.data.res;
          this.totalCount = res.data.count;
          this.totalPage = res.data.total_page;
          this.ProductList.forEach((item, index) => {
            if (this.ProductList[index].specifications.length != 0) {
              this.ProductList[index].product_type =
                this.ProductList[index].specifications[0].name;
              this.setProductPrice(item, index);
            }
          });
        });
    },

    //添加到浏览列表
    addSeeList(item) {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=footprint", {
          title: item.title,
          aid: item.aid,
          typeid: item.typeid,
          litpic: item.litpic,
        })
        .then((res) => {
          console.log(res);
          this.$router.push({
            path: "/Shop/ProductDetail",
            query: { id: item.aid },
          });
        });
    },

    //加入购物车
    addShopCar(item) {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=shop_add_cart", {
          aid: item.aid,
          num: item.product_num,
          specifications_id: item.specifications_id,
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.$refs.shopcar.getCartNum();
        });
    },

    //加入样品清单
    addSampleList(item) {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=add_sample", {
          product_id: item.aid,
          num: item.product_num,
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.$refs.shopcar.getSampleNum();
        });
    },

    //排序
    getPriceList() {
      //价格排序
      if (this.users_pricetype != "desc") {
        this.sortNum = 1;
        this.$axios
          .post("/api/index.php?m=home&c=Lists&a=brand_search", {
            name: this.$route.query.key,
            page: this.currentPage,
            limit: this.loadCount,
            users_price: "desc",
          })
          .then((res) => {
            this.ProductList = res.data.res;
            this.users_pricetype = "desc";
          });
      } else {
        this.sortNum = 2;
        this.$axios
          .post("/api/index.php?m=home&c=Lists&a=brand_search", {
            name: this.$route.query.key,
            page: this.currentPage,
            limit: this.loadCount,
            users_price: "asc",
          })
          .then((res) => {
            this.ProductList = res.data.res;
            this.users_pricetype = "asc";
          });
      }
    },
    getNumList() {
      //销量排序
      if (this.sales_numtype != "desc") {
        this.sortNum = 3;
        this.$axios
          .post("/api/index.php?m=home&c=Lists&a=brand_search", {
            name: this.$route.query.key,
            page: this.currentPage,
            limit: this.loadCount,
            sales_num: "desc",
          })
          .then((res) => {
            this.ProductList = res.data.res;
            this.sales_numtype = "desc";
          });
      } else {
        this.sortNum = 4;
        this.$axios
          .post("/api/index.php?m=home&c=Lists&a=brand_search", {
            name: this.$route.query.key,
            page: this.currentPage,
            limit: this.loadCount,
            sales_num: "asc",
          })
          .then((res) => {
            this.ProductList = res.data.res;
            this.sales_numtype = "asc";
          });
      }
    },

    //左侧对比列表
    getComparedList() {
      if (localStorage.getItem("token")) {
        this.$axios
          .post("/api/index.php?m=home&c=Lists&a=list_contrast")
          .then((res) => {
            if (res.data.status == 1) {
              this.ComparedList = res.data.res;
              if (this.ComparedList.length > 0) {
                this.isContrastPop = true;
              } else {
                this.isContrastPop = false;
              }
            }
          });
      } else {
        this.isContrastPop = false;
      }
    },

    //添加对比
    getAddCompared(item) {
      if (this.ComparedList.length >= 3) {
        this.$confirm("最多只能将3款商品加入对比", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        });
        return false;
      }
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=add_contrast", {
          product_id: item.aid,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.getComparedList();
        });
    },

    // 删除对比产品
    delContrast(id) {
      this.$confirm("确定删除该对比产品吗？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
      .then(() => {
        this.$axios
        .post("/api/index.php?m=home&c=Lists&a=compared_del", {
          product_id: id,
          symbol: 1,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.getComparedList();
        });
      })
    },

    //清空对比
    cleanComparedList() {
      this.$confirm("确定清空对比栏吗？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
      .then(() => {
        this.$axios
        .post("/api/index.php?m=home&c=Lists&a=compared_del", {
          product_id: "",
          symbol: "all",
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.getComparedList();
        });
      })
    },
    // 关闭对比
    closeContrastPop() {
      this.isContrastPop2 = !this.isContrastPop2;
    },
    // 去对比页面
    goContrast() {
      if (this.ComparedList.length > 1) {
        this.$router.push({
          path: "/Shop/Contrast",
        });
      } else {
        this.$message.closeAll();
        this.$message.error("添加两个产品才能对比");
      }
    },

    //加入收藏
    getCollect(item) {
      if(item.collection == 1){
        this.$confirm("确定取消收藏该商品吗？", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        })
        .then(() => {
          this.$axios
          .post("/api/index.php?m=home&c=Lists&a=add_collection", {
            product_id: item.aid,
          })
          .then((res) => {
            if (res.data.status == 1) {
              this.$message.closeAll();
              this.$message.success(res.data.msg);
              this.getProductList();
            } else {
              this.$message.closeAll();
              this.$message.error(res.data.msg);
            }
          });
        });
      }else{
        this.$axios
        .post("/api/index.php?m=home&c=Lists&a=add_collection", {
          product_id: item.aid,
        })
        .then((res) => {
          if (res.data.status == 1) {
            this.$message.closeAll();
            this.$message.success(res.data.msg);
            this.getProductList();
          } else {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
          }
        });
      }
    },

    // 获取搜索的关键词
    getQuery() {
      this.query = this.$route.query.Query;
    },
    // 删除关键词
    deleValue(oIndex1, oIndex2) {
      this.options[oIndex1].value.splice(oIndex2, 1);
    },
    // 重置筛选
    dataReset() {
      for (let index = 0; index < this.options.length; index++) {
        this.options[index].value = [];
      }
    },
    valueChange(value) {
      if (value != "") {
        this.brand = value;
      } else {
        this.brand = "";
      }
      console.log(this.brand);
    },
    valueChanges() {
      this.attr_valueList = [];
      this.countNum = 0;
      for (let index = 0; index < this.filterList.length; index++) {
        this.attr_valueList = this.attr_valueList.concat(
          this.filterList[index].value
        );
        if (this.filterList[index].value != "") {
          this.countNum++;
        }
      }
      console.log(this.attr_valueList);
      console.log(this.countNum);
    },
    //应用筛选
    userReset() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=product_list_level", {
          typeid: this.$route.query.id,
          page: this.currentPage,
          limit: this.loadCount,
          attr_value: this.attr_valueList, //筛选框字段
          count: this.countNum, //筛选框个数
          brand: this.brand, //产品品牌
        })
        .then((res) => {
          this.ProductList = res.data.res;
          this.totalCount = res.data.count;
          this.totalPage = res.data.total_page;
        });
    },

    // 设置价格
    setProductPrice(obj, oIndex) {
      console.log(obj);
      let num = 0;
      let product_num = obj.product_num;
      if (product_num < 1) {
        obj.product_num = 1;
        product_num = 1;
      }
      obj.specifications.forEach((item) => {
        if (obj.product_type == item.name) {
          this.ProductList[oIndex].specifications_id = item.id;
          num = parseInt(item.nume_num) * product_num;
          obj.product_spec.forEach((item2) => {
            if (num >= parseInt(item2.spec_value)) {
              obj.users_price = Number(
                math.format(
                  math.multiply(
                    math.bignumber(num),
                    math.bignumber(parseFloat(item2.spec_price))
                  )
                )
              ).toFixed(2);
            }
          });
        }
      });
    },
  },
};
</script>
<style scoped lang="scss">
#c-top {
  .c-tbox {
    display: flex;
    align-items: center;
  }
}
#c-bottom {
  border-top: 10px solid #f5f5f5;
}

// 公共模块
.c-common-box {
  padding-bottom: 2px;
  &.c-dt {
    .c-all-product {
      margin-left: -30px;
    }
    .c-row {
      padding: 0 30px;
      .c-col {
        width: 25%;
        &:last-child {
          width: 75%;
        }
      }
    }
  }
  .c-row {
    display: flex;
    align-items: center;
    margin: 0 -10px;
    .c-col {
      padding: 0 10px;
      width: 19%;
      &:last-child {
        padding: 0 10px;
        width: 81%;
      }
    }
  }
  .c-all-product {
    background-color: #fff;
    .c-title {
      padding: 0 30px 0 50px;
      font-size: 18px;
      line-height: 86px;
      background: url(~images/c-fl-ico.png) no-repeat left 30px center/ 10px
        auto;
      transition: all 0.3s;
      &:hover {
        color: #208fb9;
      }
    }
  }
}

// 产品分类
#c-classification {
  width: 25%;
  @media (max-width: 1580px) {
    width: 18%;
  }
  .c-title-box {
    margin-bottom: 2px;
    background-color: #fff;
    .c-title {
      padding: 0 30px 0 50px;
      font-size: 18px;
      line-height: 86px;
      background: url(~images/c-fl-ico.png) no-repeat left 30px center/ 10px
        auto;
      transition: all 0.3s;
      &:hover {
        color: #208fb9;
      }
    }
  }
}

// 筛选
#c-filter {
  padding: 30px;
  .c-title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    .c-title span {
      color: #208fb9;
    }
    .c-btn {
      display: flex;
      align-items: center;
      i {
        margin-left: 20px;
        width: 16px;
        height: 16px;
        background: url(~images/c-jt-ico1.png) no-repeat center / 8px auto;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }
  .c-list {
    margin-bottom: 20px;
    .el-select {
      width: 100%;
    }
  }
  .c-tag-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .c-list2 {
      flex-shrink: 1;
      flex-grow: 1;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      margin: 0 -10px -20px;
      li {
        padding: 0 10px 20px;
        .c-tag {
          position: relative;
          padding: 0 20px;
          font-size: 14px;
          line-height: 38px;
          color: #999;
          border: 1px solid #d5d5d5;
          .c-close {
            position: absolute;
            top: -1px;
            right: -1px;
            width: 12px;
            height: 12px;
            cursor: pointer;
            background: #d5d5d5 url(~images/c-close.png) no-repeat center/ 10px
              auto;
          }
        }
      }
    }
    .c-btn-box {
      flex-shrink: 0;
      display: flex;
      align-items: flex-start;
      .c-btn {
        margin-left: 20px;
        width: 120px;
        border: 1px solid #333;
        line-height: 38px;
        text-align: center;
        color: #666;
        cursor: pointer;
        &:last-child {
          border-color: #208fb9;
          background-color: #208fb9;
          color: #fff;
        }
      }
    }
  }
}
#c-filter ::v-deep .el-input__inner {
  height: 50px;
}
#c-filter ::v-deep .el-select .el-select__tags {
  height: 28px;
  overflow: hidden;
}
// #c-filter ::v-deep .el-select .el-select__tags > span {
//   display: none;
// }

// 排序
#c-sort-box {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
  .c-lt {
    display: flex;
    align-items: center;
    .c-text {
      font-size: 18px;
    }
    .c-btn-box {
      display: flex;
      align-items: flex-start;
      margin: 0 45px 0 25px;
      .c-btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 30px;
        border: 1px solid #ccc;
        font-size: 14px;
        color: #999;
        transition: all 0.5s;
        cursor: pointer;
        &:last-child {
          margin-left: -1px;
        }
        &::after {
          margin-left: 10px;
          content: "";
          display: block;
          width: 8px;
          height: 14px;
          background: url(~images/c-px-ico1.png) no-repeat center / 100% auto;
        }
        &.on1 {
          z-index: 2;
          border-color: #208fb9;
          color: #208fb9;
          &::after {
            background-image: url(~images/c-px-ico2.png);
          }
        }
        &.on2 {
          z-index: 2;
          border-color: #208fb9;
          color: #208fb9;
          &::after {
            background-image: url(~images/c-px-ico3.png);
          }
        }
      }
    }
    .c-btn-box2 {
      display: flex;
      align-items: flex-start;
      .c-btn {
        width: 18px;
        height: 18px;
        cursor: pointer;
        &:nth-child(1) {
          background: url(~images/c-pb-ico1-1.png) no-repeat center / 100% auto;
        }
        &:nth-child(2) {
          background: url(~images/c-pb-ico2-1.png) no-repeat center / 16px auto;
          margin-left: 20px;
        }
        &.on {
          &:nth-child(1) {
            background-image: url(~images/c-pb-ico1-2.png);
          }
          &:nth-child(2) {
            background-image: url(~images/c-pb-ico2-2.png);
          }
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        width: 50px;
        height: 120px;
        margin-top: -60px;
      }
      .swiper-button-prev {
        left: 0;
        background: rgba(0, 0, 0, 0.1) url(~images/c-jt1.png) no-repeat center /
          14px auto;
      }
      .swiper-button-next {
        right: 0;
        background: rgba(0, 0, 0, 0.1) url(~images/c-jt2.png) no-repeat center /
          14px auto;
      }
      .swiper-pagination {
        bottom: 30px;
      }
    }
  }
  .c-gt {
    display: flex;
    align-items: center;
    font-size: 14px;
    .c-text {
      span {
        color: #208fb9;
      }
    }
    .c-num {
      margin: 0 35px 0 50px;
      span {
        color: #208fb9;
      }
    }
    .c-btn-box {
      display: flex;
      align-items: flex-start;
      .c-btn {
        width: 40px;
        height: 30px;
        border: 1px solid #d5d5d5;
        cursor: pointer;
        &:nth-child(1) {
          background: url(~images/arrow-l2.png) no-repeat center/ 7px auto;
        }
        &:nth-child(2) {
          margin-left: -1px;
          background: url(~images/arrow-r2.png) no-repeat center/ 7px auto;
        }
      }
    }
  }
}

// 产品
#c-product {
  .c-typesetting1 {
    padding: 0 30px 30px;
    .c-col {
      padding: 0 15px;
      width: 14.28%;
    }
    .c-col2 {
      width: 71.44%;
    }
    .c-top {
      display: flex;
      align-items: flex-start;
      background: #f5f5f5;
      font-size: 14px;
      color: #999;
      padding: 10px 0;
    }
    .c-bottom {
      .c-item {
        display: flex;
        align-content: flex-start;
        padding: 30px 0;
        border-bottom: 1px solid #eee;
        &:last-child {
          border: 0;
          padding-bottom: 0;
        }
        .c-list {
          display: flex;
          align-items: flex-start;
        }
        .c-box1 {
          margin-left: -15px;
          width: calc(100% + 15px);
          .c-img-box {
            position: relative;
            display: block;
            height: 180px;
            line-height: 180px;
            border: 1px solid #eee;
            cursor: pointer;
            &.on {
              &::before {
                display: block;
              }
            }
            &::before {
              display: none;
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 40px;
              height: 40px;
              background: url(~images/c-hot.png) no-repeat center / 100%;
            }
            img {
              max-width: 100%;
              max-height: 100%;
            }
          }
          .c-btn-box {
            display: flex;
            align-items: flex-start;
            margin-top: 10px;
            .c-btn {
              width: 50%;
              height: 30px;
              font-size: 14px;
              line-height: 28px;
              text-align: center;
              border: 1px solid #eee;
              cursor: pointer;
              display: block;
              &:hover{
                border-collapse: #f5002f;
                background: #f5002f;
                color: #fff;
              }
            }
          }
        }
        .c-box2 {
          padding-top: 20px;
          .c-col {
            width: 20%;
          }
          .c-title {
            display: inline-block;
            padding: 0 15px;
            line-height: 26px;
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
              color: #208fb9;
            }
            span {
              margin-right: 10px;
            }
            i {
              font-style: normal;
              display: inline-block;
              padding: 0 10px;
              background: #ffe7e7;
              color: #f5002f;
            }
          }
          .c-list {
            padding-top: 20px;
            li {
              font-size: 14px;
              line-height: 24px;
              @media (max-width: 1580px) {
                font-size: 12px;
              }
              & > div {
                display: flex;
              }
              span:nth-child(1) {
                flex-shrink: 0;
                color: #666;
              }
              &:nth-last-child(2) {
                span:nth-child(1) {
                  flex-shrink: 0;
                  width: 60px;
                  text-align: right;
                }
              }
              .c-price {
                font-size: 22px;
                color: #f5002f;
              }
            }
          }
          .c-num-box {
            margin: 5px 0 10px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
          }
        }
        .c-box3 {
          padding-top: 20px;
          .c-btn {
            margin-bottom: 10px;
            width: 120px;
            height: 40px;
            line-height: 38px;
            text-align: center;
            border: 1px solid #c2c2c2;
            border-radius: 3px;
            color: #666;
            font-size: 14px;
            cursor: pointer;
            display: block;
            &:hover{
              border-collapse: #f5002f;
              background: #f5002f;
              color: #fff;
            }
            &:last-child {
              color: #f5002f;
              border-color: #f5002f;
              &:hover {
                color: #fff;
                background: #f5002f;
                border-color: #f5002f;
              }
            }
          }
        }
      }
    }
  }
  .c-typesetting2 {
    .c-list {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      margin: 1px -1px;
      li {
        padding: 30px;
        width: 33.333333%;
        border: 1px solid #f5f5f5;
        .c-tBox {
          display: flex;
          align-items: flex-start;
          margin: 0 -7px;
          .c-lt {
            padding: 0 7px;
            width: 50%;
            .c-img-box {
              display: block;
              position: relative;
              height: 196px;
              border: 1px solid #eee;
              text-align: center;
              line-height: 194px;
              &.on {
                &::before {
                  display: block;
                }
              }
              &::before {
                display: none;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 40px;
                height: 40px;
                background: url(~images/c-hot.png) no-repeat center / 100%;
              }
              img {
                max-width: 100%;
                max-height: 100%;
              }
            }
          }
          .c-gt {
            padding: 0 7px;
            width: 50%;
            .c-title {
              display: block;
              margin: 20px 0;
              padding-left: 14px;
              transition: all 0.3s;
              height: 52px;
              line-height: 26px;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-box-orient: vertical;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              &:hover {
                color: #208fb9;
              }
            }
            .c-text {
              padding-left: 14px;
              p {
                display: flex;
                align-items: flex-start;
                font-size: 14px;
                line-height: 1.5;
                color: #666;
                @media (max-width: 1580px) {
                  font-size: 12px;
                }
                span {
                  &:first-child {
                    flex-shrink: 0;
                  }
                }
              }
            }
          }
        }
        .c-cBox {
          display: flex;
          align-items: center;
          margin: 15px -7px 30px;
          .c-lt {
            padding: 0 7px;
            width: 50%;
            .c-btn-box {
              display: flex;
              align-items: flex-start;
              .c-btn {
                width: 50%;
                height: 30px;
                font-size: 14px;
                line-height: 28px;
                text-align: center;
                border: 1px solid #eee;
                cursor: pointer;
                &:hover{
                  border-collapse: #f5002f;
                  background: #f5002f;
                  color: #fff;
                }
              }
            }
          }
          .c-gt {
            padding: 0 7px;
            width: 50%;
            .c-num-wrap {
              position: relative;
              padding: 4px 15px;
              .c-box1 {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .c-lbox {
                  display: flex;
                  align-content: center;
                  .c-present-price {
                    display: flex;
                    align-items: flex-end;
                    color: #f5002f;
                    i {
                      font-style: normal;
                      font-size: 14px;
                    }
                    span {
                      font-size: 22px;
                    }
                  }
                  .c-original-price {
                    margin-left: 10px;
                    display: flex;
                    align-items: center;
                    color: #bbb;
                    i {
                      font-style: normal;
                      font-size: 10px;
                    }
                    span {
                      font-size: 12px;
                    }
                  }
                }
                .c-arrow {
                  width: 8px;
                  height: 16px;
                  background: url(~images/c-jt-ico1.png) no-repeat center / 100%
                    auto;
                  transition: all 0.3s;
                }
              }
              .c-box2 {
                display: none;
                position: absolute;
                top: 30px;
                left: 0;
                padding: 14px;
                width: 100%;
                background: #fff;
                font-size: 14px;
                line-height: 24px;
                color: #666;
                box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
                .c-item {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  .c-lbox {
                    display: flex;
                    align-items: center;
                    color: #f5002f;
                    .c-text {
                      font-size: 10px;
                    }
                    .c-text2 {
                      color: #666;
                    }
                  }
                }
              }
              &:hover {
                z-index: 5;
                .c-box1 {
                  .c-arrow {
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                    background-image: url(~images/c-jt-ico2.png);
                  }
                }
                .c-box2 {
                  display: block;
                }
              }
            }
          }
        }
        .c-bBox {
          .c-btn-box {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: 0 -7px -14px;
            .c-item {
              padding: 0 7px 14px;
              width: 50%;
              .c-btn {
                line-height: 38px;
                text-align: center;
                border: 1px solid #c2c2c2;
                border-radius: 3px;
                color: #666;
                cursor: pointer;
                display: block;
                &:hover{
                  border-collapse: #f5002f;
                  background: #f5002f;
                  color: #fff;
                }
              }
              &:last-child {
                .c-btn {
                  color: #f5002f;
                  border-color: #f5002f;
                  &:hover {
                    color: #fff;
                    background-color: #f5002f;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
#c-product ::v-deep .el-input {
  width: auto;
}
#c-product ::v-deep .el-input__inner {
  width: 70px;
  height: 30px;
  border: 1px solid #c2c2c2;
}
#c-product ::v-deep .el-select .el-input__inner {
  margin-left: -1px;
  width: 45px;
  height: 30px;
  border: 1px solid #c2c2c2;
  padding: 0 14px 0 10px;
  .el-input__icon {
    width: 14px;
    line-height: 28px;
  }
}
#c-product ::v-deep .el-input__icon {
  width: 14px;
  line-height: 28px;
}

// 分页
#c-page {
  padding: 40px 0 70px;
  text-align: center;
}

// 对比
#c-contrast-pop {
  position: fixed;
  z-index: 900;
  top: 50%;
  left: 20px;
  width: 220px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #fff;
  font-size: 14px;
  &.on {
    width: 130px;
    .c-tBox {
      .c-close {
        background-image: url(~images/c-pb-ico1-1.png);
      }
    }
    .c-bBox,
    .c-cBox {
      display: none;
    }
  }
  .c-tBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: #999;
    border-bottom: 1px solid #eee;
    .c-close {
      width: 14px;
      height: 14px;
      cursor: pointer;
      background: url(~images/c-close4.png) no-repeat center / 100%;
    }
  }
  .c-cBox {
    .c-list {
      li {
        padding: 0 20px;
        border-bottom: 1px solid #eee;
        &:hover {
          .c-wrap {
            .c-img {
              .c-del {
                display: block;
              }
            }
          }
        }
        .c-wrap {
          display: flex;
          align-items: center;
          .c-img {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 80px;
            height: 80px;
            img {
              max-width: 100%;
              max-height: 100%;
            }
            .c-del {
              display: none;
              position: absolute;
              top: 50%;
              left: 50%;
              margin: -7px 0 0 -7px;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              cursor: pointer;
              background: #f5002f url(~images/c-close.png) no-repeat center /
                12px;
            }
          }
          .c-title {
            flex-shrink: 1;
            flex-grow: 1;
            font-size: 14px;
            line-height: 1.5;
            color: #666;
            word-break: break-all;
          }
        }
      }
    }
  }
  .c-bBox {
    padding: 20px;
    text-align: center;
    .c-btn {
      margin-bottom: 15px;
      line-height: 40px;
      border-radius: 3px;
      background: #208fb9;
      color: #fff;
      cursor: pointer;
      display: block;
    }
    .c-text {
      color: #666;
      cursor: pointer;
    }
  }
}
</style>
