<template>
  <div>
    <!-- 头部 -->
    <webHeader></webHeader>
    <!-- 下拉导航 -->
    <ShopHeader></ShopHeader>
    <!-- 面包屑导航 -->
    <div id="c-navigation" class="bg-color2">
      <div class="container">
        <ul class="c-list">
          <li><router-link to="/">首页</router-link><span></span></li>
          <li>
            <router-link to="">商品对比</router-link><span></span>
          </li>
        </ul>
      </div>
    </div>
    <!-- 商品对比 -->
    <div id="c-contrast" class="bg-color2">
      <div class="container">
        <div></div>

        <table>
          <tbody>
            <tr>
              <td>
                <tr>
                  <td>
                    <div class="c-txt">商品图片</div>
                  </td>
                </tr>
                <tr v-for="(item2, index) of ComparedMenu" :key="index">
                  <td>
                    {{ item2.attr_name }}
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="c-price">销售单价</div>
                  </td>
                </tr>
              </td>

              <td v-for="(item, index) of ComparedInfo" :key="index">
                <tr>
                  <td>
                    <div class="c-img">
                      <img :src="item.litpic" alt="" />
                    </div>
                    <router-link
                      class="c-btn"
                      :to="{
                        name: 'ProductDetail',
                        query: {
                          id: item.product_id,
                        },
                      }"
                      >我想买</router-link
                    >
                    <div
                      class="c-close"
                      @click="delComparedList(item.product_id)"
                    ></div>
                  </td>
                </tr>
                <tr v-for="(item2, index) of item.case" :key="index">
                  <td>
                    {{ item2.attr_value }}
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="c-price">
                      <p
                        v-for="(item3, index) of item.product_spec"
                        :key="index"
                      >
                        <span>{{ item3.spec_value }}</span
                        >: <span>{{ item3.spec_price }}</span>
                      </p>
                    </div>
                  </td>
                </tr>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="back" @click="back">返回上一页</div>
      </div>
    </div>
    <!-- 对比弹窗 -->
    <!-- <div id="c-contrast-pop">
      <div class="c-tBox">
        <p class="c-title">[{{ComparedList.length}}/3] 对比框</p>
        <div class="c-close"></div>
      </div>
      <div class="c-cBox">
        <ul class="c-list">
          <li v-for="(item, index) of ComparedList" :key="index">
            <router-link to="" class="c-wrap">
              <div class="c-img">
                <img :src="/api/ + item.litpic" alt="" />
              </div>
              <p class="c-title">{{item.title}}</p>
            </router-link>
          </li>
        </ul>
      </div>
      <div class="c-bBox">
        <p class="c-btn" @click="getComparedIofn()">对比</p>
        <span class="c-text">清空对比栏</span>
      </div>
    </div> -->
    <!-- 底部 -->
    <webFooter></webFooter>
  </div>
</template>
<script>
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
import ShopHeader from "@/components/Shop/ShopHeader.vue";
export default {
  name: "Contrast",
  data() {
    return {
      ComparedList: [], //对比列表
      ComparedInfo: [], //对比详情
      ComparedMenu: [],
    };
  },
  components: {
    webHeader,
    webFooter,
    ShopHeader,
  },
  mounted() {
    this.getComparedList();
    this.getComparedIofn();
  },
  methods: {
    //左侧对比列表
    getComparedList() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=list_contrast")
        .then((res) => {
          this.ComparedList = res.data.res;
        });
    },

    //对比详情
    getComparedIofn() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=contrast")
        .then((res) => {
          console.log(res);
          this.ComparedMenu = res.data.res[0].case;
          this.ComparedInfo = res.data.res;
        });
    },

    //删除对比
    delComparedList(id) {
      if (this.ComparedInfo.length < 3) {
        this.$confirm("至少需要存在2款商品到对比框才可进行对比", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        });
        return false;
      }
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=compared_del", {
          product_id: id,
          symbol: 1,
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.getComparedIofn();
        });
    },

    //返回
    back(){
      this.$router.go(-1);
    }
  },
};
</script>
<style scoped lang="scss">
#c-top {
  .c-tbox {
    display: flex;
    align-items: center;
  }
}
#c-bottom {
  border-top: 10px solid #f5f5f5;
}

// 产品分类
#c-classification {
  width: 25%;
  @media (max-width: 1580px) {
    width: 18%;
  }
  .c-title-box {
    margin-bottom: 2px;
    background-color: #fff;
    .c-title {
      padding: 0 30px 0 50px;
      font-size: 18px;
      line-height: 86px;
      background: url(~images/c-fl-ico.png) no-repeat left 30px center/ 10px
        auto;
      transition: all 0.3s;
      &:hover {
        color: #208fb9;
      }
    }
  }
}

// 对比弹窗
#c-contrast-pop {
  position: fixed;
  z-index: 900;
  top: 50%;
  left: 20px;
  width: 220px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #fff;
  font-size: 14px;
  .c-tBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: #999;
    border-bottom: 1px solid #eee;
    .c-close {
      width: 14px;
      height: 14px;
      cursor: pointer;
      background: url(~images/c-close2.png) no-repeat center / 100%;
    }
  }
  .c-cBox {
    .c-list {
      padding: 0 20px;
      li {
        border-bottom: 1px solid #eee;
        .c-wrap {
          display: flex;
          align-items: center;
          .c-img {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 80px;
            height: 80px;
            img {
              max-width: 100%;
              max-height: 100%;
            }
          }
          .c-title {
            flex-shrink: 1;
            flex-grow: 1;
            font-size: 14px;
            line-height: 1.5;
            color: #666;
            word-break: break-all;
          }
        }
      }
    }
  }
  .c-bBox {
    padding: 20px;
    text-align: center;
    .c-btn {
      margin-bottom: 15px;
      line-height: 40px;
      border-radius: 3px;
      background: #208fb9;
      color: #fff;
      cursor: pointer;
    }
    .c-text {
      color: #666;
      cursor: pointer;
    }
  }
}

// 对比列表
#c-contrast {
  padding-bottom: 60px;
  table {
    width: 100%;
    border: 1px solid #dfdfdf;
    border-collapse: collapse;
  }
  tbody {
    & > tr {
      background: #fff;
      & > td {
        width: 27.5%;
        border-right: 1px solid #dfdfdf;
        &:nth-child(1) {
          width: 17.5%;
        }
        tr {
          &:nth-child(2n) {
            background: #f5f5f5;
          }
          td {
            position: relative;
            padding: 20px 10px 20px 20px;
            // width: 27.5%;
            // border-right: 1px solid #dfdfdf;
            text-align: center;
            font-size: 14px;
            color: #999;
            &:nth-child(1) {
              width: 17.5%;
              text-align: left;
              font-size: 14px;
              color: #333;
            }
            .c-txt {
              height: 240px;
              line-height: 240px;
            }
            .c-img {
              height: 240px;
              line-height: 240px;
              text-align: center;
              img {
                max-height: 100%;
                max-width: 100%;
              }
            }
            .c-btn {
              opacity: 0;
              position: absolute;
              bottom: 20px;
              left: 50%;
              margin-left: -60px;
              width: 120px;
              height: 40px;
              border-radius: 3px;
              line-height: 40px;
              text-align: center;
              color: #fff;
              background: #208fb9;
              transition: all 0.3s;
            }
            .c-close {
              opacity: 0;
              position: absolute;
              top: 20px;
              right: 20px;
              width: 30px;
              height: 30px;
              border-radius: 3px;
              background: #dedede url(~images/c-close3.png) no-repeat center/
                16px auto;
              cursor: pointer;
              transition: all 0.3s;
            }
            .c-price {
              height: 160px;
            }
            &:hover {
              .c-btn,
              .c-close {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
table{
  border: none;
  tr{
    border: none;
    td{
      border: none;
      padding: 0;
    }
  }
}

.back{
  width: 120px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #208fb9;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
}
</style>
