<template>
  <div>
    <!-- 头部 -->
    <webHeader></webHeader>
    <!-- 面包屑导航 -->
    <div id="c-navigation" class="bg-color2">
      <div class="container">
        <ul class="c-list">
          <li><router-link to="/">首页</router-link><span></span></li>
          <li>
            <router-link to="/Shop/Enquiry">批量询价</router-link><span></span>
          </li>
        </ul>
      </div>
    </div>
    <!-- 批量询价 -->
    <div id="c-enquiry" class="bg-color2">
      <div class="container">
        <div class="c-main">
          <h1 class="c-title">批量询价</h1>
          <form action="">
            <ul class="c-list">
              <li>
                <p class="c-title2">需要询价的型号</p>
                <ul>
                  <li>
                    <p class="c-text"><i>*</i> 型号</p>
                    <div class="txt">{{ ProductInfo.title }}</div>
                    <!-- <input
                      v-model="ProductInfo.title"
                      type="text"
                      placeholder="请填写型号"
                    /> -->
                  </li>
                  <li>
                    <p class="c-text"><i>*</i> 厂牌</p>
                    <div class="txt">{{ ProductInfo.brand_name }}</div>
                    <!-- <input
                      v-model="ProductInfo.brand_name"
                      type="text"
                      placeholder="请填写厂牌"
                    /> -->
                  </li>
                  <li>
                    <p class="c-text c-dt"><i>*</i> 需求数量</p>
                    <input
                      v-model="amount"
                      type="text"
                      oninput="value=value.replace(/[^\d]/g,'')"
                      placeholder="请填写数字"
                    />
                  </li>
                </ul>
              </li>
              <li>
                <p class="c-title2"><i>*</i> 项目名称</p>
                <ul>
                  <li class="c-dt">
                    <textarea
                      v-model="project"
                      placeholder="用于什么项目/产品，或填写项目描述，备注等，限180字以内... "
                      @input="widthCheck($event.target, 180)"
                    ></textarea>
                  </li>
                </ul>
              </li>
              <li>
                <p class="c-title2"><i>*</i> 期望交期</p>
                <ul>
                  <li class="c-dt">
                    <textarea
                      class="c-dt"
                      v-model="time"
                      placeholder="您的期望交期"
                    ></textarea>
                  </li>
                </ul>
              </li>
              <li>
                <p class="c-title2">
                  请完整准确填写以下信息，我们将通过邮件、电话与您取得联系。
                </p>
                <ul>
                  <li>
                    <p class="c-text"><i>*</i> 公司</p>
                    <input
                      v-model="company"
                      type="text"
                      placeholder="请填写完整公司名称"
                    />
                  </li>
                  <li>
                    <p class="c-text"><i>*</i> 姓名</p>
                    <input
                      v-model="name"
                      type="text"
                      placeholder="请填写真实姓名"
                    />
                  </li>
                  <li>
                    <p class="c-text c-dt"><i>*</i> 手机号</p>
                    <input
                      v-model="phone"
                      type="text"
                      placeholder="请填写真实有效的手机号"
                    />
                  </li>
                  <li>
                    <p class="c-text"><i>*</i> 邮箱</p>
                    <input
                      v-model="email"
                      type="text"
                      placeholder="请填写公司域名邮箱"
                    />
                  </li>
                </ul>
              </li>
              <li>
                <button type="button" @click="handleSubmit">提交</button>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <webFooter></webFooter>
  </div>
</template>
<script>
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
export default {
  name: "Enquiry",
  data() {
    return {
      amount: 1,
      project: "",
      time: "",
      company: "",
      name: "",
      phone: "",
      email: "",
      ProductInfo: [],
    };
  },
  components: {
    webHeader,
    webFooter,
  },
  mounted() {
    this.getProductInfo();
  },
  methods: {
    getProductInfo() {
      this.$axios
        .get(
          "/api/index.php?m=home&c=Lists&a=inquiry&product_id=" +
            this.$route.query.id
        )
        .then((res) => {
          console.log(res);
          this.ProductInfo = res.data.res;
        });
    },

    widthCheck(str, len){
      var temp = 0
      for(var i = 0; i <str.value.length; i++){
        if (/[\u4e00-\u9fa5]/.test(str.value[i])) {
          temp += 2
        } else {
          temp++
        }
        if (temp > len) {
          str.value = str.value.substr(0, i);
          this.$message.closeAll();
          this.$message.error("最多 " + len + " 字");
        }
      }
    },

    // 提交表单
    handleSubmit() {
      // 邮箱正则
      let yx1 =
        /^([a-zA-Z0-9]+[_|.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,5}$/;
      // 手机号正则
      let sjh1 = /^((12|13|14|15|16|17|18|19)+\d{9})$/;
      if (this.amount == "") {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请填写需求数量!",
          type: "error",
        });
        return false;
      }
      if(this.project == ""){
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请填写项目名称!",
          type: "error",
        });
        return false;
      }
      if(this.time == ""){
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请填写您的期望交期!",
          type: "error",
        });
        return false;
      }
      if (this.company == "") {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请填写完整公司名称!",
          type: "error",
        });
        return false;
      }
      let regName = /^[\u4e00-\u9fa5]{2,6}$/;
      if (this.name == "") {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请填写姓名!",
          type: "error",
        });
        return false;
      }
      if (!regName.test(this.name)) {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请正确填写姓名!",
          type: "error",
        });
        return false;
      }
      if (this.phone == "" || !sjh1.test(this.phone)) {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请填写真实有效的手机号!",
          type: "error",
        });
        return false;
      }
      if (this.email == "" || !yx1.test(this.email)) {
        this.$message.closeAll();
        this.$message({
          showClose: true,
          message: "请填写真实有效的公司域名邮箱!",
          type: "error",
        });
        return false;
      }
      this.$axios
        .post(
          "/api/index.php?m=home&c=Lists&a=inquiry&product_id=" +
            this.$route.query.id,
          {
            product_id: this.$route.query.id, //产品id
            title: this.project, //项目名称
            delivery: this.time, //期望交期
            company: this.company, //公司名称
            phone: this.phone, //手机号
            username: this.name, //姓名
            email: this.email, //邮箱
            num: this.amount, //数量
          }
        )
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          setTimeout(() => {
            this.$router.go(-1);
          }, 2000);
        });
    },
  },
};
</script>
<style scoped lang="scss">
// 批量询价
#c-enquiry {
  padding-bottom: 70px;
  .c-main {
    padding: 50px;
    background: #fff;
    .c-title {
      margin-bottom: 25px;
      font-size: 22px;
    }
    .c-list {
      & > li {
        margin-bottom: 35px;
        &:last-child {
          margin-bottom: 0;
        }
        .c-title2 {
          margin-bottom: 20px;
          i {
            font-style: normal;
            color: #f5002f;
          }
        }
        .txt {
          height: 36px;
          width: 300px;
          border: 1px solid #eee;
          line-height: 34px;
          padding: 0 20px;
          font-size: 14px;
          &:hover {
            border-color: #c0c4cc;
          }
          @media (max-width: 1580px) {
            width: 250px;
          }
        }
        input {
          height: 36px;
          width: 300px;
          border: 1px solid #eee;
          line-height: 34px;
          padding: 0 20px;
          font-size: 14px;
          &:hover {
            border-color: #c0c4cc;
          }
          &:focus {
            border-color: #208fb9;
          }
          @media (max-width: 1580px) {
            width: 250px;
          }
        }
        textarea {
          display: block;
          width: 100%;
          font-size: 14px;
          height: 100px;
          padding: 15px 20px;
          border: 1px solid #eee;
          resize: none;
          overflow: auto;
          &:hover {
            border-color: #c0c4cc;
          }
          &:focus {
            border-color: #208fb9;
          }
          &.c-dt {
            padding: 5px 20px;
            height: 36px;
            line-height: 24px;
          }
        }
        button {
          width: 140px;
          line-height: 40px;
          color: #fff;
          background: #208fb9;
          border-radius: 2px;
        }
        ul {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-bottom: -10px;
          li {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 1.5;
            color: #666;
            &.c-dt {
              width: 100%;
            }
            .c-text {
              width: 60px;
              flex-shrink: 0;
              i {
                font-style: normal;
                color: #f5002f;
              }
              &.c-dt {
                width: 90px;
              }
            }
          }
        }
      }
    }
  }
}
</style>
