<template>
  <div>
    <!-- 头部 -->
    <webHeader></webHeader>
    <!-- 下拉导航 -->
    <ShopHeader></ShopHeader>
    <!-- 面包屑导航 -->
    <div id="c-navigation" class="bg-color2">
      <div class="container">
        <ul class="c-list">
          <li><router-link to="/">首页</router-link><span></span></li>
          <li v-if="this.parentName != undefined" ><router-link :to="{
            path: '/Shop/ProductList',
            query: { id: parentId, name: parentName },
          }">{{parentName}}</router-link><span></span></li>
          <li>
            <router-link to="">{{ProductInfo.product_title}}</router-link
            ><span></span>
          </li>
        </ul>
      </div>
    </div>
    <!-- 公共搜索模块 -->
    <div class="c-common-box bg-color2 c-dt">
      <div class="container bg-color1">
        <div class="c-row">
          <div class="c-col">
            <!-- 全部分类 -->
            <div class="c-all-product">
              <router-link to="/Shop/Product" class="c-title"
                >全部商品分类</router-link
              >
            </div>
          </div>
          <div class="c-col">
            <!-- 搜索 -->
            <ShopSearch
              class="c-dt2"
              v-bind:oSearchData="searchData"
              ref="shopcar"
            ></ShopSearch>
          </div>
        </div>
      </div>
    </div>
    <!-- 产品详情 -->
    <div id="c-product-detail" class="bg-color2">
      <div class="container">
        <div class="c-main">
          <div class="c-left-box">
            <div class="c-top">
              <div class="c-tBox">
                <div class="c-lt">
                  <div class="c-gallery-wrap" @mousemove="handleMousemove">
                    <div class="c-mask"></div>
                    <div class="c-max-img-box">
                      <img class="c-max-img" src="" alt="" />
                    </div>
                    <div class="swiper-container gallery_top">
                      <div class="swiper-wrapper">
                        <div
                          class="swiper-slide"
                          v-for="(item, index) of ProductInfo.image"
                          :key="index"
                        >
                          <img :src="item.image_url" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-container gallery_thumbs" id="gallery_thumbs">
                    <div class="swiper-wrapper">
                      <div
                        class="swiper-slide"
                        :class="{ on: index == thumbsIndex }"
                        v-for="(item, index) of ProductInfo.image"
                        :key="index"
                        @click="setClassOn(index)"
                      >
                        <img :src="item.image_url" />
                      </div>

                      <!-- <div class="swiper-slide">
                        <img src="~images/c-cp1-max.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="~images/c-cp1-max.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="~images/c-cp1-max.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="~images/c-cp1-max.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img src="~images/c-cp1-max.jpg" />
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="c-gt">
                  <div class="c-title-box">
                    <h1 class="c-title">
                      {{ ProductInfo.product_title }}
                      <span v-if="ProductInfo.product_subtitle != ''"
                        >“ {{ ProductInfo.product_subtitle }} ”</span
                      >
                    </h1>
                    <p class="c-text" @click="openTicketTc">
                      可享优惠
                      <span v-for="(item, index) of CouponList" :key="index">{{
                        item.coupon_name
                      }}</span>
                    </p>
                  </div>
                  <div class="c-list-wrap">
                    <ul class="c-list">
                      <li
                        v-for="(item, index) of ProductInfo.product_spec"
                        :key="index"
                      >
                        <div>
                          <span>{{ item.spec_value }} ：</span
                          ><span>￥ {{ item.spec_price }} / 个</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <ul class="c-list2">
                    <li>
                      <div>近期成交</div>
                      <div>{{ ProductInfo.near_num }} 单</div>
                    </li>
                    <li>
                      <div>总销量</div>
                      <div>{{ ProductInfo.sales_num }} 单</div>
                    </li>
                    <li>
                      <div>库存</div>
                      <div>{{ ProductInfo.stock_count }} {{ProductInfo.specifications[0].name}}</div>
                    </li>
                    <li>
                      <div>数量</div>
                      <div>
                        <div class="c-num-box">
                          <el-input
                            v-model="options2.product_num"
                            placeholder="1"
                            maxlength="8"
                            oninput="value=value.replace(/[^\d]/g,'')"
                            @input="setProductPrice()"
                          ></el-input>
                          <el-select
                            v-model="options2.product_type"
                            placeholder="请选择"
                            @change="setProductPrice()"
                          >
                            <el-option
                              v-for="item2 in ProductInfo.specifications"
                              :key="item2.id"
                              :label="item2.nume_num>1? item2.nume_num + '/' + item2.name:item2.name"
                              :value="item2.name"
                            >
                            </el-option>
                          </el-select>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>总价</div>
                      <div>￥ {{ ProductInfo.users_price }}</div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="c-bBox">
                <div class="c-lt">
                  <div class="c-btn" @click="getCollect(ProductInfo)">
                    {{ProductInfo.collection==1?'已收藏':'加入收藏'}}
                  </div>
                  <div class="c-btn" @click="getAddCompared(ProductInfo)">
                    对比
                  </div>
                </div>
                <div class="c-gt">
                  <router-link
                    class="c-btn"
                    :to="{
                      path: '/Shop/Enquiry',
                      query: { id: ProductInfo.aid },
                    }"
                    >批量询价</router-link
                  >
                  <router-link
                    class="c-btn"
                    :to="{
                      name: 'Delivery',
                      query: {},
                    }"
                    >查询交期</router-link
                  >
                  <div class="c-btn" @click="addSampleList(ProductInfo)">
                    加入样品单
                  </div>
                  <div class="c-btn" @click="addShopCar(ProductInfo)">
                    加入购物车
                  </div>
                </div>
              </div>
            </div>
            <div class="c-bottom">
              <ul class="c-list1">
                <li :class="{ on: tabMenu }" @click="handleTab(1)">商品详情</li>
                <li :class="{ on: !tabMenu }" @click="handleTab(2)">
                  累计评价 ( {{ CommentList.length }} )
                </li>
              </ul>
              <ul class="c-list2">
                <li v-show="tabMenu">
                  <table>
                    <thead>
                      <tr>
                        <th>属性</th>
                        <th>参数值</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(item, index) of ProductInfo.case"
                        :key="index"
                      >
                        <td>{{ item.attr_name }}</td>
                        <td>{{ item.attr_value }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="c-text-box" v-html="ProductInfo.content">

                  </div>
                </li>
                <li v-show="!tabMenu">
                  <ul class="c-list3" v-if="CommentList.length > 0">
                    <li v-for="(item, index) of CommentList" :key="index">
                      <div class="c-user-box">
                        <div class="c-lt">
                          <div class="c-photo">
                            <img :src="/api/+item.head_pic" alt="" />
                          </div>
                          <div class="c-text-box">
                            <p class="c-name">
                              <span v-if="item.is_show == 0">{{item.username}}</span>
                              <span v-else>匿名用户</span>
                            </p>
                            <p class="c-time">{{
              moment(item.add_time * 1000).format("YYYY-MM-DD h:mm:ss")
            }}</p>
                          </div>
                        </div>
                        <div class="c-gt">
                          <el-rate v-if="item.order_total_score == '好评'" value="5" disabled></el-rate>
                          <el-rate v-if="item.order_total_score == '中评'" value="3" disabled></el-rate>
                          <el-rate v-if="item.order_total_score == '差评'" value="1" disabled></el-rate>
                        </div>
                      </div>
                      <div class="c-content">
                        <div class="c-box1">
                          <div class="c-lt2">
                            <div class="c-text" v-html="item.content"></div>
                            <div class="c-img-box" v-if="item.upload_img.length > 0">
                              <div class="c-item" v-for="(img, index) of item.upload_img" :key="index">
                                <!-- <img :src="/api/+img" alt="" /> -->
                                <el-image 
                                  class="c-item"
                                  :src="/api/+img" 
                                  :preview-src-list="item.upload_img">
                                </el-image>
                              </div>
                            </div>
                          </div>
                          <div class="c-gt2">
                            <p>[购买数量：{{item.product_num}}个]</p>
                          </div>
                        </div>
                        <div class="c-box2" v-if="false">
                          <div class="c-photo">
                            <img src="~images/c-tx2.jpg" alt="" />
                          </div>
                          <div class="c-text-box">
                            <p class="c-name">商家回复</p>
                            <div class="c-text">
                              <p>
                                该账号涉嫌恶意刷评论已被封禁，望各位引以为戒
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="EvaluationTips" v-else>
                    暂无评价
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="c-right-box">
            <!-- 参数 -->
            <div class="c-parameter">
              <div class="c-img-box">
                <img :src="ProductInfo.brand_litpc" alt="" />
              </div>
              <div class="c-text-box">
                <div class="c-item">
                  <div class="c-title">参考封装</div>
                  <div class="c-text">{{ ProductInfo.encapsulations }}</div>
                </div>
                <div class="c-item">
                  <div class="c-title">封装/规格</div>
                  <div class="c-text">{{ ProductInfo.specificationss }}</div>
                </div>
                <div class="c-item">
                  <div class="c-title">品牌/产地</div>
                  <div class="c-text">{{ ProductInfo.brand_name }}</div>
                </div>
                <div class="c-item">
                  <div class="c-title">产品编号</div>
                  <div class="c-text">{{ ProductInfo.number }}</div>
                </div>
                <div class="c-item">
                  <div class="c-title">包装方式</div>
                  <div class="c-text">{{ ProductInfo.packing1 }}</div>
                </div>
                <div class="c-item">
                  <div class="c-title">包装规格</div>
                  <div class="c-text">
                    {{ProductInfo.packing}}
                  </div>
                </div>
                <div class="c-item">
                  <div class="c-title">商品毛重</div>
                  <div class="c-text">{{ ProductInfo.weight }}克(g)</div>
                </div>
                <div class="c-item" v-if="ProductInfo.manual != '' && ProductInfo.manual2 != ''">
                  <div class="c-title">数据手册</div>
                  <div class="c-text">
                    <span v-if="ProductInfo.manual != ''">
                      <a
                        :href="ProductInfo.manual"
                        target="_blank"
                        :title="ProductInfo.manual_title"
                        >{{ProductInfo.manual_title}}</a
                      >
                    </span>
                    <span v-if="ProductInfo.manual2 != ''">
                      <a
                        :href="ProductInfo.manual2"
                        target="_blank"
                        :title="ProductInfo.manual1_title"
                        >{{ProductInfo.manual1_title}}</a
                      >
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- 推荐 -->
            <div class="c-recommend" v-if="RecommendList.length > 0">
              <h2 class="c-title">推荐购买</h2>
              <ul class="c-list">
                <li v-for="(item, index) of RecommendList" :key="index">
                  <router-link
                    :to="{
                      path: '/Shop/ProductDetail',
                      query: { id: item.aid },
                    }"
                    @click.native="refresh"
                    class="c-title"
                  >
                    <div class="c-img-box">
                      <img :src="item.litpic" alt="" />
                    </div>
                    <div class="c-text-box">
                      <div class="c-title2" to="">{{
                        item.title
                      }}</div>
                      <div class="c-text">
                        <p>
                          <span>封装/规格：</span
                          ><span>{{ item.specifications1 }}</span>
                        </p>
                        <p>
                          <span>品牌/产地：</span
                          ><span>{{ item.brand_name }}</span>
                        </p>
                      </div>
                      <p class="c-price">￥{{ item.users_price }}/个</p>
                    </div>
                  </router-link>
                  
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 对比弹窗 -->
    <div id="c-contrast-pop" v-if="isContrastPop" :class="{on:isContrastPop2}">
      <div class="c-tBox">
        <p class="c-title">[{{ ComparedList.length }}/3] 对比框</p>
        <div class="c-close" @click="closeContrastPop()"></div>
      </div>
      <div class="c-cBox">
        <ul class="c-list">
          <li v-for="(item, index) of ComparedList" :key="index">
            <div class="c-wrap">
              <div class="c-img">
                <img :src="item.litpic" alt="" />
                <div class="c-del" @click="delContrast(item.aid)"></div>
              </div>
              <p class="c-title">{{ item.title }}</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="c-bBox">
        <p class="c-btn" @click="goContrast()">对比</p>
        <span class="c-text" @click="cleanComparedList">清空对比栏</span>
      </div>
    </div>

    <!-- 优惠券弹窗 -->
    <div class="coupon-tc" v-if="ticketClose">
      <div class="coupon-box">
        <div class="title">领券通知</div>
        <div class="close" @click="closeTicketTc">
          <img src="~images/c-close2.png" alt="" />
        </div>
        <div class="tips"><span>可领取的券</span></div>
        <div class="coupon-list">
          <ul>
            <li
              v-for="(item, index) of CouponList"
              :key="index"
              @click="getCouponticket(item)"
            >
              <div class="num">
                ￥<span>{{ item.coupon_price }}</span>
              </div>
              <div class="ts">
                <div class="name">{{ item.coupon_name }}</div>
                <div class="time">
                  限{{ item.start_date | dateDiff }}-{{
                    item.end_date | dateDiff
                  }}
                </div>
                <div class="price">满{{ item.conditions_use }}元可用</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- 领取成功弹窗 -->
      <div class="getsuccess" v-if="tcClise">
        <div class="title">领取成功</div>
        <div class="close" @click="closeSuccessTc">
          <img src="~images/c-close2.png" alt="" />
        </div>
        <div class="icon"><img src="~images/ticket-icon.jpg" alt="" /></div>
        <div class="txt">
          优惠券领取成功,
          <br />
          有效日期至<span>{{ ticketEndTime | dateDiff }}</span>
        </div>
        <div class="close2" @click="closeSuccessTc">确定</div>
      </div>
    </div>

    <!-- 底部 -->
    <webFooter></webFooter>
  </div>
</template>
<script>
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
import ShopHeader from "@/components/Shop/ShopHeader.vue";
import ShopSearch from "@/components/Shop/ShopSearch.vue";
import Swiper from "swiper";
import moment from 'moment';
import * as math from 'mathjs';
export default {
  name: "ProductDetail",
  data() {
    return {
      searchData: {
        tagShow: false, //是否显示标签
        isSearch: true, //是否是搜索详情页
      },
      query: "", //搜索关键词
      value: 4,
      tabMenu: true, //详情评价切换
      gallery_top: "",
      galleryThumbs: "",
      thumbsIndex: 0,
      bigImgUrl: {
        url: "",
      },
      ProductInfo: [], //产品详情
      CouponList: [], //优惠券列表
      ComparedList: [], //对比列表
      RecommendList: [], //右侧推荐产品
      CommentList: [], //评论列表
      options2: {
        product_type: "个",
        product_num: 1,
        specifications_id:""
      },
      ticketClose: false,
      tcClise: false,
      ticketEndTime: "",
      inputnum:1,
      num:1,
      TotalPrice: 0,
      TotalNum: 0,
      isContrastPop:false,//对比显示
      isContrastPop2:false,//对比收缩
    };
  },
  created() {},
  components: {
    webHeader,
    webFooter,
    ShopHeader,
    ShopSearch
  },
  mounted() {
    this.$nextTick(function () {
      this.galleryTopLunbo();
      this.setBigImg();
    });
    this.getProductInfo();
    this.getProductCoupon();
    this.getComparedList();
    this.getRecommendList();
    this.getCommentList();
  },
  updated() {
    this.setBigImg();
  },
  computed: {},
  methods: {
    moment,
    //获取产品详情
    getProductInfo() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=product_view", {
          product_id: this.$route.query.id,
        })
        .then((res) => {
          console.log(res);
          this.ProductInfo = res.data.res;
          this.TotalPrice = this.ProductInfo.users_price;
          this.options2.product_type = this.ProductInfo.specifications[0].name;
          this.setProductPrice();
        });
    },

    //计算总价
    changenum(e){
      this.inputnum = e;
      this.getTotalPrice();
    },
    changenum2(e){
      this.num = e;
      this.getTotalPrice();
    },
    getTotalPrice(){
      let type1 = math.bignumber(this.num);
      let type2 = math.bignumber(this.inputnum);
      let type3 = math.bignumber(this.ProductInfo.users_price);
      this.TotalNum = math.number(math.multiply(type1, type2));
      this.TotalPrice = math.number(math.multiply(type1, type2, type3));
    },

    //产品优惠券
    getProductCoupon() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=product_coupon", {
          product_id: this.ProductInfo.aid,
          typeid: this.ProductInfo.typeid,
        })
        .then((res) => {
          this.CouponList = res.data.res;
        });
    },

    openTicketTc() {
      this.ticketClose = !this.ticketClose;
    },
    closeTicketTc() {
      this.ticketClose = !this.ticketClose;
    },

    //领取优惠券
    getCouponticket(item) {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=receive_coupon", {
          coupon_id: item.coupon_id,
          coupon_code: item.coupon_code,
          start_time: item.start_date,
          end_time: item.end_date,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.tcClise = !this.tcClise;
          this.ticketEndTime = item.end_date;
        });
    },
    closeSuccessTc() {
      this.tcClise = !this.tcClise;
    },

    //右侧推荐产品
    getRecommendList() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=like_product", {
          product_id: this.$route.query.id,
        })
        .then((res) => {
          this.RecommendList = res.data.res;
        });
    },

    //商品评论列表
    getCommentList() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=comment", {
          product_id: this.$route.query.id,
          page: 1,
          limit: 10,
        })
        .then((res) => {
          console.log(res.data.res)
          this.CommentList = res.data.res;
        });
    },

    //加入购物车
    addShopCar(item) {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=shop_add_cart", {
          aid: item.aid,
          num: this.options2.product_num,
          specifications_id: this.options2.specifications_id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.$refs.shopcar.getCartNum();
        });
    },

    //加入样品清单
    addSampleList(item) {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=add_sample", {
          product_id: item.aid,
          num: this.TotalNum,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.$refs.shopcar.getSampleNum();
        });
    },
    

    //询价
    getAskPrice(item) {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=delivery", {
          product_id: item,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
        });
    },

    //查询交期

    //左侧对比列表
    getComparedList() {
      if( localStorage.getItem("token") == 1 ){
        this.$axios
        .post("/api/index.php?m=home&c=Lists&a=list_contrast")
        .then((res) => {
          if(res.data.status == 1){
            this.ComparedList = res.data.res;
            if(this.ComparedList.length >0){
              this.isContrastPop = true;
            }else{
              this.isContrastPop = false;
            }
          }
        });
      }else{
        this.isContrastPop = false;
      }
    },

    //添加对比
    getAddCompared(item) {
      if (this.ComparedList.length >= 3) {
        this.$confirm("最多只能将3款商品加入对比", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        });
        return false;
      }
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=add_contrast", {
          product_id: item.aid,
        })
        .then((res) => {
          console.log(res)
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getComparedList();
        });
    },

    // 删除对比产品
    delContrast(id){
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=compared_del", {
          product_id: id,
          symbol: 1,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getComparedList();
        });
    },

    //清空对比
    cleanComparedList() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=compared_del", {
          product_id: "",
          symbol: "all",
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getComparedList();
        });
    },
    // 关闭对比
    closeContrastPop(){
      this.isContrastPop2 = !this.isContrastPop2;
    },
    // 去对比页面
    goContrast(){
      if(this.ComparedList.length > 1){
          this.$router.push({
            path: "/Shop/Contrast",
          });
      }else{
        this.$message.error("添加两个产品才能对比");
      }
    },

    //加入收藏
    getCollect(item) {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=add_collection", {
          product_id: item.aid,
        })
        .then((res) => {
          if(res.data.status == 1){
            this.$message.success(res.data.msg);
            this.getProductInfo();
          }else{
            this.$message.error(res.data.msg);
          }
        });
    },

    // 设置排版
    handleTab(num) {
      if (num == 1) {
        this.tabMenu = true;
      } else {
        this.tabMenu = false;
      }
    },
    // 放大图移动
    handleMousemove(e) {
      var smallBox = document.querySelector(".c-gallery-wrap"); // 获取产品盒子
      var mask = document.querySelector(".c-mask"); // 获取蒙板
      var bigBox = document.querySelector(".c-max-img-box"); // 获取放大图 的盒子
      var bigImg = document.querySelector(".c-max-img"); // 获取 大图
      var x = e.pageX - smallBox.offsetLeft; // 这里将 鼠标在产品盒子内的 X坐标赋值给x
      var y = e.pageY - smallBox.offsetTop; // 这里将 鼠标在产品盒子内的 Y坐标赋值给y
      var Max1 = smallBox.offsetWidth - mask.offsetWidth; // 这里将 蒙板在产品盒子内能位移的最大值 赋值给Max1 (因为是正方形 所有X,Y轴一样）
      var left = x - mask.offsetWidth / 2; // 这里表示 使鼠标位于蒙板X轴方向的中部 (即 蒙板X移动的距离要向左多移动自身的一半
      if (left <= 0) {
        // 判断 是否到达边界
        left = 0;
      } else if (left >= Max1) {
        left = Max1;
      }
      mask.style.left = left + "px"; // 将移动X坐标值转换为字符串 赋值给蒙板X轴
      var top = y - mask.offsetWidth / 2; // // 这里表示 使鼠标位于蒙板Y轴方向的中部 (即 蒙板Y移动的距离要向上多移动自身的一半
      if (top <= 0) {
        // 判断 是否到达边界
        top = 0;
      } else if (top >= Max1) {
        top = Max1;
      }
      mask.style.top = top + "px"; // 将移动Y坐标的值转换为字符串 赋值给蒙板Y轴
      var Max2 = bigImg.offsetWidth - bigBox.offsetWidth; // 这里计算得到 大图的最大位移量
      // console.log(bigImg.offsetWidth, bigBox.offsetWidth);
      // console.log(smallBox.offsetWidth, mask.offsetWidth);
      bigImg.style.left = -((left * Max2) / Max1) + "px"; // 要是大图与蒙板联动 需要按照最大位移量的比例来达到预想效果 同时使运动方向相反 因此前面加负号
      bigImg.style.top = -((top * Max2) / Max1) + "px";
    },
    // 轮播
    galleryTopLunbo() {
      let _this = this;
      let obj1 = "";
      let oDiv = "";
      let aDiv = "";
      let oImg = document.querySelector(".c-max-img");
      this.galleryThumbs = new Swiper(".gallery_thumbs", {
        observer: true,
        observeParents: true,
        spaceBetween: 10,
        slidesPerView: 4,
        watchSlidesVisibility: true,
      });

      this.gallery_top = new Swiper(".gallery_top", {
        spaceBetween: 10,
        observer: true,
        observeParents: true,
        thumbs: {
          swiper: _this.galleryThumbs,
        },
        on: {
          slideChangeTransitionEnd: function () {
            obj1 = document.querySelector(".gallery_top");
            oDiv = obj1.getElementsByTagName("div")[0];
            aDiv = oDiv.getElementsByTagName("div");
            aDiv.forEach(function (item) {
              if (
                item.getAttribute("class").indexOf("swiper-slide-active", 0) >=
                0
              ) {
                oImg.src = item.getElementsByTagName("img")[0].src;
                console.log(item.getElementsByTagName("img")[0].src);
              }
            });
          },
        },
      });
    },
    // 设置缩略图选中
    setClassOn(index) {
      this.thumbsIndex = index;
    },
    // 设置放大图
    setBigImg() {
      let obj1 = document.querySelector(".gallery_top");
      let oDiv = obj1.getElementsByTagName("div")[0];
      let aDiv = oDiv.getElementsByTagName("div");
      let oImg = document.querySelector(".c-max-img");
      aDiv.forEach(function (item) {
        if (item.getAttribute("class").indexOf("swiper-slide-active", 0) >= 0) {
          oImg.src = item.getElementsByTagName("img")[0].src;
        }
      });
    },
    // 批量询价
    handleEnquiry() {
      this.$router.push({
        name: "Enquiry",
        params: {
          //通过query 传递参数
          model: "压力传感器 SDP810-500PA",
          brand: "AIRWAT(爱尔微特)",
        },
      });
    },
    // 设置价格
    setProductPrice(){
      let obj = this.ProductInfo;
      let num = 0;
      let product_num = this.options2.product_num;
      if(product_num<1){
        this.options2.product_num = 1;
        product_num = 1;
      }
      obj.specifications.forEach((item)=>{
        if(this.options2.product_type == item.name){
          this.options2.specifications_id = item.id;
          num = parseInt(item.nume_num)* product_num;
          obj.product_spec.forEach((item2)=>{
            if(num >= parseInt(item2.spec_value)){
              obj.users_price = Number(
                math.format(
                  math.multiply(
                    math.bignumber(num),
                    math.bignumber(parseFloat(item2.spec_price))
                  )
                )
              ).toFixed(2);
            }
          });
        }
      });
    }
  },
};
</script>
<style scoped lang="scss">
// 公共模块
.c-common-box {
  padding-bottom: 2px;
  &.c-dt {
    .c-all-product {
      margin-left: -30px;
    }
    .c-row {
      padding: 0 30px;
      .c-col {
        width: 25%;
        &:last-child {
          width: 75%;
        }
      }
    }
  }
  .c-row {
    display: flex;
    align-items: center;
    margin: 0 -10px;
    .c-col {
      padding: 0 10px;
      width: 19%;
      &:last-child {
        padding: 0 10px;
        width: 81%;
      }
    }
  }
  .c-all-product {
    background-color: #fff;
    .c-title {
      padding: 0 30px 0 50px;
      font-size: 18px;
      line-height: 86px;
      background: url(~images/c-fl-ico.png) no-repeat left 30px center/ 10px
        auto;
      transition: all 0.3s;
      &:hover {
        color: #208fb9;
      }
    }
  }
}
// 对比
#c-contrast-pop {
  position: fixed;
  z-index: 900;
  top: 50%;
  left: 20px;
  width: 220px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #fff;
  font-size: 14px;
  &.on {
    width: 130px;
    .c-tBox {
      .c-close {
        background-image: url(~images/c-pb-ico1-1.png);
      }
    }
    .c-bBox,.c-cBox {
      display: none;
    }
  }
  .c-tBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: #999;
    border-bottom: 1px solid #eee;
    .c-close {
      width: 14px;
      height: 14px;
      cursor: pointer;
      background: url(~images/c-close2.png) no-repeat center / 100%;
    }
  }
  .c-cBox {
    .c-list {
      li {
        padding: 0 20px;
        border-bottom: 1px solid #eee;
        &:hover {
          .c-wrap {
            .c-img {
              .c-del {
                display: block;
              }
            }
          }
        }
        .c-wrap {
          display: flex;
          align-items: center;
          .c-img {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 80px;
            height: 80px;
            img {
              max-width: 100%;
              max-height: 100%;
            }
            .c-del {
              display: none;
              position: absolute;
              top: 50%;
              left: 50%;
              margin: -7px 0 0 -7px;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              cursor: pointer;
              background: #f5002f url(~images/c-close.png) no-repeat center / 12px;
            }
          }
          .c-title {
            flex-shrink: 1;
            flex-grow: 1;
            font-size: 14px;
            line-height: 1.5;
            color: #666;
            word-break: break-all;
          }
        }
      }
    }
  }
  .c-bBox {
    padding: 20px;
    text-align: center;
    .c-btn {
      margin-bottom: 15px;
      line-height: 40px;
      border-radius: 3px;
      background: #208fb9;
      color: #fff;
      cursor: pointer;
      display: block;
    }
    .c-text {
      color: #666;
      cursor: pointer;
    }
  }
}

// 产品详情
#c-product-detail {
  padding-bottom: 70px;
  .c-main {
    display: flex;
    align-items: flex-start;
    margin: 0 -5px;
    .c-left-box {
      padding: 0 5px;
      width: 76.78%;
      .c-top {
        padding: 30px;
        background: #fff;
        .c-tBox {
          margin-bottom: 10px;
          display: flex;
          align-items: flex-start;
          .c-lt {
            flex-shrink: 0;
            width: 390px;
          }
          .c-gt {
            padding-left: 30px;
            width: 100%;
            .c-title-box {
              margin-bottom: 20px;
              .c-title {
                display: block;
                font-size: 22px;
                line-height: 32px;
                word-wrap: break-word;
                word-break: normal;
                span {
                  display: inline-block;
                  vertical-align: middle;
                  padding: 0 10px;
                  font-size: 14px;
                  line-height: 24px;
                  color: #f5002f;
                  background: #ffe7e7;
                }
              }
              .c-text {
                font-size: 14px;
                line-height: 32px;
                color: #999;
                span {
                  display: inline-block;
                  vertical-align: middle;
                  padding: 0 10px;
                  font-size: 14px;
                  line-height: 24px;
                  color: #f5002f;
                  background: #ffe7e7;
                  margin-right: 5px;
                }
              }
            }
            .c-list-wrap {
              padding: 30px;
              border: 1px solid #e7e7e7;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              .c-list {
                li {
                  font-size: 14px;
                  line-height: 30px;
                  &.on {
                    background: #f5f5f5;
                    div {
                      color: #f5002f;
                    }
                  }
                  div {
                    padding: 0 10px;
                    display: flex;
                    align-items: flex-start;
                    color: #666;
                    span {
                      &:first-child {
                        display: block;
                        flex-shrink: 0;
                        width: 80px;
                        text-align: right;
                      }
                    }
                  }
                }
              }
            }
            .c-list2 {
              margin-top: 15px;
              li {
                margin-top: 10px;
                display: flex;
                align-items: center;
                font-size: 14px;
                line-height: 24px;
                div {
                  &:first-child {
                    flex-shrink: 0;
                    width: 74px;
                    color: #666;
                  }
                }
                &:last-child {
                  div:last-child {
                    font-size: 16px;
                    color: #f5002f;
                  }
                }
                .c-num-box {
                  margin: 5px 0 10px;
                  display: flex;
                  align-items: flex-start;
                  justify-content: flex-start;
                }
              }
            }
          }
        }
        .c-bBox {
          display: flex;
          align-items: flex-start;
          .c-lt {
            flex-shrink: 0;
            width: 390px;
            display: flex;
            align-items: flex-start;
            .c-btn {
              width: 50%;
              border: 1px solid #e7e7e7;
              font-size: 14px;
              line-height: 38px;
              text-align: center;
              cursor: pointer;
            }
          }
          .c-gt {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding-left: 30px;
            width: 100%;
            .c-btn {
              width: 24%;
              border: 1px solid #e7e7e7;
              font-size: 14px;
              line-height: 38px;
              text-align: center;
              cursor: pointer;
              &:last-child {
                border-collapse: #f5002f;
                background: #f5002f;
                color: #fff;
              }
            }
          }
        }
      }
      .c-bottom {
        background-color: #fff;
        padding: 30px;
        .c-list1 {
          margin-bottom: 20px;
          display: flex;
          align-items: flex-start;
          li {
            margin-right: 58px;
            font-size: 18px;
            padding-bottom: 10px;
            border-bottom: 2px solid transparent;
            cursor: pointer;
            &.on {
              font-weight: bold;
              color: #208fb9;
              border-color: #208fb9;
            }
          }
        }
        .c-list2 {
          & > li {
            &:nth-child(1) {
              table {
                width: 100%;
                border-collapse: collapse;
                color: #666;
                line-height: 1.5;
                thead {
                  background-color: #f5f5f5;
                }
                td,
                th {
                  font-size: 14px;
                  padding: 10px 30px;
                  width: 50%;
                  border: 1px solid #e2e2e2;
                }
              }
              .c-text-box {
                margin-top: 30px;
                font-size: 14px;
                color: #666;
                line-height: 1.5;
              }
            }
          }
        }
        .c-list3 {
          li {
            margin-bottom: 40px;
            .c-user-box {
              margin-bottom: 15px;
              display: flex;
              justify-content: space-between;
              .c-lt {
                display: flex;
                align-items: center;
                padding: 0 10px;
                .c-photo {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  overflow: hidden;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
                .c-text-box {
                  padding-left: 12px;
                  .c-time {
                    margin-top: 10px;
                    font-size: 12px;
                    color: #999;
                  }
                }
              }
            }
            .c-content {
              position: relative;
              padding: 30px;
              background-color: #f5f5f5;
              &::before {
                content: "";
                position: absolute;
                top: -6px;
                left: 30px;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 6px solid #f5f5f5;
              }
              .c-box1 {
                display: flex;
                align-items: flex-start;
                .c-lt2 {
                  flex-shrink: 1;
                  flex-grow: 1;
                  .c-text {
                    font-size: 14px;
                    line-height: 1.5;
                    color: #666;
                  }
                  .c-img-box {
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    .c-item {
                      position: relative;
                      margin: 10px 10px 0 0;
                      width: 120px;
                      height: 120px;
                      overflow: hidden;
                      cursor: pointer;
                      &::before {
                        opacity: 0;
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(32, 143, 185, 0.7)
                          url(~images/c-ss-ico.png) no-repeat center / 28px auto;
                        transition: all 0.3s;
                        display: none;
                      }
                      img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                      }
                      &:hover {
                        &::before {
                          opacity: 1;
                        }
                      }
                    }
                  }
                }
                .c-gt2 {
                  flex-shrink: 0;
                  width: 200px;
                  font-size: 14px;
                  line-height: 1.5;
                  text-align: right;
                  color: #999;
                }
              }
              .c-box2 {
                display: flex;
                align-items: flex-start;
                margin-top: 20px;
                .c-photo {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  overflow: hidden;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
                .c-text-box {
                  padding: 3px 0 0 12px;
                  font-size: 14px;
                  line-height: 1.5;
                  .c-name {
                    color: #208fb9;
                  }
                  .c-text {
                    color: #999;
                  }
                }
              }
            }
          }
        }
      }
    }
    .c-right-box {
      padding: 0 5px;
      width: 23.22%;
      .c-parameter {
        height: 600px;
        padding: 30px;
        background-color: #fff;
        .c-img-box {
          margin-bottom: 20px;
          height: 130px;
          line-height: 128px;
          text-align: center;
          border: 1px solid #e7e7e7;
          overflow: hidden;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
        .c-text-box {
          .c-item {
            display: flex;
            align-items: flex-start;
            padding: 5px 0;
            font-size: 14px;
            line-height: 1.5;
            .c-title {
              padding-right: 16px;
              flex-shrink: 0;
              color: #666;
            }
            .c-text {
              p {
                margin-bottom: 10px;
              }
              a {
                display: inline-block;
                padding-left: 20px;
                line-height: 1.5;
                background: url(~images/c-wj-ico.png) no-repeat left center /
                  16px auto;
              }
            }
          }
        }
      }
      .c-recommend {
        margin-top: 2px;
        padding: 30px;
        background-color: #fff;
        .c-list {
          li {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            &:last-child {
              margin-bottom: 0;
            }
            .c-img-box {
              flex-shrink: 0;
              display: block;
              width: 90px;
              height: 90px;
              line-height: 88px;
              border: 1px solid #efefef;
              text-align: center;
              overflow: hidden;
              transition: all 0.3s;
              &:hover {
                border-color: #208fb9;
              }
            }
            .c-text-box {
              padding-left: 20px;
              font-size: 14px;
              line-height: 1.5;
              .c-title2 {
                transition: all 0.3s;
                &:hover {
                  color: #208fb9;
                }
              }
              .c-text {
                color: #666;
                p {
                  display: flex;
                  align-items: flex-start;
                  span:first-child {
                    flex-shrink: 0;
                  }
                }
              }
              .c-price {
                color: #f5002f;
              }
            }
          }
        }
      }
    }
  }
}

// 产品放大
.c-gallery-wrap {
  position: relative;
  &:hover {
    .c-mask,
    .c-max-img-box {
      display: block;
    }
  }
  .c-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 190px;
    height: 190px;
    background: #208fb9;
    opacity: 0.5;
    cursor: move;
    display: none;
  }
  .c-max-img-box {
    position: absolute;
    display: none;
    top: 0;
    left: 400px;
    z-index: 3;
    width: 390px;
    height: 390px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    background: #fff;
    .c-max-img {
      position: absolute;
      top: 0;
      left: 0;
      max-width: none;
      object-fit: none;
    }
  }
}

// 产品轮播
.gallery_top {
  border: 1px solid #e7e7e7;
  .swiper-slide {
    height: 388px;
  }
}
.gallery_thumbs {
  margin-top: 10px;
  .swiper-slide {
    width: 90px;
    height: 88px;
    border: 1px solid #e7e7e7;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .on {
    border-color: #208fb9;
  }
}

.coupon-tc {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 909;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  .coupon-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background: #fff;
    padding: 40px;
    .title {
      font-size: 22px;
      line-height: 1;
      color: #333;
    }
    .close {
      width: 14px;
      height: 14px;
      position: absolute;
      top: 44px;
      right: 40px;
      cursor: pointer;
    }
    .tips {
      width: 100%;
      text-align: center;
      font-size: 14px;
      line-height: 1;
      color: #999;
      margin-top: 20px;
      position: relative;
      span {
        position: relative;
        z-index: 2;
        background: #fff;
        padding: 0 10px;
      }
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background: #f2f2f2;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .coupon-list {
      width: 100%;
      margin-top: 20px;
      ul {
        li {
          width: 100%;
          height: 100px;
          background: url(~images/c-yhq1.png) center center no-repeat;
          background-size: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin-bottom: 20px;
          .num {
            font-size: 22px;
            color: #208fb9;
            margin-right: 20px;
            span {
              font-size: 40px;
            }
          }
          .ts {
            .name {
              font-size: 18px;
              line-height: 22px;
              color: #208fb9;
            }
            .time {
              font-size: 12px;
              line-height: 14px;
              color: #999;
              margin-top: 5px;
            }
            .price {
              font-size: 12px;
              line-height: 14px;
              color: #999;
            }
          }
          &:hover {
            background: url(~images/c-yhq2.png) center center no-repeat;
            background-size: 100%;
            .num {
              color: #fff;
            }
            .ts {
              .name {
                color: #fff;
              }
              .time {
                color: #99cade;
              }
              .price {
                color: #99cade;
              }
            }
          }
        }
      }
    }
  }
}

.getsuccess {
  width: 320px;
  height: 310px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  .title {
    font-size: 22px;
    color: #333;
    line-height: 1;
  }
  .close {
    width: 14px;
    height: 14px;
    position: absolute;
    cursor: pointer;
    top: 40px;
    right: 40px;
  }
  .icon {
    width: 60px;
    height: 60px;
    margin: 30px auto 0;
  }
  .txt {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #a8a8a8;
    margin-top: 15px;
    span {
      color: #f5002f;
      text-decoration: underline;
    }
  }
  .close2 {
    width: 120px;
    height: 40px;
    background: #208fb9;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    margin: 25px auto 0;
  }
}

.EvaluationTips{
  padding: 30px;
  text-align: center;
}

::v-deep .el-input {
  width: auto;
}
::v-deep .el-input__inner {
  width: 74px;
  height: 30px;
  border: 1px solid #c2c2c2;
}
::v-deep .el-select .el-input__inner {
  margin-left: -1px;
  width: 45px;
  height: 30px;
  padding: 0 14px 0 10px;
  .el-input__icon {
    width: 14px;
    line-height: 28px;
  }
}
::v-deep .el-input__icon {
  width: 14px;
  line-height: 28px;
}
</style>
