<template>
  <div class="header">
    <div class="container">
      <div class="logo">
        <router-link to="/">
          <img :src="footInfo.login" alt="" />
        </router-link>
      </div>

      <div class="menu">
        <ul id="menu-list">
          <li>
            <router-link to="/">商城</router-link>
          </li>
          <li>
            <router-link to="/community">社区</router-link>
          </li>
          <li>
            <router-link to="/technical">技术服务</router-link>
          </li>
        </ul>
      </div>

      <div class="rbox">
        <router-link to="/Personal/Message" class="information">
          <img src="~images/icon1.png" alt="" />
          <span v-if="msgNun > 0">{{ msgNun }}</span>
          <div class="titles">系统消息</div>
        </router-link>
        <!-- <router-link to="/PrivateLetters" class="information">
          <img src="~images/icon8.png" alt="" />
          <span v-if="users_private > 0">{{ users_private }}</span>
          <div class="titles">个人消息</div>
        </router-link> -->
        <router-link to="/Personal" class="login">
          <img src="~images/icon2.png" alt="" />
          <div class="titles">个人中心</div>
        </router-link>
        <router-link :to="{
          path:'/Login',
          query:{
            source:'1'
          }
        }" v-show="false" class="logins">
          <img src="~images/denglu.png" alt="">
        </router-link>
        <div class="loginOut" v-if="isLogin" @click="loginOut()">
          <img src="~images/tcdenglu.png" alt="">
          <div class="titles">退出登录</div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "webHeader",
  data() {
    return {
      isLogin: false,
      msgNun: 0, //商城头部未读消息
      users_private: 0,
      footInfo:[]
    };
  },
  created() {
    this.getMesNun();
    this.getNewsNum();

    // //获取用户登录成功后储存的登录标志
    let token = localStorage.getItem("token");
    // // 登录状态不存在，获取服务器中的登录状态
    if (token) {
      this.isLogin = true;
      console.log(token);
    } else {
      this.getLogin();
    }
  },
  mounted () {
    this.$axios
    .post("/api/index.php?m=home&c=Lists&a=footer")
    .then((res) => {
      this.footInfo = res.data.res;
    });
  },
  methods: {
    // 获取登录状态
    getLogin() {
      this.$axios
      .post("/api/index.php?m=home&c=Lists&a=users_login")
      .then((res) => {
          console.log(res);
        if (res.data.status == 1) {
          this.isLogin = true;
          localStorage.setItem("token", res.data.token);
        } else {
          this.isLogin = false;
        }
      });
    },
    // 获取商城头部未读消息
    getMesNun() {
      this.$axios.post("/api/index.php?m=user&c=Users&a=unread").then((res) => {
        this.msgNun = res.data.res;
      });
    },

    //消息数量
    getNewsNum() {
      this.$axios.post("/api/index.php?m=user&c=Users&a=newss").then((res) => {
        console.log(res);
        this.users_private = res.data.res.users_private;
      });
    },

    // 退出登录
    loginOut() {
      this.$axios.post("/api/index.php?m=user&c=Users&a=logout").then((res) => {
        console.log(res);
        localStorage.removeItem("token");
        this.$router.push({ path: "/login",query:{ source:'1' } });
      });
    },
  },
};
</script>
<style scoped lang="scss">
.header {
  width: 100%;
  background: #fff;
  z-index: 9;
  position: sticky;
  top: 0;
  z-index: 880;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 80px;
    }
    .menu {
      margin-right: 40px;
      ul {
        display: flex;
        li {
          margin: 0 50px;
          font-size: 18px;
          color: #333;
          line-height: 90px;
          // @media (max-width: 1600px) {
          //   font-size: 16px;
          // }
          // @media (max-width: 1440px) {
          //   font-size: 14px;
          // }
          .router-link-exact-active {
            color: #208fb9;
          }
        }
      }
    }
    .rbox {
      display: flex;
      align-items: center;
      height: 90px;
      position: relative;
      z-index: 1;
      .information {
        width: 25px;
        height: 25px;
        position: relative;
        margin-right: 25px;
        span {
          width: 16px;
          height: 16px;
          background: #f5002f;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          color: #fff;
          position: absolute;
          right: -3px;
          top: -3px;
        }
        .titles{
          position: absolute;
          left: 100%;
          top: calc(100% + 10px);
          color: #333;
          font-size: 14px;
          white-space: nowrap;
          display: none;
        }
        &:hover{
          .titles{
            display: block;
          }
        }
      }
      .login {
        display: flex;
        align-items: center;
        font-size: 18px;
        color: #333;
        margin-right: 25px;
        width: 25px;
        height: 25px;
        position: relative;
        @media (max-width: 1600px) {
          font-size: 16px;
        }
        @media (max-width: 1440px) {
          font-size: 14px;
        }
        img {
          width: 25px;
          height: 25px;
          margin-right: 8px;
        }
        .titles{
          position: absolute;
          left: 100%;
          top: calc(100% + 10px);
          color: #333;
          font-size: 14px;
          white-space: nowrap;
          display: none;
        }
        &:hover{
          .titles{
            display: block;
          }
        }
      }
      .logins {
        display: flex;
        align-items: center;
        font-size: 18px;
        color: #333;
        width: 25px;
        height: 25px;
        position: relative;
        @media (max-width: 1600px) {
          font-size: 16px;
        }
        @media (max-width: 1440px) {
          font-size: 14px;
        }
        img {
          width: 25px;
          height: 25px;
        }
        .titles{
          position: absolute;
          left: 100%;
          top: calc(100% + 10px);
          color: #333;
          font-size: 14px;
          white-space: nowrap;
          display: none;
        }
        &:hover{
          .titles{
            display: block;
          }
        }
      }
      .loginOut {
        font-size: 18px;
        color: #333;
        cursor: pointer;
        width: 25px;
        height: 25px;
        position: relative;
        @media (max-width: 1600px) {
          font-size: 16px;
        }
        @media (max-width: 1440px) {
          font-size: 14px;
        }
        &:hover {
          color: #208fb9;
        }
        img {
          width: 25px;
          height: 25px;
        }
        .titles{
          position: absolute;
          left: 100%;
          top: 100%;
          color: #333;
          font-size: 14px;
          white-space: nowrap;
          display: none;
        }
        &:hover{
          .titles{
            display: block;
          }
        }
      }
    }
  }
}
</style>
