<template>
  <div>
    <CommunityHeader></CommunityHeader>

    <div class="draft">
      <div class="container">
        <div class="draftList">
          <div class="name">
            <ul>
              <li :class="{ active: isActive == 1 }" @click="changeActive(1)">
                为您推荐
              </li>
              <li :class="{ active: isActive == 2 }" @click="changeActive(2)">
                人气问答
              </li>
              <li :class="{ active: isActive == 3 }" @click="changeActive(3)">
                最新问答
              </li>
            </ul>
          </div>

          <div class="list">
            <ul>
              <li v-for="(item, index) of QuestionData" :key="index">
                <router-link
                  :to="{
                    path: '/QuestionDetails',
                    query: { ask_id: item.ask_id },
                  }"
                >
                  <div class="title">{{ item.ask_title }}</div>
                  <div class="tbox">
                    <div class="imgBox" v-if="item.litpic">
                      <div class="img" v-if="item.litpic">
                        <img :src="item.litpic" alt="" />
                      </div>
                    </div>
                    <div class="txt" v-html="item.content"></div>
                  </div>
                  <div class="labelBox" v-if="item.label != ''">
                    <div
                      class="label"
                      v-for="(label, labindex) of labelArr(item.label)"
                      :key="labindex"
                    >
                      {{ label }}
                    </div>
                  </div>
                  <div class="checkBox">
                    <div class="num">
                      <div class="answer">
                        <span>{{ item.UsersConut }}</span> 回答
                      </div>
                      <div class="focus">
                        <span>{{ item.collection }}</span> 关注
                      </div>
                    </div>
                    <div class="more">写回答</div>
                  </div>
                </router-link>
              </li>
            </ul>
          </div>
          <el-pagination
            id="c-page"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            background
            :current-page="currentPage"
            :page-sizes="pageSizes"
            :page-size="loadCount"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount"
            :pager-count="5"
            :hide-on-single-page="totalPage < 2"
          >
          </el-pagination>
        </div>
        <div class="aside">
          <!-- 论坛右侧写作 -->
          <WriteMenu></WriteMenu>

          <!-- 论坛右侧图片轮播 -->
          <rightSwiper></rightSwiper>

          <!-- 论坛右侧点赞收藏评论 -->
          <rightMenu></rightMenu>
        </div>
      </div>
    </div>

    <webFooter></webFooter>
  </div>
</template>
<script>
import CommunityHeader from "@/components/Community/CommunityHeader/index.vue";
import webFooter from "@/components/Footer/index.vue";
import WriteMenu from "@/components/Community/Aside/WriteMenu.vue";
import rightSwiper from "@/components/Community/Aside/rightSwiper2.vue";
import rightMenu from "@/components/Community/Aside/rightMenu.vue";
export default {
  name: "draft",
  data() {
    return {
      QuestionData: [], //问答列表
      isActive: 3,
      currentPage: 1, //当前页
      pageSizes: [12, 60, 120], //每页显示条数
      loadCount: 12, //每页条数
      totalCount: 0, //总条数
      totalPage: 0, //总页数
    };
  },
  computed: {},
  components: {
    CommunityHeader,
    webFooter,
    WriteMenu,
    rightSwiper,
    rightMenu,
  },
  created: function () {
    // 设置总页数
    this.totalPage = parseInt(
      (this.totalCount + this.loadCount - 1) / this.loadCount
    );
  },
  mounted() {
    this.getQuestionList3();
  },
  methods: {
    // 获取问答列表
    //推荐问答
    getQuestionList() {
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=index&type_id=2", {
          type_id: 2,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.QuestionData = res.data.res.recommend.recommend;
          this.totalCount = res.data.res.recommend.count;
          this.totalPage = res.data.res.recommend.total_page;
        });
    },
    //人气问答
    getQuestionList2() {
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=index&type_id=2", {
          type_id: 2,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.QuestionData = res.data.res.WeekList.WeekList;
          this.totalCount = res.data.res.WeekList.count;
          this.totalPage = res.data.res.WeekList.total_page;
        });
    },
    //最新问答
    getQuestionList3() {
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=index&type_id=2", {
          type_id: 2,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.QuestionData = res.data.res.AskData.AskData;
          this.totalCount = res.data.res.AskData.count;
          this.totalPage = res.data.res.AskData.total_page;
        });
    },

    // 设置每页多少条
    handleSizeChange(val) {
      this.loadCount = val;
      if (this.isactive == 1) {
        this.getQuestionList();
        return false;
      }
      if (this.isactive == 2) {
        this.getQuestionList2();
        return false;
      }
      if (this.isactive == 3) {
        this.getQuestionList3();
        return false;
      }
    },
    // 设置当前页
    handleCurrentChange(val) {
      this.currentPage = val;
      if (this.isactive == 1) {
        this.getQuestionList();
        return false;
      }
      if (this.isactive == 2) {
        this.getQuestionList2();
        return false;
      }
      if (this.isactive == 3) {
        this.getQuestionList3();
        return false;
      }
    },

    // 栏目切换
    changeActive(e) {
      this.isActive = e;
      if (e == 1) {
        //推荐问答
        this.currentPage = 1;
        this.getQuestionList();
      }
      if (e == 2) {
        //人气问答
        this.currentPage = 1;
        this.getQuestionList2();
      }
      if (e == 3) {
        //最新问答
        this.currentPage = 1;
        this.getQuestionList3();
      }
    },

    labelArr(label) {
      //读取标签
      if (label != null) {
        let lab = label.split(",");
        return lab;
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.draft {
  width: 100%;
  background: #f5f5f5;
  padding: 10px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .draftList {
      width: 75.71%;
      background: #fff;
      .name {
        width: 100%;
        padding: 0 30px;
        border-bottom: 2px solid #f5f5f5;
        ul {
          display: flex;
          margin-bottom: -2px;
          li {
            font-size: 18px;
            line-height: 60px;
            border-bottom: 2px solid transparent;
            color: #333;
            margin-right: 54px;
            transition: all ease-in 0.3s;
            cursor: pointer;
            &:hover {
              color: #208fb9;
            }
            &.active {
              color: #208fb9;
              border-bottom: 2px solid #208fb9;
              font-weight: bold;
            }
          }
        }
      }
      .list {
        width: 100%;
        ul {
          width: 100%;
          li {
            width: 100%;
            padding: 20px 30px 30px;
            border-bottom: 1px solid #f5f5f5;
            transition: all ease-in 0.3s;
            .title {
              width: 100%;
              font-size: 20px;
              color: #333;
              line-height: 30px;
              padding: 6px 0;
              display: block;
              transition: all ease-in 0.3s;
            }
            .tbox{
              width: 100%;
              margin-top: 15px;
              display: flex;
              .imgBox {
                width: 120px;
                display: flex;
                flex-shrink: 0;
                margin-right: 15px;
                .img {
                  width: 160px;
                  height: 120px;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
              }
              .txt {
                width: 100%;
                font-size: 14px;
                line-height: 28px;
                .more {
                  color: #208fb9;
                }
              }
            }
            .labelBox {
              width: 100%;
              margin-top: 20px;
              display: flex;
              .label {
                // width: 75px;
                padding: 0 5px;
                height: 28px;
                border-radius: 3px;
                background: #e5e5e5;
                font-size: 14px;
                color: #666;
                margin-right: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
            .checkBox {
              width: 100%;
              margin-top: 20px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .num {
                display: flex;
                font-size: 14px;
                color: #999;
                .focus {
                  margin-left: 20px;
                }
              }
              .more {
                line-height: 34px;
                padding: 0 29px;
                font-size: 14px;
                background: #f5f5f5;
                color: #333;
                transition: all ease-in 0.3s;
                border-radius: 3px;
                &:hover {
                  background: #208fb9;
                  color: #fff;
                }
              }
            }
            &:hover {
              box-shadow: 0 0 40px 0 rgba(32, 143, 185, 0.1);
              .title {
                color: #208fb9;
              }
            }
          }
        }
      }
    }
    .aside {
      width: 22.8%;
      .box1 {
        width: 100%;
        background: #fff;
        margin-bottom: 10px;
        padding: 0 30px 30px;
        .checkBox {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          padding: 17px 0 11px;
          .item {
            margin-right: 63px;
            padding: 10px 0;
            @media (max-width: 1600px) {
              margin-right: 30px;
            }
            .icon {
              width: 30px;
              margin: auto;
              img {
                width: 100%;
                &:last-child {
                  display: none;
                }
              }
            }
            .txt {
              font-size: 15px;
              color: #666;
              text-align: center;
              line-height: 23px;
            }
            &:hover {
              .icon {
                img {
                  &:first-child {
                    display: none;
                  }
                  &:last-child {
                    display: block;
                  }
                }
              }
              .txt {
                color: #208fb9;
              }
            }
          }
        }
        .checkBox2 {
          width: 100%;
          padding-top: 20px;
          border-top: 1px solid #f5f5f5;
          .draftBox {
            display: flex;
            align-items: center;
            color: #666;
            span {
              width: 18px;
              height: 14px;
              margin-right: 10px;
              display: flex;
              img {
                width: 100%;
                &:last-child {
                  display: none;
                }
              }
            }
            &:hover {
              span {
                img {
                  &:first-child {
                    display: none;
                  }
                  &:last-child {
                    display: block;
                  }
                }
              }
              color: #208fb9;
            }
          }
        }
      }
    }
  }
}
#c-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  background: #fff;
}
</style>
