<template>
  <div>
    <form action="" :model="loginForm">
      <div class="item">
        <input
          type="text"
          name=""
          id="mobile"
          class="txt tel"
          v-model="loginForm.user"
          placeholder="用户账号/手机号"
        />
      </div>
      <div class="item">
        <input
          type="password"
          name=""
          id="password"
          class="txt"
          v-model="loginForm.password"
          placeholder="密码"
          v-if="ifDisplay"
        />
        <input
          type="text"
          name=""
          id="password"
          class="txt"
          v-model="loginForm.password"
          placeholder="密码"
          v-else
        />
        <span class="password" @click="ifDisplay = !ifDisplay"
          ><img src="~images/icon4.png" alt=""
        /></span>
      </div>
      <div class="item forget">
        <div class="forgetPassword" @click="forgetPassword()">忘记密码</div>
      </div>
      <div class="item">
        <button
          @click="passwordLogin()"
          type="button"
          :loading="loading"
          class="sub"
        >
          登录
        </button>
      </div>
      <div class="tips">
        <input
          type="checkbox"
          name=""
          v-model="loginForm.checked"
          id=""
          class="ck"
        />
        <p>
          登录即代表同意
          <router-link to="/ForumAgreement" target="_blank"
            >《感知社区协议》</router-link
          >
          和
          <router-link to="/SaleContract" target="_blank"
            >《感算商城商品（服务）买卖合同》</router-link
          >
        </p>
      </div>
    </form>
  </div>
</template>
<script>
import debounce from "lodash.debounce";
export default {
  name: "PasswordLogin",
  props: ["mystate"],
  data() {
    return {
      data: [],
      loginForm: {
        user: "", //手机号
        password: "", //密码
        checked: false,
      },
      loading: false,
      state: this.mystate,
      ifDisplay: true,
    };
  },
  watch: {
    mystate(newVal) {
      this.state = newVal; //对父组件传过来的值进行监听，如果改变也对子组件内部的值进行改变
    },
  },
  created() {
    this.passwordLogin = debounce(this.passwordLogin, 500);
  },
  methods: {
    // 忘记密码
    forgetPassword: function () {
      this.$emit("getpassword", false);
    },

    //点击登录--账号密码登录
    passwordLogin() {
      if (this.loginForm.checked === false) {
        this.$message.closeAll();
        this.$message.error("请阅读并勾选协议！");
        return false;
      }
      if (this.loginForm.user === "") {
        this.$message.closeAll();
        this.$message.error("请输入用户名/手机号！");
        return false;
      }
      // let sjh1 = /^((12|13|14|15|16|17|18|19)+\d{9})$/;
      // if (!sjh1.test(this.loginForm.user)) {
      //   this.$message({
      //     showClose: true,
      //     message: "请输入正确的手机号！",
      //     type: "error",
      //   });
      //   return false;
      // }
      if (this.loginForm.password === "") {
        this.$message.closeAll();
        this.$message.error("请输入密码！");
        return false;
      }
      const pswReg = /^(\w*(?=\w*\d)(?=\w*[A-Za-z])\w*){8,16}$/;
      if (!pswReg.test(this.loginForm.password)) {
        this.$message.closeAll();
        this.$message.error("请输入正确密码！");
        return;
      }

      this.$axios
        .post("/api/index.php?m=user&c=Users&a=login", {
          username: this.loginForm.user,
          password: this.loginForm.password,
          source: this.$route.query.source
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
          } else {
            localStorage.setItem("token", res.data.token);
            this.$message.closeAll();
            this.$message.success(res.data.msg);
            //登录成功后，获取token后才可跳转
            if (this.$route.query.redirect) {
              let redirect_path = decodeURIComponent(
                this.$route.query.redirect
              );
              this.$router.push({ path: redirect_path });
            } else {
              this.$router.push({ path: "/" });
              // this.$router.go(-1);
            }
          }
        })
        .catch((error) => {
          console.log(error + "账号或密码输入错误");
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.item {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  .txt {
    width: 100%;
    height: 60px;
    background: #f5f5f5;
    padding: 0 20px;
    color: #333;
    font-size: 14px;
    &.tel {
      background: #f5f5f5 url(~images/icon3.png) 95% center no-repeat;
      background-size: 24px;
    }
    &::placeholder {
      color: #b9b9b9;
    }
  }
  .yzm {
    position: absolute;
    font-size: 14px;
    color: #208fb9;
    text-decoration: underline;
    top: 0;
    right: 0;
    height: 100%;
    background: #f5f5f5;
    padding-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .password {
    position: absolute;
    font-size: 14px;
    color: #208fb9;
    text-decoration: underline;
    top: 0;
    right: 0;
    height: 100%;
    background: #f5f5f5;
    padding-right: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      width: 24px;
    }
  }
  &.forget {
    display: flex;
    justify-content: flex-end;
  }
  .forgetPassword {
    font-size: 12px;
    color: #b9b9b9;
    text-decoration: underline;
    transition: all ease-in 0.3s;
    cursor: pointer;
    &:hover {
      color: #208fb9;
    }
  }
  .sub {
    width: 100%;
    height: 60px;
    background: #208fb9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 20px;
    font-size: 16px;
  }
}
.tips {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 12px;
  color: #b9b9b9;
  .ck {
    width: 18px;
    height: 18px;
    border: 1px solid #bfbfbf;
    margin-right: 7px;
    cursor: pointer;
  }
  a {
    color: #208fb9;
    transition: all ease-in 0.3s;
    &:hover {
      color: #208fb9;
    }
  }
}
</style>
