<template>
  <div>
    <CommunityHeader></CommunityHeader>

    <div class="cindex">
      <div class="container">
        <div class="left">
          <!-- <div class="bigimg">
            <img :src="users.background_map" alt="" />
          </div> -->
          <div class="box">
            <div class="menu">
              <ul>
                <li class="on">搜索结果</li>
              </ul>
            </div>
            <div class="list" v-if="this.type_id == 3">
              <div class="item recommend">
                <ul>
                  <li v-for="(item, index) of SearchList" :key="index">
                    <router-link
                      :to="{
                        path: '/ArticleDetails',
                        query: { ask_id: item.ask_id },
                      }"
                    >
                      <div class="title" v-html="item.ask_title"></div>
                      <div class="txtBox">
                        <div
                          class="img"
                          v-show="item.litpic != '' && item.litpic != null"
                        >
                          <img :src="item.litpic" alt="" />
                        </div>
                        <div class="txt" v-html="item.content"></div>
                      </div>
                    </router-link>
                    <div class="checkBox">
                      <div class="checkitem" @click="recommendlike(item)">
                        <span v-if="item.zan == '0'"
                          ><img src="~images/like.png" alt=""
                        /></span>
                        <span v-else
                          ><img src="~images/like2.png" alt="" />
                        </span>
                      </div>
                      <div class="checkitem" @click="unlike(item)">
                        <span v-if="item.cai == '0'"
                          ><img src="~images/unlike.png" alt=""
                        /></span>
                        <span v-else
                          ><img src="~images/unlike2.jpg" alt="" />
                        </span>
                      </div>
                      <router-link
                        class="checkitem"
                        :to="{
                          path: '/ArticleDetails',
                          query: { ask_id: item.ask_id },
                        }"
                      >
                        <img src="~images/comment.png" alt="" />
                        <span
                          v-if="
                            item.UsersConut != '' && item.UsersConut != null
                          "
                        >
                          {{ item.UsersConut }}</span
                        >
                      </router-link>
                      <div class="checkitem" @click="share()">
                        <img src="~images/share.png" alt="" /> 分享
                      </div>
                      <div class="checkitem" @click="recommendCollect(item)">
                        <span v-if="item.collection == '0'"
                          ><img src="~images/collect.png" alt="" /> 收藏</span
                        >
                        <span v-else
                          ><img src="~images/collect2.png" alt="" /> 已收藏
                        </span>
                      </div>
                      <div class="checkitem" @click="report(item)">
                        <img src="~images/report.png" alt="" /> 举报
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="nolist" v-if="SearchList.length < 1">
                  暂无帖子
                </div>
              </div>
            </div>
            <div class="list question" v-if="this.type_id == 2">
              <ul>
                <li v-for="(item, index) of SearchList" :key="index">
                  <router-link
                    :to="{
                      path: '/QuestionDetails',
                      query: { ask_id: item.ask_id },
                    }"
                  >
                    <div class="title">{{ item.ask_title }}</div>
                    <div class="tbox">
                      <div class="imgBox" v-if="item.litpic">
                        <div class="img" v-if="item.litpic">
                          <img :src="item.litpic" alt="" />
                        </div>
                      </div>
                      <div class="txt" v-html="item.content"></div>
                    </div>
                    <div class="labelBox" v-if="item.label != ''">
                      <div
                        class="label"
                        v-for="(label, labindex) of labelArr(item.label)"
                        :key="labindex"
                      >
                        {{ label }}
                      </div>
                    </div>
                    <div class="checkBox">
                      <div class="num">
                        <div class="answer">
                          <span>{{ item.UsersConut }}</span> 回答
                        </div>
                        <div class="focus">
                          <span>{{ item.collection }}</span> 关注
                        </div>
                      </div>
                      <div class="more">写回答</div>
                    </div>
                  </router-link>
                </li>
              </ul>
              <div class="nolist" v-if="SearchList.length < 1">
                暂无帖子
              </div>
            </div>
          </div>
          <el-pagination
            id="c-page"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            background
            :current-page="currentPage"
            :page-sizes="pageSizes"
            :page-size="loadCount"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount"
            :pager-count="5"
            :hide-on-single-page="totalPage < 2"
          >
          </el-pagination>
        </div>
        <div class="right">
          <!-- 论坛右侧写作 -->
          <WriteMenu></WriteMenu>

          <!-- 论坛右侧图片轮播 -->
          <rightSwiper></rightSwiper>

          <!-- 论坛右侧点赞收藏评论 -->
          <rightMenu ref="menuNums"></rightMenu>
        </div>
      </div>
    </div>

    <webFooter></webFooter>
  </div>
</template>
<script>
import CommunityHeader from "@/components/Community/CommunityHeader/index.vue";
import webFooter from "@/components/Footer/index.vue";
import rightSwiper from "@/components/Community/Aside/rightSwiper2.vue";
import WriteMenu from "@/components/Community/Aside/WriteMenu.vue";
import rightMenu from "@/components/Community/Aside/rightMenu.vue";
export default {
  name: "searchList",
  data() {
    return {
      SearchList: [], //搜索结果列表
      isShow: 2, //关注、推荐、热榜-1 2 3
      focus: 1, //是否有关注-0 无，1 有
      currentPage: 1, //当前页
      pageSizes: [12, 60, 120], //每页显示条数
      loadCount: 12, //每页条数
      totalCount: 0, //总条数
      totalPage: 0, //总页数
      users: [],
      type_id:''
    };
  },
  components: {
    //定义组件
    CommunityHeader,
    webFooter,
    WriteMenu,
    rightSwiper,
    rightMenu,
  },
  created: function () {
    // 设置总页数
    this.totalPage = parseInt(
      (this.totalCount + this.loadCount - 1) / this.loadCount
    );
    this.type_id = this.$route.query.type_id;
    this.getUserInfo();
    this.getSearchList();
  },
  watch: {
    $route: {
      handler () {
        this.$route.query.key;
        // 更新数据
        this.getSearchList();
      },
      
      immediate: true
    }
  },
  methods: {
    //用户信息
    getUserInfo() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_center", {
          type_id: 2,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          // if(res.data.status != 1){
          //   this.$message.error(res.data.msg);
          //   return false;
          // }
          this.users = res.data.res.users;
        });
    },

    //搜索结果列表
    getSearchList() {
      console.log(this.type_id);
      this.$axios
      .post("/api/index.php?m=plugins&c=Ask&a=index&type_id= " + this.type_id + " &search_name=" + this.$route.query.key, {
        page: this.currentPage,
        limit: this.loadCount,
        search_name: this.$route.query.key,
      })
      .then((res) => {
        console.log(res);
        this.SearchList = res.data.res.AskData.AskData;
      });
      
    },

    // 设置每页多少条
    handleSizeChange(val) {
      this.loadCount = val;
      if (this.isShow == 1) {
        this.getFocusList();
        return false;
      }
      if (this.isShow == 2) {
        this.getArticList();
        return false;
      }
      if (this.isShow == 3) {
        this.getHotList();
        return false;
      }
    },
    // 设置当前页
    handleCurrentChange(val) {
      this.currentPage = val;
      if (this.isShow == 1) {
        this.getFocusList();
        return false;
      }
      if (this.isShow == 2) {
        this.getArticList();
        return false;
      }
      if (this.isShow == 3) {
        this.getHotList();
        return false;
      }
    },

    // 关注
    recommendfocus(item) {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=follow", {
          follow_id: item.users_id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.getSearchList();
          this.$refs.menuNums.getCommentList();
        });
    },

    // 点赞
    recommendlike(item) {
      if (item.cai == 1) {
        return false;
      }
      this.$axios
        .post("/api/index.php?m=plugins&c=zan&a=add&_ajax=1", {
          aid: item.ask_id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.getSearchList();
          this.$refs.menuNums.getCommentList();
        });
    },

    // 踩
    unlike(item) {
      if (item.zan == 1) {
        return false;
      }
      this.$axios
        .post("/api/index.php?m=plugins&c=zan&a=add&_ajax=1", {
          aid: item.ask_id,
          zan_count: 1,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.getSearchList();
          this.$refs.menuNums.getCommentList();
        });
    },

    //收藏
    recommendCollect(item) {
      this.$axios
        .post("/api/index.php?m=plugins&c=Collection&a=ajax_save", {
          ask_id: item.ask_id,
          _ajax: 1,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.getSearchList();
          this.$refs.menuNums.getCommentList();
        });
    },

    //举报
    report(item) {
      this.$axios
        .post("/api/index.php?m=plugins&c=ask&a=ask_report", {
          ask_id: item.ask_id,
          content: item.content,
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
        });
    },
  },
};
</script>
<style scoped lang="scss">
.cindex {
  width: 100%;
  background: #f5f5f5;
  padding: 20px 0 20px;
  .container {
    display: flex;
    justify-content: space-between;
    .left {
      width: 75.7%;
      .bigimg {
        width: 100%;
        height: 230px;
        margin-bottom: 22px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .box {
        width: 100%;
        background: #fff;
        .menu {
          width: 100%;
          padding-left: 25px;
          border-bottom: 2px solid #f5f5f5;
          ul {
            display: flex;
            li {
              font-size: 18px;
              color: #333;
              line-height: 58px;
              margin-right: 55px;
              cursor: pointer;
              border-bottom: 2px solid transparent;
              margin-bottom: -2px;
              &:hover {
                color: #208fb9;
              }
              &.on {
                font-weight: bold;
                color: #208fb9;
                border-bottom: 2px solid #208fb9;
              }
            }
          }
        }
        .list {
          width: 100%;
          .item {
            width: 100%;
            &.focus {
              padding: 30px;

              .noFocus {
                width: 100%;
                padding: 82px 0 76px;
                .icon {
                  width: 80px;
                  height: 80px;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                .txt {
                  font-size: 16px;
                  line-height: 24px;
                  color: #999;
                  margin-top: 10px;
                  text-align: center;
                }
              }

              ul {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                li {
                  width: 49%;
                  border: 1px solid #eee;
                  margin-bottom: 20px;
                  margin-right: 2%;
                  transition: all ease-in 0.3s;
                  &:nth-child(2n) {
                    margin-right: 0;
                  }
                  &:nth-last-of-type(-n + 2) {
                    margin-bottom: 0;
                  }
                  a {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    padding: 25px 37px 25px 30px;
                    .Avatar {
                      width: 50px;
                      height: 50px;
                      border-radius: 50%;
                      overflow: hidden;
                      margin-right: 20px;
                      flex-shrink: 0;
                      img {
                        width: 100%;
                        height: 100%;
                      }
                    }
                    .FocusContent {
                      width: 100%;
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      .txtBox {
                        width: calc(100% - 80px);
                        .name {
                          font-size: 16px;
                          color: #333;
                          line-height: 20px;
                          transition: all ease-in 0.3s;
                        }
                        .tips {
                          font-size: 13px;
                          color: #989898;
                          line-height: 20px;
                        }
                      }
                      .focusBotton {
                        width: 70px;
                        height: 30px;
                        border-radius: 3px;
                        border: 1px solid #208fb9;
                        color: #208fb9;
                        font-size: 13px;
                        background: #fff;
                        transition: all ease-in 0.3s;
                        cursor: pointer;
                      }
                    }
                  }
                  &:hover {
                    background: #eee;
                    .Avatar {
                      border: 2px solid #208fb9;
                    }
                    .FocusContent {
                      .txtBox {
                        .name {
                          color: #208fb9;
                        }
                      }
                      .focusBotton {
                        color: #fff;
                        background: #208fb9;
                      }
                    }
                  }
                }
              }

              .focusRecommend {
                width: 100%;
                margin-top: 40px;
                .title {
                  font-size: 18px;
                  color: #333;
                  line-height: 20px;
                  margin-bottom: 20px;
                }
              }
            }
            &.recommend {
              ul {
                li {
                  width: 100%;
                  border-bottom: 2px solid #f5f5f5;
                  padding: 17px 30px 33px;
                  &:hover {
                    .title {
                      color: #208fb9;
                    }
                  }
                  .title {
                    width: 100%;
                    color: #333;
                    font-size: 20px;
                    line-height: 42px;
                    transition: all ease-in 0.3s;
                    display: block;
                  }
                  .txtBox {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    margin-top: 15px;
                    .img {
                      width: 220px;
                      margin-right: 20px;
                      flex-shrink: 0;
                      img {
                        width: 100%;
                      }
                    }
                    .txt {
                      width: 100%;
                      font-size: 14px;
                      line-height: 28px;
                      color: #676767;
                      display: -webkit-box;
                      -webkit-box-orient: vertical;
                      -webkit-line-clamp: 6;
                      overflow: hidden;
                      .more {
                        color: #208fb9;
                      }
                    }
                    &.tbox2 {
                      .txt {
                        width: 100%;
                      }
                    }
                  }
                  .checkBox {
                    width: 100%;
                    display: flex;
                    margin-top: 20px;
                    font-size: 15px;
                    color: #999;
                    .checkitem {
                      cursor: pointer;
                      display: flex;
                      align-items: center;
                      flex-wrap: nowrap;
                      margin-right: 30px;
                      span {
                        display: flex;
                        align-items: center;
                        flex-wrap: nowrap;
                      }
                      img {
                        margin-right: 5px;
                      }
                    }
                    .like {
                      margin-right: 30px;
                    }
                    .unlike {
                      margin-right: 30px;
                    }
                    .comment {
                      margin-right: 30px;
                    }
                    .share {
                      margin-right: 30px;
                    }
                    .collect {
                      margin-right: 30px;
                    }
                    .report {
                      color: #999;
                    }
                  }
                }
              }
            }
          }
        }
        .list.question {
          width: 100%;
          ul {
            width: 100%;
            li {
              width: 100%;
              padding: 20px 30px 30px;
              border-bottom: 1px solid #f5f5f5;
              transition: all ease-in 0.3s;
              .title {
                width: 100%;
                font-size: 20px;
                color: #333;
                line-height: 30px;
                padding: 6px 0;
                display: block;
                transition: all ease-in 0.3s;
              }
              .tbox{
                width: 100%;
                margin-top: 15px;
                display: flex;
                .imgBox {
                  width: 120px;
                  display: flex;
                  flex-shrink: 0;
                  margin-right: 15px;
                  .img {
                    width: 160px;
                    height: 120px;
                    img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                }
                .txt {
                  width: 100%;
                  font-size: 14px;
                  line-height: 28px;
                  .more {
                    color: #208fb9;
                  }
                }
              }
              .labelBox {
                width: 100%;
                margin-top: 20px;
                display: flex;
                .label {
                  // width: 75px;
                  padding: 0 5px;
                  height: 28px;
                  border-radius: 3px;
                  background: #e5e5e5;
                  font-size: 14px;
                  color: #666;
                  margin-right: 5px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
              .checkBox {
                width: 100%;
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .num {
                  display: flex;
                  font-size: 14px;
                  color: #999;
                  .focus {
                    margin-left: 20px;
                  }
                }
                .more {
                  line-height: 34px;
                  padding: 0 29px;
                  font-size: 14px;
                  background: #f5f5f5;
                  color: #333;
                  transition: all ease-in 0.3s;
                  border-radius: 3px;
                  &:hover {
                    background: #208fb9;
                    color: #fff;
                  }
                }
              }
              &:hover {
                box-shadow: 0 0 40px 0 rgba(32, 143, 185, 0.1);
                .title {
                  color: #208fb9;
                }
              }
            }
          }
        }
        .nolist{
          widows: 100%;
          padding: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 22px;
          color: #333;
          height: 100px;
        }
      }
    }
    .right {
      width: 22.8%;
    }
  }
}

#c-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  background: #fff;
}
</style>
