<template>
  <div>
    <CommunityHeader></CommunityHeader>

    <div class="write">
      <div class="container">
        <div class="content">
          <div class="editorBox">
            <div class="name">发布文章</div>
            <!-- 标题 -->
            <input
              type="text"
              name=""
              id="title"
              class="title"
              v-model="articTitle"
              @input="widthCheck($event.target, 100)"
              placeholder="请输入标题（最多100字）"
            />
            <!-- 富文本编辑器 -->
            <div id="editor"></div>
            <!-- 文章标签 -->
            <div class="label">
              <div class="tips">文章标签</div>
              <div class="labelBox">
                <span>
                  <el-tag
                    :key="tag"
                    v-for="tag in dynamicTags"
                    closable
                    :disable-transitions="false"
                    @close="handleClose(tag)"
                  >
                    {{ tag }}
                  </el-tag>
                </span>
                <span>
                  <el-input
                    class="input-new-tag addLabel"
                    v-if="inputVisible"
                    v-model="inputValue"
                    ref="saveTagInput"
                    size="small"
                    @keyup.enter.native="handleInputConfirm"
                    @blur="handleInputConfirm"
                  >
                  </el-input>
                  <el-button
                    v-else
                    class="button-new-tag addLabel"
                    size="small"
                    @click="showInput"
                    >点击输入标签</el-button
                  >
                  <div class="add">
                    <img src="~images/writer-icon2.png" alt="" />
                  </div>
                </span>
              </div>
            </div>
          </div>
          <div class="chooseBox">
            <div class="chooseCover">
              <div class="title">展示封面</div>
              <div class="radioBox">
                <el-radio-group v-model="articCover">
                  <el-radio :label="1">单图</el-radio>
                  <el-radio :label="2">无封面</el-radio>
                </el-radio-group>
              </div>
              <div class="coverBox" v-if="articCover == 1">
                <el-upload
                  class="avatar-uploader"
                  action="/api/index.php?m=user&c=Uploadify&a=imageUp"
                  :show-file-list="false"
                  :on-success="handleAvatarSuccess"
                  :before-upload="beforeAvatarUpload"
                  accept="image/jpeg,image/jpg,image/png,image/svg"
                >
                  <img
                    v-if="articImageUrl"
                    :src="articImageUrl"
                    class="avatar"
                  />
                  <div class="addCover" v-if="!articImageUrl">
                    <div class="icon">
                      <img src="~images/writer-icon4.png" alt="" />
                    </div>
                    <div class="txt">添加封面图片</div>
                  </div>
                </el-upload>

                <div class="tips">良好的封面有利于推荐，格式支持JPEG</div>
              </div>
            </div>
            <div class="articType">
              <div class="title">文章类型</div>
              <div class="radioBox">
                <el-radio-group v-model="articType">
                  <el-radio :label="1">原创</el-radio>
                  <el-radio :label="2">转载</el-radio>
                </el-radio-group>
              </div>
            </div>
            <div class="releaseForm">
              <div class="title">发布形式</div>
              <div class="radioBox">
                <el-radio-group v-model="articAuthority">
                  <el-radio :label="0">公开</el-radio>
                  <el-radio :label="1">粉丝可见</el-radio>
                  <el-radio :label="2">仅我可见</el-radio>
                </el-radio-group>
              </div>
            </div>
          </div>
        </div>
        <div class="chooseBox2">
          <input
            type="button"
            class="btn"
            value="草稿箱"
            v-if="this.$route.query.ask_id"
            @click="saveDraftArtic()"
          />
          <input
            type="button"
            class="btn"
            value="草稿箱"
            v-else
            @click="SaveToDraft()"
          />
          <input type="button" class="btn" value="发布" @click="release()" />
          <div class="tips" v-if="this.$route.query.ask_id">
            <img src="~images/writer-icon3.png" alt="" /> 草稿最后保存时间
            {{ moment(addTime * 1000).format("YYYY年MM月DD日 h:mm:ss") }}
          </div>
        </div>
      </div>
    </div>

    <webFooter></webFooter>
  </div>
</template>
<script>
import CommunityHeader from "@/components/Community/CommunityHeader/index.vue";
import webFooter from "@/components/Footer/index.vue";
import E from "wangeditor";
import moment from "moment";
export default {
  name: "write",
  data() {
    return {
      dynamicTags: [], //标签
      inputVisible: false,
      inputValue: "",
      articTitle: "", //文章标题
      articCover: 1, //封面图
      articImageUrl: "", //封面图url
      articType: 1, //文章类型
      articAuthority: 0, //发布形式
      addTime: "", //保存时间
      ask_id: "",
    };
  },
  components: {
    CommunityHeader,
    webFooter,
  },
  created() {
    // //获取用户登录成功后储存的登录标志
    let token = localStorage.getItem("token");
    // // 登录状态不存在，获取服务器中的登录状态
    if (!token) {
      this.getLogin();
    } else {
      this.isLogin = true;
    }
  },
  mounted() {
    //   wangediter
    this.editor = new E("#editor");
    //  上传图片到服务器，base64形式
    this.editor.config.uploadImgShowBase64 = true;
    //  配置 server 接口地址
    this.editor.config.uploadImgServer =
      "/api/index.php?m=user&c=Uploadify&a=imageUp2";
    this.editor.config.uploadFileName = "file";
    this.editor.config.uploadImgMaxSize = 2 * 1024 * 1024; // 2M
    //  隐藏网络图片
    this.editor.config.showLinkImg = false;
    //  隐藏全屏按钮
    this.editor.config.showFullScreen = false;
    //  创建富文本编辑器
    // this.editor.config.onchange = function () {
    //   if (this.editor.txt.html() === "") {
    //     this.editor.txt.html(" &nbsp");
    //   }
    // };
    this.editor.create();
    //  富文本内容s
    this.editor.txt.html();

    if (this.$route.query.ask_id) {
      this.ask_id = this.$route.query.ask_id;
      this.getDraftInfo();
    }
  },
  methods: {
    moment,
    // 获取登录状态
    getLogin() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=users_login")
        .then((res) => {
          if (res.data.status == 1) {
            this.isLogin = true;
            localStorage.setItem("token", res.data.token);
          } else {
            this.isLogin = false;
          }
        });
    },
    getDraftInfo() {
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=edit_drafts", {
          ask_id: this.ask_id,
        })
        .then((res) => {
          console.log(res);
          this.articTitle = res.data.res.ask_title; //文章标题
          this.editor.txt.html(res.data.res.content); //文章内容
          if (res.data.res.label) {
            this.dynamicTags = res.data.res.label.split(","); //标签
          } else {
            this.dynamicTags = [];
          }
          this.articCover = res.data.res.exhibition; //封面图类型
          this.articImageUrl = res.data.res.litpic; //封面图url
          this.articType = res.data.res.article_type; //文章类型
          this.articAuthority = res.data.res.so; //发布形式
          this.addTime = res.data.res.add_time; //保存时间
        });
    },

    widthCheck(str, len){
      var temp = 0
      for(var i = 0; i <str.value.length; i++){
        if (/[\u4e00-\u9fa5]/.test(str.value[i])) {
          temp += 2
        } else {
          temp++
        }
        if (temp > len) {
          str.value = str.value.substr(0, i);
          this.$message.closeAll();
          this.$message.error("标题最多100字");
        }
      }
    },

    // 添加标签
    handleClose(tag) {
      this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
    },

    showInput() {
      this.inputVisible = true;
      this.$nextTick((_) => {
        console.log(_);
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },

    handleInputConfirm() {
      let inputValue = this.inputValue;
      if (inputValue) {
        this.dynamicTags.push(inputValue);
      }
      this.inputVisible = false;
      this.inputValue = "";
    },

    // 上传封面图
    handleAvatarSuccess(res) {
      this.imageUrl = res.url;
      this.articImageUrl = this.imageUrl;
      console.log(this.articImageUrl);
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isLt2M = file.size / 1024 / 1024 < 2;
      const _ajax = 1;
      if (!isJPG) {
        this.$message.closeAll();
        this.$message.error("上传头像图片只能是 JPG 格式!");
      }
      if (!isLt2M) {
        this.$message.closeAll();
        this.$message.error("上传头像图片大小不能超过 2MB!");
      }
      return isJPG && isLt2M && _ajax;
    },

    // 发布文章
    release() {
      if(!this.isLogin){
        this.$message.closeAll();
        this.$message.error("请先登录！");
        return false;
      }
      if (this.articTitle == "") {
        this.$message.closeAll();
        this.$message.error("请输入文章标题！");
        return false;
      }
      if (this.editor.txt.html() == "") {
        this.$message.closeAll();
        this.$message.error("请编辑文章内容！");
        return false;
      }
      if (this.articCover == 1 && this.articImageUrl == "") {
        this.$message.closeAll();
        this.$message.error("请上传封面图！");
        return false;
      }
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=add_ask", {
          drafts_id: this.ask_id,
          ask_title: this.articTitle, //文章标题
          content: this.editor.txt.html(), //文章内容
          label: this.dynamicTags.join(","), //文章标签
          exhibition: this.articCover, //封面图类型
          litpic: this.articImageUrl, //帖子文章图片
          type_id: 3, //栏目id-文章3、问题2
          article_type: this.articType, //文章类型-原创、转载
          so: this.articAuthority, //权限-公开、关注可见、仅自己可见
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.$router.push({ path: "/Community",query:{key:'4'} });
        });
    },

    //编辑草稿箱
    saveDraftArtic() {
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=edit_drafts", {
          ask_id: this.ask_id, //文章id
          ask_title: this.articTitle, //文章标题
          content: this.editor.txt.html(), //文章内容
          label: this.dynamicTags.join(","), //文章标签
          exhibition: this.articCover, //封面图类型
          litpic: this.articImageUrl, //帖子文章图片
          type_id: 3, //栏目id-文章3、问题2
          article_type: this.articType, //文章类型-原创、转载
          so: this.articAuthority, //权限-公开、关注可见、仅自己可见
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            console.log(res.data.msg);
            return;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.$router.push("/WriteDraft");
        });
    },

    // 保存到草稿箱
    SaveToDraft() {
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=drafts", {
          ask_title: this.articTitle, //文章标题
          content: this.editor.txt.html(), //文章内容
          label: this.dynamicTags.join(","), //文章标签
          exhibition: this.articCover, //封面图类型
          litpic: this.articImageUrl, //帖子文章图片
          type_id: 3, //栏目id-文章3、问题2
          article_type: this.articType, //文章类型-原创、转载
          so: this.articAuthority, //权限-公开、关注可见、仅自己可见
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.closeAll();
            this.$message.error(res.data.msg);
            return;
          }
          this.$message.closeAll();
          this.$message.success(res.data.msg);
          this.$router.push("/WriteDraft");
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.write {
  width: 100%;
  background: #f5f5f5;
  padding: 10px 0;
  .container {
    background: #fff;
    padding-bottom: 30px;
    .content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .editorBox {
        width: 77%;
        background: #fff;
        padding: 30px;
        .name {
          font-size: 18px;
          color: #343434;
          line-height: 1;
        }
        .title {
          width: 100%;
          border: 1px solid #e5e5e5;
          border-bottom: none;
          margin-top: 15px;
          height: 50px;
          padding: 0 18px;
        }
        .label {
          width: 100%;
          border: 1px solid #e5e5e5;
          border-top: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 11px 15px;
          .tips {
            font-size: 14px;
            line-height: 26px;
            color: #000;
            flex-shrink: 0;
            margin-right: 27px;
            font-weight: bold;
          }
          .labelBox {
            width: 100%;
            display: flex;
            justify-content: space-between;
            span {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              position: relative;
            }
            ::v-deep .el-tag {
              margin-right: 5px;
            }
            .list {
              width: 72.5%;
              display: flex;
              flex-wrap: wrap;
              margin-left: 27px;
              @media (max-width: 1560px) {
                width: 67.5%;
              }
              .item {
                color: #208fb9;
                font-size: 14px;
                line-height: 24px;
                padding: 0 13px;
                border: 1px solid #208fb9;
                border-radius: 3px;
                position: relative;
                margin-right: 15px;
                .del {
                  width: 14px;
                  height: 14px;
                  position: absolute;
                  top: -5px;
                  right: -5px;
                  z-index: 2;
                  display: flex;
                  cursor: pointer;
                }
              }
            }
            .addLabel {
              width: 108px;
              height: 32px;
              display: flex;
              color: #999;
              border: none;
              // margin-right: 10px;
              // background: url(~images/writer-icon2.png) right center no-repeat;
            }
          }
        }
      }
      .chooseBox {
        width: 22.85%;
        background: #fff;
        padding: 30px 30px 30px 10px;
        .chooseCover {
          width: 100%;
          .title {
            font-size: 18px;
            color: #343434;
            line-height: 1;
          }
          .radioBox {
            width: 100%;
            margin-top: 20px;
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #999;
            .el-radio-group {
              width: 100%;
              display: flex;
            }
            label {
              margin-right: 16px;
              height: 20px;
              cursor: pointer;
              &:last-child {
                margin-right: 0;
              }
              @media (max-width: 1560px) {
                margin-right: 7px;
              }
            }
          }
          .coverBox {
            width: 100%;
            margin-top: 20px;
            .avatar-uploader {
              width: 100%;
            }
            .avatar {
              width: 100%;
            }
            .addCover {
              width: 100%;
              background: #f5f5f5;
              padding: 33px 0;
              cursor: pointer;
              display: flex;
              flex-wrap: wrap;
              align-content: center;
              .icon {
                width: 40px;
                height: 31px;
                margin: auto;
              }
              .txt {
                width: 100%;
                font-size: 14px;
                color: #bbb;
                text-align: center;
                margin-top: 10px;
              }
            }
            .tips {
              width: 100%;
              font-size: 12px;
              color: #aaa;
              text-align: center;
              line-height: 18px;
              margin-top: 10px;
            }
          }
        }
        .articType {
          width: 100%;
          margin-top: 36px;
          .title {
            font-size: 18px;
            color: #343434;
            line-height: 1;
          }
          .radioBox {
            width: 100%;
            margin-top: 20px;
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #999;
            .el-radio-group {
              width: 100%;
              display: flex;
            }
            label {
              margin-right: 16px;
              height: 20px;
              cursor: pointer;
              &:last-child {
                margin-right: 0;
              }
              @media (max-width: 1560px) {
                margin-right: 7px;
              }
            }
          }
        }
        .releaseForm {
          width: 100%;
          margin-top: 40px;
          .title {
            font-size: 18px;
            color: #343434;
            line-height: 1;
          }
          .radioBox {
            width: 100%;
            margin-top: 20px;
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #999;
            .el-radio-group {
              width: 100%;
              display: flex;
            }
            label {
              margin-right: 16px;
              height: 20px;
              cursor: pointer;
              &:last-child {
                margin-right: 0;
              }
              @media (max-width: 1560px) {
                margin-right: 7px;
              }
            }
          }
        }
      }
    }

    .chooseBox2 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-top: 30px;
      .btn {
        width: 150px;
        height: 42px;
        border: 1px solid #208fb9;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #208fb9;
        margin: 0 10px;
        cursor: pointer;
        transition: all ease-in 0.3s;
        &:hover {
          color: #fff;
          background: #208fb9;
        }
      }
      .tips {
        position: absolute;
        left: 64.5%;
        font-size: 14px;
        color: #999;
        display: flex;
        align-items: center;
        img {
          width: 16px;
          margin-right: 8px;
        }
      }
    }
  }
}

// 富文本文本区域背景颜色
#editor{
  position: relative;
  z-index: 0;
}
#editor ::v-deep .w-e-text-container {
  height: 225px !important;
}
#editor ::v-deep .w-e-text {
  background: #f5f5f5;
  padding: 0 18px;
}
#editor ::v-deep .w-e-text-container .placeholder {
  color: #bbb;
  z-index: 2;
  left: 18px;
}

// 单选框选中颜色
::v-deep .el-radio__input.is-checked + .el-radio__label {
  color: #208fb9;
}
::v-deep .el-radio__input.is-checked .el-radio__inner {
  border: 1px solid #208fb9;
  background: #fff;
}
::v-deep .el-radio__inner::after {
  background: #208fb9;
}

::v-deep .el-upload {
  width: 100%;
}
</style>
